n8n_files/ContabilFlow.json
{
  "name": "ContabilFlow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3712,
        192
      ],
      "id": "e18705a0-cfd0-44a7-8778-123f3dc8556b",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "content": "Modelos contábeis",
        "height": 700,
        "width": 1280,
        "color": 5
      },
      "id": "045a72f7-c093-4b44-841e-01c17dfcb1c7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2768,
        64
      ]
    },
    {
      "parameters": {
        "path": "modelos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3040,
        192
      ],
      "id": "6f290144-9245-41fe-8635-41cbdf8f72bf",
      "name": "modelos",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT *\nFROM contab.modelos\nWHERE empresa_id = {{ $json.empresa_id }}\n\nAND (\n      NULLIF('{{ $json.tipo_evento }}','') IS NULL\n      OR tipo_evento::text = '{{ $json.tipo_evento }}'\n)\n\nAND (\n      '{{ $json.sistema }}' IS NULL\n      OR '{{ $json.sistema }}' = ''\n      OR '{{ $json.sistema }}' = 'null'\n      OR sistema::text = '{{ $json.sistema }}'\n)\n\nAND (\n      '{{ $json.classificacao }}' IS NULL\n      OR '{{ $json.classificacao }}' = ''\n      OR '{{ $json.classificacao }}' = 'null'\n      OR classificacao::text = '{{ $json.classificacao }}'\n)\n\nORDER BY codigo ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3456,
        192
      ],
      "id": "4a70c3bc-483d-46dd-9796-5d189b15e16f",
      "name": "Modelos",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "984308d0-1935-4a56-a2f0-d674d9c74f81",
              "name": "tipo_evento",
              "value": "={{ $json.query.tipo_evento}}",
              "type": "string"
            },
            {
              "id": "edffb59c-abf2-4bd3-a363-bf42d6c48cdc",
              "name": "sistema",
              "value": "={{ $json.query.sistema}}",
              "type": "boolean"
            },
            {
              "id": "5ab9891a-d161-4234-b5bc-79de5e212303",
              "name": "classificacao",
              "value": "={{ $json.query.classificacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3248,
        192
      ],
      "id": "2a1a1716-d62d-4392-a6da-746449594589",
      "name": "EditModelos"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3664,
        416
      ],
      "id": "6e14feb8-50da-4fc5-9c9c-36959da00319",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "modelos_linhas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3040,
        416
      ],
      "id": "e8fa81e1-8132-4865-ab7d-443bb2ed2f0b",
      "name": "modelo_linha",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "79d8e8b2-2754-4ad5-ac0e-787b2cd6bbe3",
              "name": "modelo_id",
              "value": "={{ $json.query.modelo_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        416
      ],
      "id": "40fa378c-0a27-4373-a1a3-18442654ce85",
      "name": "EditModeloslinha"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  ml.id,  conta_id,  ml.dc ,  c.codigo, c.nome, c.tipo, c.natureza  , modelo_id \nfrom contab.modelos_linhas as ml \nleft join contab.contas as c\n on \nc.id =ml.conta_id   AND\nc.empresa_id =ml.empresa_id    \n where ml.modelo_id = {{ $json.modelo_id }} and \n  c.empresa_id = \n  {{ $json.empresa_id }}\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3440,
        416
      ],
      "id": "a84b423d-ca1f-4f35-8c4b-05ccc2185fc1",
      "name": "ModelosLinha",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2368,
        1056
      ],
      "id": "c59511e8-bd00-4a48-ba7f-1ee92774b2fb",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "79d8e8b2-2754-4ad5-ac0e-787b2cd6bbe3",
              "name": "buscar_nome",
              "value": "={{ $json.query.nome}}",
              "type": "string"
            },
            {
              "id": "56d32e07-028f-443d-a949-6b4ecbaed16e",
              "name": "dc",
              "value": "={{ $json.query.dc}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        1056
      ],
      "id": "12012469-6ca4-4f20-8419-c830e1a84d86",
      "name": "EditModeloslinha1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \nSELECT \n    id,\n    codigo,\n    nome,\n    tipo,\n    natureza  \nFROM contab.contas\nWHERE empresa_id = {{ $json.empresa_id }}\n  AND (\n        unaccent(lower(nome))   LIKE unaccent(lower('%{{ $json.buscar_nome}}%'))\n     OR unaccent(lower(codigo)) LIKE unaccent(lower('%{{ $json.buscar_nome}}%'))\n  )  \nORDER BY codigo\nLIMIT 20;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        1056
      ],
      "id": "0b507440-3410-4778-87f7-a3e90a9ab99b",
      "name": "BuscarContas",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "buscar_contas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1728,
        1056
      ],
      "id": "f7b41cd7-a5c8-46f6-b8f9-4f95399ebf21",
      "name": "Contas",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2496,
        1280
      ],
      "id": "dc26140d-fa8c-422e-bae2-b68a6507d3dd",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "modelo_id",
              "value": "={{ $json.query.modelo_id}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "body",
              "value": "={{ $json.body}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        1280
      ],
      "id": "0dfbd8b8-f23c-4944-b393-8dc4f5ab4ef4",
      "name": "Edit_PagarFatura"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " UPDATE contab.modelos_linhas\nSET conta_id = {{ $json.conta_id }}\nWHERE id = {{ $json.id }}\n  AND modelo_id = {{ $json.modelo_id }}\n  and empresa_id =  {{ $('Edit_PagarFatura').item.json.empresa_id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2256,
        1280
      ],
      "id": "90531933-e54b-488f-b576-450e07ca223f",
      "name": "AutalizaModelLinha",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvar_mapeamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1696,
        1280
      ],
      "id": "f3e8e780-47a9-4ba8-b4ab-30779ff1dc3f",
      "name": "SalvaMapeamento",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " let body = $input.first().json.body  ;\n \n// SE vier como string, converte:\nif (typeof body === \"string\") {\n  body = JSON.parse(body);\n}\n\n// Se vier dentro de um campo (às vezes n8n coloca em json.body)\nif (typeof body.body === \"string\") {\n  body = JSON.parse(body.body);\n}\n\nreturn body;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        1280
      ],
      "id": "5634e54a-e3a5-4c09-9afa-8a1681a2a57c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2272,
        1504
      ],
      "id": "886551e5-8818-4329-be8d-b3c4eeae3e63",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "57739ea8-d745-4d52-bdb2-5af3bf155218",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            },
            {
              "id": "2ce5e70a-456b-4017-a201-9132cc0ab50a",
              "name": "dc",
              "value": "={{ $json.query.dc}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        1504
      ],
      "id": "8d350042-2c52-47a3-b5c9-45d5ced626fb",
      "name": "EditModeloslinha2"
    },
    {
      "parameters": {
        "path": "contascontabeis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1664,
        1504
      ],
      "id": "90164c26-e04b-4c05-9834-8dc29cab168e",
      "name": "ContasContabeis",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2368,
        112
      ],
      "id": "0f8e3113-7f22-408f-a5f4-68c70005bfe1",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontacontabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1728,
        112
      ],
      "id": "d955edd1-a4f9-4548-99ae-e1b5e271afc0",
      "name": "NovaContaCtb",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "contas",
          "mode": "list",
          "cachedResultName": "contas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analitica": true,
            "codigo": "={{ $json.codigo }}",
            "empresa_id": "={{ $json.empresa_id }}",
            "nome": "={{ $json.nome }}",
            "natureza": "={{ $json.natureza }}",
            "nivel": "={{ $json.nivel }}",
            "tipo": "={{ $json.tipo }}",
            "conta_pai_id": "={{ $json.conta_pai }}",
            "sistema": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "natureza",
              "displayName": "natureza",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nivel",
              "displayName": "nivel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conta_pai_id",
              "displayName": "conta_pai_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "analitica",
              "displayName": "analitica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "sistema",
              "displayName": "sistema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        112
      ],
      "id": "7d362143-ea9e-42f7-9efd-f309c450f189",
      "name": "InsertConta",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "codigo",
              "value": "={{ $json.query.codigo}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "nome",
              "value": "={{ $json.query.nome}}",
              "type": "string"
            },
            {
              "id": "021aa349-a10b-4a79-a77e-e07ab6e57f0c",
              "name": "natureza",
              "value": "={{ $json.query.natureza}}",
              "type": "string"
            },
            {
              "id": "895c8bc9-5cda-4d95-95f3-64ba84801751",
              "name": "nivel",
              "value": "={{ $json.query.nivel}}",
              "type": "string"
            },
            {
              "id": "d3ca6286-f7ad-4dc0-ad96-005a511cd64d",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            },
            {
              "id": "17f85d3a-ae36-4991-b3ef-b99fe7041704",
              "name": "conta_pai",
              "value": "={{ $json.query.conta_pai_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        112
      ],
      "id": "57959a70-f244-4584-b3f0-0c41a5ae975b",
      "name": "Editnovaconta"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2352,
        352
      ],
      "id": "17a0e0eb-fb32-4a30-8666-5eeefc4981f1",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "contas",
          "mode": "list",
          "cachedResultName": "contas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analitica": false,
            "codigo": "={{ $json.codigo }}",
            "empresa_id": "={{ $json.empresa_id }}",
            "nome": "={{ $json.nome }}",
            "natureza": "={{ $json.natureza }}",
            "nivel": "={{ $json.nivel }}",
            "tipo": "={{ $json.tipo }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id",
            "empresa_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "natureza",
              "displayName": "natureza",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nivel",
              "displayName": "nivel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conta_pai_id",
              "displayName": "conta_pai_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analitica",
              "displayName": "analitica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        352
      ],
      "id": "c20020f1-54e7-4e13-a125-c70993b6cf42",
      "name": "InsertConta1",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "codigo",
              "value": "={{ $json.query.codigo}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "nome",
              "value": "={{ $json.query.nome}}",
              "type": "string"
            },
            {
              "id": "021aa349-a10b-4a79-a77e-e07ab6e57f0c",
              "name": "natureza",
              "value": "={{ $json.query.natureza}}",
              "type": "string"
            },
            {
              "id": "895c8bc9-5cda-4d95-95f3-64ba84801751",
              "name": "nivel",
              "value": "={{ $json.query.nivel}}",
              "type": "string"
            },
            {
              "id": "d3ca6286-f7ad-4dc0-ad96-005a511cd64d",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            },
            {
              "id": "6fb987e1-456b-4c59-92b0-693556727602",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        352
      ],
      "id": "d344cf63-ff09-4be2-adb4-0c2873ef4397",
      "name": "EditContaCtb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2480,
        576
      ],
      "id": "e14c8bfb-ced1-41d5-88de-1321ad5e599d",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "6fb987e1-456b-4c59-92b0-693556727602",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        576
      ],
      "id": "65070adf-1688-4eea-9fb9-51d51f944e34",
      "name": "EditExcluirContaCtb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete  from contab.contas\n  where empresa_id =  {{ $('EditExcluirContaCtb').item.json.empresa_id }}  and id =     {{ $('EditExcluirContaCtb').item.json.id }} ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2304,
        576
      ],
      "id": "3dc970dc-f6f0-4e89-aad3-aec5fbbd4c2c",
      "name": "ExcluirContaCtb",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "content": "## Contabil",
        "height": 860,
        "width": 1280,
        "color": 3
      },
      "id": "e24dc31a-4c6a-4050-a842-09a1f684ca31",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Contabil",
        "height": 796,
        "width": 1280
      },
      "id": "7c75c6a6-cd7d-4c2c-88bc-d1a71f432133",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        976
      ]
    },
    {
      "parameters": {
        "content": "## Modelos   e Modelo Linhas ( Mapeamento de lancamentos contabeis)",
        "height": 748,
        "width": 1280,
        "color": 7
      },
      "id": "4b2a862e-ab4e-4fd0-a7af-3d5fe2132748",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2848,
        960
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n    id,\n    codigo,\n    nome,\n    tipo,\n    natureza,\n    nivel,\n   sistema \nFROM contab.contas\nWHERE empresa_id = {{ $json.empresa_id }}\n  AND ( {{ $json.id }} IS NULL OR {{ $json.id }} = 0 OR id = {{ $json.id }} )\n  AND ( '{{ $json.dc }}' IS NULL OR '{{ $json.dc }}' = '' OR natureza = '{{ $json.dc }}' )\nORDER BY codigo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2064,
        1504
      ],
      "id": "794f7837-4065-4037-acda-d2b805f0aa9f",
      "name": "ContasContb",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inseremodelo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2976,
        1072
      ],
      "id": "ab981541-41c5-475d-9e5d-6635cd2c0491",
      "name": "NovoModelo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        1072
      ],
      "id": "1949d1d0-34d6-400a-8467-5f59d16bcbd6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3840,
        1072
      ],
      "id": "2fd71c57-17ff-44dd-8ea9-85ce3671bf05",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "eed502e7-079f-47a3-8dab-2c78153a5cb8",
              "name": "modelo_id",
              "value": "={{ $json.query.modelo_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        1328
      ],
      "id": "78449f8b-bb4b-4929-9338-5d96528a4373",
      "name": "Edit_PagarFatura2"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        1328
      ],
      "id": "17533034-dae1-4209-b8d8-00edd4d49df0",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3840,
        1328
      ],
      "id": "0b78510c-1c61-4c8d-8f9c-6e6f7dc48e93",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirmodelo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2976,
        1328
      ],
      "id": "5545bf01-1ace-460a-b451-26304c526e97",
      "name": "ExcluirModelo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nselect * from contab.ff_excluir_modelo({{ $json.empresa_id }}, {{ $json.modelo_id }} )\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3392,
        1328
      ],
      "id": "861ee09c-4302-4a48-9cc3-6c1bd5b86f76",
      "name": "ff_excluir_modelo",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "codigo",
              "value": "={{ $json.body.codigo}}",
              "type": "string"
            },
            {
              "id": "eed502e7-079f-47a3-8dab-2c78153a5cb8",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "c5eb8155-10fe-4573-90dc-7eb78363fe99",
              "name": "tipo_automacao",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "f36aca13-911c-4e21-a145-04c658316b1b",
              "name": "creditoId",
              "value": "={{ $json.body.credito_id}}",
              "type": "string"
            },
            {
              "id": "e4e3ae5b-2c31-47cf-9d2f-25994629d78e",
              "name": "debito_id",
              "value": "={{ $json.body.debito_id}}",
              "type": "string"
            },
            {
              "id": "1da80100-16d6-42a0-9fb2-859473005487",
              "name": "tipo_evento",
              "value": "={{ $json.body.tipo_evento}}",
              "type": "string"
            },
            {
              "id": "d0d54149-f764-44dd-92fd-ae6b5c97b3e7",
              "name": "classificacao",
              "value": "={{ $json.body.classificacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3216,
        1072
      ],
      "id": "7e43ce0a-f836-421f-9fea-e1347322ab3a",
      "name": "EditNovoModelo"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3680,
        608
      ],
      "id": "d21e47e2-9757-4d0b-ab58-296b7c1c4543",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "path": "modelos_gerencial",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3008,
        608
      ],
      "id": "faef2ffc-65aa-4579-8bd8-c8dd0fdeeba4",
      "name": "modelogerencial",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fff3302c-87a7-4e48-99ba-f42e5f6733de",
              "name": "=gerencial_id",
              "value": "={{ $json.query.gerencial_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3216,
        608
      ],
      "id": "61fe283e-ea08-4f85-b464-c9f8425b3519",
      "name": "EditModGerencial"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n SELECT  m.* from contab.modelos m \n   inner join  categorias_gerenciais g \n   on g.grupo_contabil = m.codigo and \n       g.empresa_id  = m.empresa_id\n   where m.empresa_id = \n  {{ $json.empresa_id }} and g.id =   {{ $json.gerencial_id }} ORDER BY CODIGO ASC\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3424,
        608
      ],
      "id": "92d63e8a-1267-4b9a-9174-46be6151cad8",
      "name": "ModeloGerencial",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualizar_conta_contabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1712,
        352
      ],
      "id": "005a472f-6556-463d-9e52-0896767c3982",
      "name": "EditContaCtb1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contascontabeis_excluir",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1728,
        576
      ],
      "id": "3b8fa2bb-7263-4ba6-afe8-38fd9a7588c6",
      "name": "ExcluirontaCtb",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        336
      ],
      "id": "a0e2ecb9-9f80-4bb2-a994-0c1500f290f5",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nselect * from  contab.vw_contas_validas_compra_cartao  \n  \nWHERE empresa_id = {{ $json.empresa_id }}\n \nORDER BY codigo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        336
      ],
      "id": "70cb794c-3ffb-487e-87a4-e6b3ade07cf9",
      "name": "ContasContb1",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "contascontabilcartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        336
      ],
      "id": "2a2ad4fa-eac2-4524-ac44-f8182ec9dc7a",
      "name": "ContasContabeisCartão",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        336
      ],
      "id": "3e1aa3d3-8dda-4023-8890-d644957f490f",
      "name": "EditCtbContas_Cartao"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        112
      ],
      "id": "c9645cc7-0aca-4331-ac7f-0a7ed4cf7815",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "path": "contascmv",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        304,
        112
      ],
      "id": "6c8e70dc-7231-44be-903e-57f1a42c9065",
      "name": "ContasCtbCMV",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "content": "## Contabil",
        "height": 940,
        "width": 1280
      },
      "id": "4c837125-a85e-4f0f-b48e-93f607b8dff4",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        112
      ],
      "id": "6291ca03-3784-432b-b951-50bb5548d631",
      "name": "EditCtbCMV"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nSELECT id, codigo, nome \n  FROM contab.contas\n  WHERE empresa_id =  {{ $json.empresa_id }}\n    AND analitica = true \n    AND natureza = 'D' \n    AND codigo NOT LIKE '1.1.%' -- caixa/bancos \n    AND codigo NOT LIKE '2.%' -- passivo \n    AND codigo NOT LIKE '3.1.%' -- receitas ORDER BY codigo;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        112
      ],
      "id": "1ec2d535-222f-4a51-8f68-9ec2058f8520",
      "name": "ContasCTBCMV",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        560
      ],
      "id": "be456594-2592-4199-9414-9fcbd20eba63",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "path": "contasctbreceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        560
      ],
      "id": "9043e2a4-361a-401a-89dc-d97ee0346904",
      "name": "ContasCtbReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        560
      ],
      "id": "62905bc4-e2ac-4a12-b1be-83d07ac12b88",
      "name": "EditCtbRcber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nSELECT id, codigo, nome \n  FROM contab.contas\n  WHERE empresa_id =  {{ $json.empresa_id }}\n    AND analitica = true \n    AND natureza = 'C' \n   \n    --AND codigo  LIKE '3.%' -- receitas \n   AND  tipo = 'RECEITA'\n  ORDER BY codigo;\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        560
      ],
      "id": "f9abdb46-75a9-4a68-babc-b0fb030ced97",
      "name": "ContasCTBreceber",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2464,
        752
      ],
      "id": "bbeaeb36-d674-4fac-b208-b960668718a7",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resolver_hierarquia_conta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1728,
        752
      ],
      "id": "e045c475-a17b-48ad-b7cc-46e9abb567a0",
      "name": "HierarquiaContaCtb",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "codigo",
              "value": "={{ $json.body.codigo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        752
      ],
      "id": "d5749b9c-380a-452e-a682-fe137b474946",
      "name": "Editresolver_hierarquia_conta"
    },
    {
      "parameters": {
        "jsCode": " function resolverPai(codigo) {\n  if (!codigo) return null;\n\n  const partes = codigo.split(\".\");\n  if (partes.length <= 1) return null;\n\n  partes.pop(); // remove o último nível\n  return partes.join(\".\");\n}\n\n// EXEMPLO DE USO\nconst codigo = $json.codigo; // ex: \"5.2.1.2\"\nconst codigoPai = resolverPai(codigo);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      codigo_pai: codigoPai\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        752
      ],
      "id": "697b855b-f405-41c8-8476-7f51bd3d4c27",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id from contab.contas where empresa_id = {{ $json.empresa_id }} and codigo = '{{ $json.codigo_pai }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2288,
        752
      ],
      "id": "a3581311-96b3-42d2-9cd1-149b9f17a087",
      "name": "HierarqiaContaPai",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        768
      ],
      "id": "8d81e404-243b-4770-8d2f-3ff0f949a348",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "path": "contabanco",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        272,
        768
      ],
      "id": "bcab06ff-e2c1-4a27-a5fc-d62679fff83e",
      "name": "ContasBanco",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        768
      ],
      "id": "491386a2-ad3b-47f4-8dd3-942ccc4c4938",
      "name": "EditCtbbanco"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT id, codigo, nome\nFROM contab.contas\nWHERE empresa_id = {{ $json.empresa_id }}\n  AND analitica = true\n  AND natureza = 'D'\n  AND tipo IN ('ATIVO')\n AND (\n  codigo LIKE '1.1.1%' OR\n  codigo LIKE '1.1.2%' OR\n  codigo LIKE '1.1.3%'\n)\nORDER BY codigo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        768
      ],
      "id": "16606a1b-b9f7-4e1e-a972-3e8083c1f475",
      "name": "ContasCTBanco",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete  from contab.saldos_iniciais\n  where empresa_id = {{ $json.empresa_id }}  and conta_id =   {{ $json.id }}  ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2112,
        576
      ],
      "id": "0619ee60-4a33-4e3d-9e13-b9fa0f18b688",
      "name": "ExcluirContaCtb1",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nselect * from contab.ff_criar_modelo({{ $json.empresa_id }}, '{{$json.nome}}','{{ $json.codigo}}' ,  {{ $json.creditoId }},  {{ $json.debito_id }}  , '{{ $json.tipo_automacao }}','{{ $json.tipo_evento }}','{{ $json.classificacao }}')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3424,
        1072
      ],
      "id": "25744f81-be04-45bc-8ff5-7ad88548f9f9",
      "name": "ff_criar_modelo",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Editresolver_hierarquia_conta": [
      {
        "json": {
          "empresa_id": 1,
          "codigo": "5.1.1"
        }
      }
    ]
  },
  "connections": {
    "modelos": {
      "main": [
        [
          {
            "node": "EditModelos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelos": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModelos": {
      "main": [
        [
          {
            "node": "Modelos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelo_linha": {
      "main": [
        [
          {
            "node": "EditModeloslinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModeloslinha": {
      "main": [
        [
          {
            "node": "ModelosLinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModelosLinha": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModeloslinha1": {
      "main": [
        [
          {
            "node": "BuscarContas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarContas": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas": {
      "main": [
        [
          {
            "node": "EditModeloslinha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_PagarFatura": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AutalizaModelLinha": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaMapeamento": {
      "main": [
        [
          {
            "node": "Edit_PagarFatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AutalizaModelLinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModeloslinha2": {
      "main": [
        [
          {
            "node": "ContasContb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasContabeis": {
      "main": [
        [
          {
            "node": "EditModeloslinha2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovaContaCtb": {
      "main": [
        [
          {
            "node": "Editnovaconta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editnovaconta": {
      "main": [
        [
          {
            "node": "InsertConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta1": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditContaCtb": {
      "main": [
        [
          {
            "node": "InsertConta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditExcluirContaCtb": {
      "main": [
        [
          {
            "node": "ExcluirContaCtb1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirContaCtb": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasContb": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovoModelo": {
      "main": [
        [
          {
            "node": "EditNovoModelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_PagarFatura2": {
      "main": [
        [
          {
            "node": "ff_excluir_modelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirModelo": {
      "main": [
        [
          {
            "node": "Edit_PagarFatura2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_excluir_modelo": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNovoModelo": {
      "main": [
        [
          {
            "node": "ff_criar_modelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelogerencial": {
      "main": [
        [
          {
            "node": "EditModGerencial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModGerencial": {
      "main": [
        [
          {
            "node": "ModeloGerencial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModeloGerencial": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditContaCtb1": {
      "main": [
        [
          {
            "node": "EditContaCtb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirontaCtb": {
      "main": [
        [
          {
            "node": "EditExcluirContaCtb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasContb1": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasContabeisCartão": {
      "main": [
        [
          {
            "node": "EditCtbContas_Cartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCtbContas_Cartao": {
      "main": [
        [
          {
            "node": "ContasContb1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasCtbCMV": {
      "main": [
        [
          {
            "node": "EditCtbCMV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCtbCMV": {
      "main": [
        [
          {
            "node": "ContasCTBCMV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasCTBCMV": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasCtbReceber": {
      "main": [
        [
          {
            "node": "EditCtbRcber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCtbRcber": {
      "main": [
        [
          {
            "node": "ContasCTBreceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasCTBreceber": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HierarquiaContaCtb": {
      "main": [
        [
          {
            "node": "Editresolver_hierarquia_conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editresolver_hierarquia_conta": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HierarqiaContaPai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HierarqiaContaPai": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasBanco": {
      "main": [
        [
          {
            "node": "EditCtbbanco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCtbbanco": {
      "main": [
        [
          {
            "node": "ContasCTBanco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasCTBanco": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirContaCtb1": {
      "main": [
        [
          {
            "node": "ExcluirContaCtb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_criar_modelo": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7159bc02-ba41-4945-af07-fb00078d19c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "kHT5fPBmHkiKbgbf",
  "tags": []
}