n8n_files/ContabilFlow.json
{
  "name": "ContabilFlow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2272,
        128
      ],
      "id": "3e87ba60-9842-42c4-b435-ff96516dce03",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "content": "Modelos contábeis",
        "height": 700,
        "width": 1280,
        "color": 5
      },
      "id": "4ac01703-9d46-4d19-965b-f3bdff442e96",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1328,
        0
      ]
    },
    {
      "parameters": {
        "path": "modelos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1600,
        128
      ],
      "id": "196c1655-2eef-4085-8b30-49f3d58cd872",
      "name": "modelos",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n SELECT  * from contab.modelos where empresa_id = \n  {{ $json.empresa_id }}  ORDER BY CODIGO ASC\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2016,
        128
      ],
      "id": "7c5e1da8-18c3-4937-8daf-6f2d7e8f479a",
      "name": "Modelos",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        128
      ],
      "id": "cfab2867-0ab9-42df-99bd-b69bb5557f3d",
      "name": "EditModelos"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2224,
        352
      ],
      "id": "18f460e3-a6b3-4fee-b627-c976e9d98fe0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "modelos_linhas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1600,
        352
      ],
      "id": "7d2aaa85-a5a2-4ddf-9ac7-90361adc4b67",
      "name": "modelo_linha",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "79d8e8b2-2754-4ad5-ac0e-787b2cd6bbe3",
              "name": "modelo_id",
              "value": "={{ $json.query.modelo_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        352
      ],
      "id": "caa6fce0-0928-4b9b-b3f9-de3824590411",
      "name": "EditModeloslinha"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  ml.id,  conta_id,  ml.dc ,  c.codigo, c.nome, c.tipo, c.natureza  , modelo_id \nfrom contab.modelos_linhas as ml \nleft join contab.contas as c\n on \nc.id =ml.conta_id   AND\nc.empresa_id =ml.empresa_id    \n where ml.modelo_id = {{ $json.modelo_id }} and \n  c.empresa_id = \n  {{ $json.empresa_id }}\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2000,
        352
      ],
      "id": "237a8059-e38d-4695-9b87-abe808b42f7b",
      "name": "ModelosLinha",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        880
      ],
      "id": "55c6f946-1b24-48b9-851b-39f18e2b72bb",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "79d8e8b2-2754-4ad5-ac0e-787b2cd6bbe3",
              "name": "buscar_nome",
              "value": "={{ $json.query.nome}}",
              "type": "string"
            },
            {
              "id": "56d32e07-028f-443d-a949-6b4ecbaed16e",
              "name": "dc",
              "value": "={{ $json.query.dc}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        880
      ],
      "id": "0f9b3721-d101-41a9-90df-32a09ea1f06f",
      "name": "EditModeloslinha1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \nSELECT \n    id,\n    codigo,\n    nome,\n    tipo,\n    natureza  \nFROM contab.contas\nWHERE empresa_id = {{ $json.empresa_id }}\n  AND (\n        unaccent(lower(nome))   LIKE unaccent(lower('%{{ $json.buscar_nome}}%'))\n     OR unaccent(lower(codigo)) LIKE unaccent(lower('%{{ $json.buscar_nome}}%'))\n  )  \nORDER BY codigo\nLIMIT 20;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        880
      ],
      "id": "7ac326ba-3507-43e8-a194-414fe5f1474d",
      "name": "BuscarContas",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "buscar_contas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        880
      ],
      "id": "3358f9aa-8696-4184-80dd-c4d01861b287",
      "name": "Contas",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1056,
        1104
      ],
      "id": "9273391e-54cd-45e3-b30d-121a44f449fc",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "modelo_id",
              "value": "={{ $json.query.modelo_id}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "body",
              "value": "={{ $json.body}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        1104
      ],
      "id": "a7eadbcc-d55e-465c-8d64-7a2c4b1f5114",
      "name": "Edit_PagarFatura"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " UPDATE contab.modelos_linhas\nSET conta_id = {{ $json.conta_id }}\nWHERE id = {{ $json.id }}\n  AND modelo_id = {{ $json.modelo_id }}\n  and empresa_id =  {{ $('Edit_PagarFatura').item.json.empresa_id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        1104
      ],
      "id": "b7d2ed70-81eb-4b69-82e1-ae53203f6a02",
      "name": "AutalizaModelLinha",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvar_mapeamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1104
      ],
      "id": "6fb8d94f-5109-4f51-b701-f44d1d45beb1",
      "name": "SalvaMapeamento",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " let body = $input.first().json.body  ;\n \n// SE vier como string, converte:\nif (typeof body === \"string\") {\n  body = JSON.parse(body);\n}\n\n// Se vier dentro de um campo (às vezes n8n coloca em json.body)\nif (typeof body.body === \"string\") {\n  body = JSON.parse(body.body);\n}\n\nreturn body;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1104
      ],
      "id": "424a4626-766f-4fe5-94da-c63d099372f9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        1328
      ],
      "id": "f396117b-4a4d-41c9-ba8c-7a9a8aa40122",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "57739ea8-d745-4d52-bdb2-5af3bf155218",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            },
            {
              "id": "2ce5e70a-456b-4017-a201-9132cc0ab50a",
              "name": "dc",
              "value": "={{ $json.query.dc}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        1328
      ],
      "id": "6135f3c7-c126-4fb8-a7a8-42cbef6d869f",
      "name": "EditModeloslinha2"
    },
    {
      "parameters": {
        "path": "contascontabeis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        1328
      ],
      "id": "051f76c0-01ae-433b-acbf-627dfa412730",
      "name": "ContasContabeis",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        48
      ],
      "id": "8eec313b-01cb-4811-9127-798bca2d80e1",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontacontabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        48
      ],
      "id": "0257122c-11f9-4959-9e4c-6bf6c7f564f9",
      "name": "NovaContaCtb",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "contas",
          "mode": "list",
          "cachedResultName": "contas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analitica": false,
            "codigo": "={{ $json.codigo }}",
            "empresa_id": "={{ $json.empresa_id }}",
            "nome": "={{ $json.nome }}",
            "natureza": "={{ $json.natureza }}",
            "nivel": "={{ $json.nivel }}",
            "tipo": "={{ $json.tipo }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "natureza",
              "displayName": "natureza",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nivel",
              "displayName": "nivel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conta_pai_id",
              "displayName": "conta_pai_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analitica",
              "displayName": "analitica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        48
      ],
      "id": "3a385d44-ac6a-4bfe-866e-15bdda200522",
      "name": "InsertConta",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "codigo",
              "value": "={{ $json.query.codigo}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "nome",
              "value": "={{ $json.query.nome}}",
              "type": "string"
            },
            {
              "id": "021aa349-a10b-4a79-a77e-e07ab6e57f0c",
              "name": "natureza",
              "value": "={{ $json.query.natureza}}",
              "type": "string"
            },
            {
              "id": "895c8bc9-5cda-4d95-95f3-64ba84801751",
              "name": "nivel",
              "value": "={{ $json.query.nivel}}",
              "type": "string"
            },
            {
              "id": "d3ca6286-f7ad-4dc0-ad96-005a511cd64d",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        48
      ],
      "id": "c1b03f0b-e9dc-4c13-bfd0-599e06cba21d",
      "name": "Editnovaconta"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        288
      ],
      "id": "ffb59a5b-9ed6-4a1c-a21d-0fed60ddfe6a",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "contas",
          "mode": "list",
          "cachedResultName": "contas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analitica": false,
            "codigo": "={{ $json.codigo }}",
            "empresa_id": "={{ $json.empresa_id }}",
            "nome": "={{ $json.nome }}",
            "natureza": "={{ $json.natureza }}",
            "nivel": "={{ $json.nivel }}",
            "tipo": "={{ $json.tipo }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id",
            "empresa_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "natureza",
              "displayName": "natureza",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nivel",
              "displayName": "nivel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conta_pai_id",
              "displayName": "conta_pai_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analitica",
              "displayName": "analitica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        288
      ],
      "id": "50c987ce-3903-4b93-b95e-86427bf2daed",
      "name": "InsertConta1",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "codigo",
              "value": "={{ $json.query.codigo}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "nome",
              "value": "={{ $json.query.nome}}",
              "type": "string"
            },
            {
              "id": "021aa349-a10b-4a79-a77e-e07ab6e57f0c",
              "name": "natureza",
              "value": "={{ $json.query.natureza}}",
              "type": "string"
            },
            {
              "id": "895c8bc9-5cda-4d95-95f3-64ba84801751",
              "name": "nivel",
              "value": "={{ $json.query.nivel}}",
              "type": "string"
            },
            {
              "id": "d3ca6286-f7ad-4dc0-ad96-005a511cd64d",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            },
            {
              "id": "6fb987e1-456b-4c59-92b0-693556727602",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        288
      ],
      "id": "f615eeaa-a606-40a9-84fa-7db55fe4abe0",
      "name": "EditContaCtb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        512
      ],
      "id": "06b23087-f502-482f-a095-c14f132f0bd6",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "6fb987e1-456b-4c59-92b0-693556727602",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        512
      ],
      "id": "d807e956-8369-43f6-bf1d-6d495c965c0a",
      "name": "EditExcluirContaCtb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete  from contab.contas\n  where empresa_id = {{ $json.empresa_id }}  and id =   {{ $json.id }}  ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        512
      ],
      "id": "2e9c7a8c-6d39-411c-bb9c-ba942b3aa8e1",
      "name": "ExcluirContaCtb",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "content": "## Contabil",
        "height": 716,
        "width": 1280,
        "color": 3
      },
      "id": "a66d11f5-5b60-4f12-92fc-926280a04582",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Contabil",
        "height": 940,
        "width": 1280
      },
      "id": "48fed976-479f-4a2c-9ba0-0e3bd9a5ccb5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        800
      ]
    },
    {
      "parameters": {
        "content": "## Modelos   e Modelo Linhas ( Mapeamento de lancamentos contabeis)",
        "height": 716,
        "width": 1280,
        "color": 7
      },
      "id": "04bbe73d-a270-4e0b-b71f-cffd43a3657c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n    id,\n    codigo,\n    nome,\n    tipo,\n    natureza,\n    nivel,\n   sistema \nFROM contab.contas\nWHERE empresa_id = {{ $json.empresa_id }}\n  AND ( {{ $json.id }} IS NULL OR {{ $json.id }} = 0 OR id = {{ $json.id }} )\n  AND ( '{{ $json.dc }}' IS NULL OR '{{ $json.dc }}' = '' OR natureza = '{{ $json.dc }}' )\nORDER BY codigo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        1328
      ],
      "id": "4ffe32d1-cb96-4c17-89fa-d88aacfd3294",
      "name": "ContasContb",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inseremodelo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1472,
        912
      ],
      "id": "e64ca5c2-63e1-4cea-a327-66746c059e86",
      "name": "NovoModelo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        912
      ],
      "id": "ca652410-1eb3-4e5e-a962-abf9e42892cf",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2336,
        912
      ],
      "id": "8048d052-2a69-4a76-ad2d-05f10b6966bf",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "eed502e7-079f-47a3-8dab-2c78153a5cb8",
              "name": "modelo_id",
              "value": "={{ $json.query.modelo_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        1168
      ],
      "id": "7f2352a5-55d0-46ea-b526-760ce7b66c9a",
      "name": "Edit_PagarFatura2"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        1168
      ],
      "id": "3e3376b1-ce16-400d-9138-721d7a9f2737",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2336,
        1168
      ],
      "id": "b540bf5b-7497-4427-9930-baf35b0aedb6",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirmodelo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1472,
        1168
      ],
      "id": "feae7b4e-7434-4946-b9db-dd36f6337a47",
      "name": "ExcluirModelo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nselect * from contab.ff_excluir_modelo({{ $json.empresa_id }}, {{ $json.modelo_id }} )\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1888,
        1168
      ],
      "id": "af780bc8-8bf7-4d5a-b946-0da0b24886e0",
      "name": "ff_excluir_modelo",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "codigo",
              "value": "={{ $json.body.codigo}}",
              "type": "string"
            },
            {
              "id": "eed502e7-079f-47a3-8dab-2c78153a5cb8",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "c5eb8155-10fe-4573-90dc-7eb78363fe99",
              "name": "tipo_automacao",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        912
      ],
      "id": "289eb803-5bc4-43b2-aa7d-4fbecf9a5e94",
      "name": "EditNovoModelo"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nselect * from contab.ff_criar_modelo({{ $json.empresa_id }}, '{{$json.nome}}','{{ $json.codigo}}', '{{ $json.tipo_automacao }}')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        912
      ],
      "id": "035a3257-d926-4c87-a8c7-66bb8d33a14d",
      "name": "ff_criar_modelo",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2240,
        544
      ],
      "id": "71d28c44-8d9f-4f36-ba96-ec88c3df073a",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "path": "modelos_gerencial",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1568,
        544
      ],
      "id": "e723748b-09e0-4a01-9417-27bd334bc1e2",
      "name": "modelogerencial",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fff3302c-87a7-4e48-99ba-f42e5f6733de",
              "name": "=gerencial_id",
              "value": "={{ $json.query.gerencial_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        544
      ],
      "id": "05f23460-8114-4c8d-b38f-adcc51f9ff9b",
      "name": "EditModGerencial"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n SELECT  m.* from contab.modelos m \n   inner join  categorias_gerenciais g \n   on g.grupo_contabil = m.codigo and \n       g.empresa_id  = m.empresa_id\n   where m.empresa_id = \n  {{ $json.empresa_id }} and g.id =   {{ $json.gerencial_id }} ORDER BY CODIGO ASC\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        544
      ],
      "id": "6ab8c89a-3cfb-4c14-932d-7334cd1c5d67",
      "name": "ModeloGerencial",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualizar_conta_contabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        272,
        288
      ],
      "id": "61a8c56c-331e-4375-85c6-ac1022a9210c",
      "name": "EditContaCtb1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contascontabeis_excluir",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        512
      ],
      "id": "4e92ceba-df37-4bb8-8e7c-17d235f536b2",
      "name": "ExcluirontaCtb",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -544,
        272
      ],
      "id": "bb7ce43c-c254-445b-ab2a-fde5dc9127b0",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nselect * from  contab.vw_contas_validas_compra_cartao  \n  \nWHERE empresa_id = {{ $json.empresa_id }}\n \nORDER BY codigo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        272
      ],
      "id": "148422db-4657-476f-be53-086c55cfb7bd",
      "name": "ContasContb1",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "contascontabilcartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1152,
        272
      ],
      "id": "56862c10-ccf1-474a-9571-e64685205539",
      "name": "ContasContabeisCartão",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        272
      ],
      "id": "c80d40fe-154d-4320-87b1-d1ad6fce2fa9",
      "name": "EditCtbContas_Cartao"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -528,
        48
      ],
      "id": "afbc32cf-a315-47fb-a954-cb9c1830d362",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "path": "contascmv",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        48
      ],
      "id": "f302c7dd-fba6-452d-97a8-361c57c68c89",
      "name": "ContasCtbCMV",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "content": "## Contabil",
        "height": 940,
        "width": 1280
      },
      "id": "bf7e2a0f-5aa9-43c3-90f9-0462c4375878",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        -64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        48
      ],
      "id": "a682e9b6-dcc4-4dbc-8745-b3852100aff2",
      "name": "EditCtbCMV"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nSELECT id, codigo, nome \n  FROM contab.contas\n  WHERE empresa_id =  {{ $json.empresa_id }}\n    AND analitica = true \n    AND natureza = 'D' \n    AND codigo NOT LIKE '1.1.%' -- caixa/bancos \n    AND codigo NOT LIKE '2.%' -- passivo \n    AND codigo NOT LIKE '3.1.%' -- receitas ORDER BY codigo;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -736,
        48
      ],
      "id": "a873a4b5-31af-4248-948e-518ef93e3415",
      "name": "ContasCTBCMV",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -544,
        496
      ],
      "id": "08231467-c272-408e-b94b-ddc25e1d5c93",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "path": "contasctbreceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1152,
        496
      ],
      "id": "2beed324-fec3-4f5d-b450-d081bd62ae43",
      "name": "ContasCtbReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        496
      ],
      "id": "7efad499-81ef-43e1-9126-9dbf028621ec",
      "name": "EditCtbRcber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nSELECT id, codigo, nome \n  FROM contab.contas\n  WHERE empresa_id =  {{ $json.empresa_id }}\n    AND analitica = true \n    AND natureza = 'C' \n   \n    AND codigo  LIKE '3.%' -- receitas \n  ORDER BY codigo;\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        496
      ],
      "id": "482cdef6-61dd-4791-b81e-2d4d964b5e63",
      "name": "ContasCTBreceber",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    }
  ],
  "pinData": {
    "EditCtbCMV": [
      {
        "json": {
          "empresa_id": 1
        }
      }
    ],
    "EditCtbRcber": [
      {
        "json": {
          "empresa_id": 1
        }
      }
    ]
  },
  "connections": {
    "modelos": {
      "main": [
        [
          {
            "node": "EditModelos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelos": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModelos": {
      "main": [
        [
          {
            "node": "Modelos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelo_linha": {
      "main": [
        [
          {
            "node": "EditModeloslinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModeloslinha": {
      "main": [
        [
          {
            "node": "ModelosLinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModelosLinha": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModeloslinha1": {
      "main": [
        [
          {
            "node": "BuscarContas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarContas": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas": {
      "main": [
        [
          {
            "node": "EditModeloslinha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_PagarFatura": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AutalizaModelLinha": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaMapeamento": {
      "main": [
        [
          {
            "node": "Edit_PagarFatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AutalizaModelLinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModeloslinha2": {
      "main": [
        [
          {
            "node": "ContasContb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasContabeis": {
      "main": [
        [
          {
            "node": "EditModeloslinha2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovaContaCtb": {
      "main": [
        [
          {
            "node": "Editnovaconta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editnovaconta": {
      "main": [
        [
          {
            "node": "InsertConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta1": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditContaCtb": {
      "main": [
        [
          {
            "node": "InsertConta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditExcluirContaCtb": {
      "main": [
        [
          {
            "node": "ExcluirContaCtb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirContaCtb": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasContb": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovoModelo": {
      "main": [
        [
          {
            "node": "EditNovoModelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_PagarFatura2": {
      "main": [
        [
          {
            "node": "ff_excluir_modelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirModelo": {
      "main": [
        [
          {
            "node": "Edit_PagarFatura2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_excluir_modelo": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNovoModelo": {
      "main": [
        [
          {
            "node": "ff_criar_modelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_criar_modelo": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelogerencial": {
      "main": [
        [
          {
            "node": "EditModGerencial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModGerencial": {
      "main": [
        [
          {
            "node": "ModeloGerencial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModeloGerencial": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditContaCtb1": {
      "main": [
        [
          {
            "node": "EditContaCtb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirontaCtb": {
      "main": [
        [
          {
            "node": "EditExcluirContaCtb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasContb1": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasContabeisCartão": {
      "main": [
        [
          {
            "node": "EditCtbContas_Cartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCtbContas_Cartao": {
      "main": [
        [
          {
            "node": "ContasContb1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasCtbCMV": {
      "main": [
        [
          {
            "node": "EditCtbCMV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCtbCMV": {
      "main": [
        [
          {
            "node": "ContasCTBCMV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasCTBCMV": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasCtbReceber": {
      "main": [
        [
          {
            "node": "EditCtbRcber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCtbRcber": {
      "main": [
        [
          {
            "node": "ContasCTBreceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasCTBreceber": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03cce9c6-ea82-4dc3-9681-e4216b612261",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "cHe2Ke1DdkTCfiLq",
  "tags": []
}