n8n_files/ContabilFlowDiarioLancamento.json
{
  "name": "ContabilFlowDiarioLancamento",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2832,
        240
      ],
      "id": "9afc9f57-3b21-44fb-ab68-e6b5f6d1c77e",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "79d8e8b2-2754-4ad5-ac0e-787b2cd6bbe3",
              "name": "buscar_nome",
              "value": "={{ $json.query.busca}}",
              "type": "string"
            },
            {
              "id": "56d32e07-028f-443d-a949-6b4ecbaed16e",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "39f892b8-5228-43e3-ad65-527dc1f25443",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "28aeb5f3-c70b-4b7c-9125-fa6a628eae2d",
              "name": "codigo",
              "value": "={{ $json.query.modelo_codigo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        240
      ],
      "id": "f054492b-64b0-4ac2-b91a-e2de7fb0201e",
      "name": "EditModeloslinha3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from    contab.ff_diario_listar(\n   {{ $json.empresa_id }},\n   '{{$json.data_ini}}',\n    '{{$json.data_fim}}',\n   '{{$json.codigo}}',\n    '{{$json.buscar_nome }}'\n)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2608,
        240
      ],
      "id": "66f5a612-f085-42c3-ae03-020c4f9a259a",
      "name": "ff_diario_listar",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Diário",
        "height": 876,
        "width": 1280,
        "color": 2
      },
      "id": "79b6093c-05d0-4337-b188-07df991c8ba3",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1888,
        160
      ]
    },
    {
      "parameters": {
        "path": "consulta_diario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2192,
        240
      ],
      "id": "470d2073-a218-4229-a550-4166f3bf5aa6",
      "name": "ConsultaDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2800,
        448
      ],
      "id": "3cbeb4c3-a78f-4093-9c18-761ac21f4ac7",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "diario",
          "mode": "list",
          "cachedResultName": "diario"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "empresa_id": "={{ $json.empresa_id }}",
            "parceiro_id": "={{ $json.parceiro_id}}",
            "valor_total": "={{ $json.valor_total}}",
            "data_mov": "={{ $json.data_mov }}",
            "modelo_codigo": "={{ $json.modelo_codigo }}",
            "historico": "={{ $json.historico}}",
            "doc_ref": "={{ $json['doc_ref '] }}",
            "data_vencto": "={{ $json.parceiro_id}}",
            "valor_custo": "={{ $json.valor_custo}}",
            "valor_imposto": "={{ $json.valor_imposto}}",
            "desconto": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_mov",
              "displayName": "data_mov",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modelo_codigo",
              "displayName": "modelo_codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "historico",
              "displayName": "historico",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "doc_ref",
              "displayName": "doc_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "parceiro_id",
              "displayName": "parceiro_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_vencto",
              "displayName": "data_vencto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor_custo",
              "displayName": "valor_custo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor_imposto",
              "displayName": "valor_imposto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "desconto",
              "displayName": "desconto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "outros",
              "displayName": "outros",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lote_id",
              "displayName": "lote_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2576,
        448
      ],
      "id": "a5b04711-f1bb-44fb-9209-fed5042b79c5",
      "name": "InsertConta2",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inserediario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2160,
        448
      ],
      "id": "d1b9ee6d-b3ca-49da-b346-061c1a028a94",
      "name": "InsereDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "data_mov",
              "value": "={{ $json.body.data_mov}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "modelo_codigo",
              "value": "={{$json.body.modelo_codigo}}",
              "type": "string"
            },
            {
              "id": "021aa349-a10b-4a79-a77e-e07ab6e57f0c",
              "name": "historico",
              "value": "={{ $json.body.historico}}",
              "type": "string"
            },
            {
              "id": "895c8bc9-5cda-4d95-95f3-64ba84801751",
              "name": "doc_ref ",
              "value": "={{$json.body.doc_ref}}",
              "type": "string"
            },
            {
              "id": "d3ca6286-f7ad-4dc0-ad96-005a511cd64d",
              "name": "parceiro_id",
              "value": "={{$json.body.parceiro_id}}",
              "type": "string"
            },
            {
              "id": "40e2e8b7-100b-4de8-9e2f-696536529281",
              "name": "data_vencto",
              "value": "={{$json.body.data_vencto}}",
              "type": "string"
            },
            {
              "id": "f1bf555c-26e2-41ef-9250-64f6febe9baa",
              "name": "valor_total",
              "value": "={{$json.body.valor_total}}",
              "type": "string"
            },
            {
              "id": "5590aafc-201d-442a-be2e-b907b8921e4a",
              "name": "valor_custo",
              "value": "={{$json.body.valor_custo}}",
              "type": "string"
            },
            {
              "id": "e81727bc-02d6-4554-9523-95a9eae8e4f2",
              "name": "valor_imposto",
              "value": "={{$json.body.valor_imposto}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        448
      ],
      "id": "e77b5f46-26bb-44f2-8d81-1e68e7a05698",
      "name": "EditInsertDiario"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2816,
        656
      ],
      "id": "df3a1509-93b0-4aa8-9a81-db6db686f270",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "path": "diario_retrieve",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2176,
        656
      ],
      "id": "21e623c6-1fb4-4394-8d33-ea511eade0cf",
      "name": "EditaDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "61d62aae-91f3-4dbb-8921-edd17e44a0b7",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        656
      ],
      "id": "2a5459d6-c352-4992-b2a9-b0d4fd7d6968",
      "name": "EditDiarioRetrieve"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from contab.diario\n   where empresa_id =  {{ $json.empresa_id }} \n      and id =  {{ $json.id }}\n\n\n \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2592,
        656
      ],
      "id": "6f3db30e-d7bb-499e-b2d0-01b71804da8d",
      "name": "DiarioRetrieve",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2800,
        864
      ],
      "id": "12162697-21aa-4094-b972-1b4632b2ee53",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "diario",
          "mode": "list",
          "cachedResultName": "diario"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "empresa_id": "={{ $json.empresa_id }}",
            "id": "={{ $json.id }}",
            "data_mov": "={{ $json.data_mov }}",
            "modelo_codigo": "={{ $json.modelo_codigo }}",
            "historico": "={{ $json.historico }}",
            "doc_ref": "={{ $json['doc_ref '] }}",
            "parceiro_id": "={{ $json.parceiro_id }}",
            "data_vencto": "={{ $json.data_vencto }}",
            "valor_total": "={{ $json.valor_total }}",
            "valor_custo": "={{ $json.valor_custo }}",
            "valor_imposto": "={{ $json.valor_imposto }}"
          },
          "matchingColumns": [
            "id",
            "empresa_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_mov",
              "displayName": "data_mov",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "modelo_codigo",
              "displayName": "modelo_codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "historico",
              "displayName": "historico",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_ref",
              "displayName": "doc_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parceiro_id",
              "displayName": "parceiro_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_vencto",
              "displayName": "data_vencto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_custo",
              "displayName": "valor_custo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_imposto",
              "displayName": "valor_imposto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "desconto",
              "displayName": "desconto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outros",
              "displayName": "outros",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2576,
        864
      ],
      "id": "9a893a8f-340f-461b-8f7b-b1b682cf3e9d",
      "name": "InsertConta3",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "data_mov",
              "value": "={{ $json.body.data_mov}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "modelo_codigo",
              "value": "={{$json.body.modelo_codigo}}",
              "type": "string"
            },
            {
              "id": "021aa349-a10b-4a79-a77e-e07ab6e57f0c",
              "name": "historico",
              "value": "={{ $json.body.historico}}",
              "type": "string"
            },
            {
              "id": "895c8bc9-5cda-4d95-95f3-64ba84801751",
              "name": "doc_ref ",
              "value": "={{$json.body.doc_ref}}",
              "type": "string"
            },
            {
              "id": "d3ca6286-f7ad-4dc0-ad96-005a511cd64d",
              "name": "parceiro_id",
              "value": "={{$json.body.parceiro_id}}",
              "type": "string"
            },
            {
              "id": "40e2e8b7-100b-4de8-9e2f-696536529281",
              "name": "data_vencto",
              "value": "={{$json.body.data_vencto}}",
              "type": "string"
            },
            {
              "id": "f1bf555c-26e2-41ef-9250-64f6febe9baa",
              "name": "valor_total",
              "value": "={{$json.body.valor_total}}",
              "type": "string"
            },
            {
              "id": "5590aafc-201d-442a-be2e-b907b8921e4a",
              "name": "valor_custo",
              "value": "={{$json.body.valor_custo}}",
              "type": "string"
            },
            {
              "id": "e81727bc-02d6-4554-9523-95a9eae8e4f2",
              "name": "valor_imposto",
              "value": "={{$json.body.valor_imposto}}",
              "type": "string"
            },
            {
              "id": "fbb44cbc-10ca-46a1-be7f-12f06cb0b857",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        864
      ],
      "id": "c65069c0-592f-4149-8949-a3570d4803af",
      "name": "EditInsertDiario1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvar_diario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2160,
        864
      ],
      "id": "1a9e6d81-6022-48ae-a62c-9202e660c5d9",
      "name": "SalvarDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        464
      ],
      "id": "aa80b73a-e5b0-44b4-9080-759f4dfb4ce6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "diario_staging",
          "mode": "list",
          "cachedResultName": "diario_staging"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "empresa_id": "= {{ $json.empresa_id }} ",
            "data_mov": "={{$json.data_mov }}",
            "modelo_codigo": "={{$json.modelo_codigo }}",
            "historico": "={{$json.historico }}",
            "doc_ref": "={{$json.doc_ref}}",
            "data_vencto": "={{$json.data_vencto }}",
            "valor_total": "={{$json.valor_total }}",
            "valor_custo": "={{$json.valor_custo }}",
            "valor_imposto": "={{$json.valor_imposto }}",
            "cnpj": "={{$json.cnpj}}"
          },
          "matchingColumns": [
            "id",
            "empresa_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_mov",
              "displayName": "data_mov",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "modelo_codigo",
              "displayName": "modelo_codigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "historico",
              "displayName": "historico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_ref",
              "displayName": "doc_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cnpj",
              "displayName": "cnpj",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_vencto",
              "displayName": "data_vencto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_custo",
              "displayName": "valor_custo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_imposto",
              "displayName": "valor_imposto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "desconto",
              "displayName": "desconto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outros",
              "displayName": "outros",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lote_id",
              "displayName": "lote_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "validacao",
              "displayName": "validacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        464
      ],
      "id": "e406368d-f820-4b1a-bef7-e971cb63036c",
      "name": "InsertConta",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "importar_diario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        464
      ],
      "id": "2f6b9b4a-c2d7-4961-b4df-5c7cdd41cd9e",
      "name": "ImportarDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " // =======================================================\n// 1) ENTRADA DO ARQUIVO\n// =======================================================\nconst incoming = items[0];\nconst dataField = \"file\"; // nome do binário de entrada\n\nif (!incoming.binary || !incoming.binary[dataField]) {\n  throw new Error(\"Nenhum arquivo recebido no campo 'file'.\");\n}\n\nconst binary = incoming.binary[dataField];\n\n// Buffer do arquivo\nconst buffer = Buffer.from(binary.data, \"base64\");\n\n// Converte para texto (CSV)\nconst text = buffer.toString(\"utf8\");\n\n\n// =======================================================\n// 2) PARSER CSV UNIVERSAL (, ; | Excel Brasileiro)\n// =======================================================\nfunction parseCSV(text) {\n  const linhas = text\n    .split(/\\r?\\n/)\n    .map(l => l.trim())\n    .filter(l => l.length > 0);\n\n  if (linhas.length === 0) return [];\n\n  const primeiraLinha = linhas[0];\n\n  // Detecta separador automático\n  const separador =\n    primeiraLinha.includes(\";\") ? \";\" :\n    primeiraLinha.includes(\",\") ? \",\" :\n    \";\"; // fallback Excel BR\n\n  const header = primeiraLinha.split(separador).map(h => h.trim());\n\n  const registros = linhas.slice(1).map(line => {\n    const cols = line.split(separador);\n    const obj = {};\n\n    header.forEach((h, i) => {\n      obj[h] = (cols[i] || \"\").trim();\n    });\n\n    return obj;\n  });\n\n  return registros;\n}\n\n\n// =======================================================\n// 3) GERAR JSON FINAL\n// =======================================================\nconst registros = parseCSV(text);\n\n// Retorno no formato do n8n\nreturn registros.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        464
      ],
      "id": "db775639-e21b-43ba-a28d-e639e6b9c1a0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  contab.ff_diario_staging_validar({{ $json.empresa_id }});\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        464
      ],
      "id": "c5d3f0a4-758a-4f83-9c36-699e501dba1d",
      "name": "Execute a SQL query1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =======================================================\n// FUNÇÃO: converte \"DD/MM/AAAA\" → \"AAAA-MM-DD\"\n// =======================================================\nfunction brToIso(dateStr) {\n  if (!dateStr) return null;\n\n  // Se já estiver no formato ISO, não mexe\n  if (dateStr.includes(\"-\")) return dateStr;\n\n  const [dia, mes, ano] = dateStr.split(\"/\");\n  return `${ano}-${mes.padStart(2, \"0\")}-${dia.padStart(2, \"0\")}`;\n}\n\n\n// =======================================================\n// PROCESSA O CSV PARSEADO → AJUSTA DATAS\n// =======================================================\nreturn items.map(item => {\n  const j = item.json;\n\n  return {\n    json: {\n      ...j,\n      data_mov: brToIso(j.data_mov),\n      data_vencto: brToIso(j.data_vencto)  ,\n      \n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        464
      ],
      "id": "8474779f-665d-47db-bac9-f3e35b34619f",
      "name": "CodeArquivo"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        656
      ],
      "id": "77652bd2-ea57-4e26-86a3-e3bd45661090",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        656
      ],
      "id": "4ca8ce81-52e3-4566-a474-a156f9e70c1a",
      "name": "EditDelLote"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1408,
        272
      ],
      "id": "4b49ddac-81f8-412b-bda4-c0d99302dba4",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluir_lote",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        496,
        656
      ],
      "id": "91650bfb-89d5-48c6-b9fa-794895db50c3",
      "name": "ExcluirLote",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirmar_lote",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        528,
        272
      ],
      "id": "e5476c99-9cfa-4255-bc60-66c1a2704206",
      "name": "Consultar_lote",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select distinct lote_id\n  from contab.diario_staging \n  where empresa_id = {{ $json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        656
      ],
      "id": "4451aed6-ee3b-4510-a93c-16887f37d063",
      "name": "GetLote",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        272
      ],
      "id": "16e15d7b-5fcb-40d8-8667-30fa1604f2b5",
      "name": "EditConsulta"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select distinct lote_id\n  from contab.diario_staging \n  where empresa_id = {{ $json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "37e15300-d9d4-4d51-9e17-550a357127ce",
      "name": "LoteConsulta",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete  from  contab.diario_staging \n  where empresa_id = {{ $('EditDelLote').item.json.empresa_id }} and \n  lote_id = '{{ $json.lote_id }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        656
      ],
      "id": "4d1ff11b-aef8-4e2f-a28e-ccf6f934fd11",
      "name": "ExcluiLote",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from  contab.ff_consolidar_diario_staging( {{ $json.empresa_id }}) ;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        272
      ],
      "id": "31f72a1a-f8b6-4b86-93f5-22eaeb122db2",
      "name": "ff_diario_staging_validar",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        272
      ],
      "id": "08be4cc8-4e47-40a0-92d3-d4d4ac2d10c7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "## Diário",
        "height": 876,
        "width": 1280,
        "color": 3
      },
      "id": "ad6b0148-7061-4176-8639-cd1adf0e2c5b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1104,
        1248
      ],
      "id": "7b1313b8-ee52-440b-8336-7b6125a3453e",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "path": "lancamento_contabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        464,
        1248
      ],
      "id": "5ce282be-98ab-4128-9846-682462cd07ee",
      "name": "LanctoContabil",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "1604e86a-56f9-4afa-8125-8e35d289822b",
              "name": "filtro",
              "value": "={{ $json.query.filtro}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1248
      ],
      "id": "6ff5a7b4-39e5-4d6d-aa72-b5022bf1614a",
      "name": "EditLanct"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from  contab.ff_razao_sintetico_mensal(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n  '{{ $json.data_fim }}',\n   '{{ $json.filtro }}' \n) \nleft join contab.contas  as c\non id = conta_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        1248
      ],
      "id": "687c4c93-7552-4f0b-b305-38c9ad73b490",
      "name": "ff_razao_sintetico_mensal (lancto Contabeis)",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Lançamentos Contabeis.  \nConsultas de lancamentos, Altera Saldo e inclui um lançamento especifico",
        "height": 876,
        "width": 1280,
        "color": 3
      },
      "id": "28a1d391-42c8-410a-960c-0cb61d513259",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        1152
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1104,
        1472
      ],
      "id": "4a15e854-1e67-4c5f-b696-a64199f8fa1c",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            },
            {
              "id": "1604e86a-56f9-4afa-8125-8e35d289822b",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        1472
      ],
      "id": "baccdb6a-ff73-4b1d-a03b-ea3dfa091bfc",
      "name": "EditLanct1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lancamento_contabil_manual",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        480,
        1472
      ],
      "id": "5b15e74e-1afb-4aae-8c05-fd672a90ac7f",
      "name": "AlteraSaldoLancamentos",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        1696
      ],
      "id": "68d426c1-b0ba-44c1-a9c6-bbb32b9f6cc2",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        2144
      ],
      "id": "3ed993b2-2681-4701-80e0-fd9c6ee6ca5f",
      "name": "Editcontas_contabeis_lancaveis",
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "lancamentos",
          "mode": "list",
          "cachedResultName": "lancamentos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "diario_id": 0,
            "empresa_id": "={{ $json.empresa_id }}",
            "data_mov": "={{ $now }}",
            "debito": "={{ $json.valor_debito }}",
            "conta_id": "={{ $json.conta_id }}",
            "historico": "={{ $json.historico }}",
            "credito": "={{ $json.valor_credito }}",
            "origem": "MANUAL",
            "lote_id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "diario_id",
              "displayName": "diario_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_mov",
              "displayName": "data_mov",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "conta_id",
              "displayName": "conta_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "historico",
              "displayName": "historico",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "debito",
              "displayName": "debito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "credito",
              "displayName": "credito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "modelo_id",
              "displayName": "modelo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lote_id",
              "displayName": "lote_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1696,
        1328
      ],
      "id": "cffd90ad-7e6c-418f-8025-6aad3c960c7c",
      "name": "InsereLanctoContabilManual",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " Select  id, codigo, nome \n   from contab.contas \nwhere empresa_id = {{ $json.empresa_id }} \n   and analitica = true order by codigo",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        2144
      ],
      "id": "bdad2ceb-4704-4d1b-b297-4b6f92500769",
      "name": "Contas Contabeis",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  Select  id, codigo, nome \n   from contab.contas   \n  \nwhere  empresa_id = {{ $json.empresa_id }} \n    and  analitica = true order by codigo",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        1872
      ],
      "id": "cf2c8286-2a60-450e-ae06-1bdc815fc6d7",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1104,
        1872
      ],
      "id": "bf5aeece-5156-4736-a36d-20f949777f47",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1872
      ],
      "id": "b053d871-272a-4e45-8f83-d6944b5a00f1",
      "name": "Editcontas_contabeis_lancaveis1"
    },
    {
      "parameters": {
        "path": "contas_contabeis_lancaveis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        480,
        1696
      ],
      "id": "306a6669-d44c-4666-a9f8-f2cad4e139b2",
      "name": "Lancaveis",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "path": "contas_sem_saldo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        464,
        1872
      ],
      "id": "0bfda066-880c-4aec-b3b0-ef037ed0e48e",
      "name": "LancaveisSemSaldo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contab.ff_implantar_saldo_inicial ({{ $json.empresa_id }},  {{ $json.conta_id }}, {{ $json.valor }}    )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        1472
      ],
      "id": "0267cc03-99fe-42c4-a34e-7132a80416bd",
      "name": "ImplantaSaldoInicial",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "b682fb15-0667-489c-b61c-e5c059ba0949",
              "name": "tipo_operacao",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            },
            {
              "id": "d0b1cfaf-3347-4223-bae1-bc7334e7ce54",
              "name": "lado",
              "value": "={{ $json.query.lado}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1696
      ],
      "id": "5b09cdba-5d57-4def-a09c-629091f932be",
      "name": "Editcontas_contabeis_lancaveis2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " Select * FROM \n contab.fn_contas_por_operacao(\n   {{ $json.empresa_id }} ,\n    '{{ $json.tipo_operacao }}',\n '{{ $json.lado }}'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        1696
      ],
      "id": "78fb0d17-7c3e-4f48-ad3b-5166dfde1bf2",
      "name": "Contas Contabeis1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "EditLanct1": [
      {
        "json": {
          "empresa_id": 1,
          "conta_id": 1,
          "valor": 0
        }
      }
    ],
    "Editcontas_contabeis_lancaveis": [
      {
        "json": {
          "empresa_id": 1
        }
      }
    ],
    "Editcontas_contabeis_lancaveis2": [
      {
        "json": {
          "empresa_id": 1,
          "tipo_operacao": null,
          "lado": null
        }
      }
    ]
  },
  "connections": {
    "EditModeloslinha3": {
      "main": [
        [
          {
            "node": "ff_diario_listar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_diario_listar": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaDiario": {
      "main": [
        [
          {
            "node": "EditModeloslinha3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta2": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereDiario": {
      "main": [
        [
          {
            "node": "EditInsertDiario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditInsertDiario": {
      "main": [
        [
          {
            "node": "InsertConta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaDiario": {
      "main": [
        [
          {
            "node": "EditDiarioRetrieve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditDiarioRetrieve": {
      "main": [
        [
          {
            "node": "DiarioRetrieve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DiarioRetrieve": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta3": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditInsertDiario1": {
      "main": [
        [
          {
            "node": "InsertConta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvarDiario": {
      "main": [
        [
          {
            "node": "EditInsertDiario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ImportarDiario": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "CodeArquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeArquivo": {
      "main": [
        [
          {
            "node": "InsertConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditDelLote": {
      "main": [
        [
          {
            "node": "GetLote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirLote": {
      "main": [
        [
          {
            "node": "EditDelLote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_lote": {
      "main": [
        [
          {
            "node": "EditConsulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetLote": {
      "main": [
        [
          {
            "node": "ExcluiLote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditConsulta": {
      "main": [
        [
          {
            "node": "ff_diario_staging_validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiLote": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_diario_staging_validar": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LanctoContabil": {
      "main": [
        [
          {
            "node": "EditLanct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditLanct": {
      "main": [
        [
          {
            "node": "ff_razao_sintetico_mensal (lancto Contabeis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_razao_sintetico_mensal (lancto Contabeis)": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditLanct1": {
      "main": [
        [
          {
            "node": "ImplantaSaldoInicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AlteraSaldoLancamentos": {
      "main": [
        [
          {
            "node": "EditLanct1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editcontas_contabeis_lancaveis": {
      "main": [
        [
          {
            "node": "Contas Contabeis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas Contabeis": {
      "main": [
        []
      ]
    },
    "Editcontas_contabeis_lancaveis1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lancaveis": {
      "main": [
        [
          {
            "node": "Editcontas_contabeis_lancaveis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LancaveisSemSaldo": {
      "main": [
        [
          {
            "node": "Editcontas_contabeis_lancaveis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ImplantaSaldoInicial": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editcontas_contabeis_lancaveis2": {
      "main": [
        [
          {
            "node": "Contas Contabeis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas Contabeis1": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e3ce3af-a825-464a-9eb0-4ba0856f956c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "QeuYHtFfALsC85Z1",
  "tags": []
}