n8n_files/ContabilFlowDiarioLancamento.json
{
  "name": "ContabilFlowDiarioLancamento",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2816,
        240
      ],
      "id": "6c233780-e5ca-448b-8d0d-14b1070c2e49",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "79d8e8b2-2754-4ad5-ac0e-787b2cd6bbe3",
              "name": "buscar_nome",
              "value": "={{ $json.query.busca}}",
              "type": "string"
            },
            {
              "id": "56d32e07-028f-443d-a949-6b4ecbaed16e",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "39f892b8-5228-43e3-ad65-527dc1f25443",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "28aeb5f3-c70b-4b7c-9125-fa6a628eae2d",
              "name": "codigo",
              "value": "={{ $json.query.modelo_codigo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        240
      ],
      "id": "c180db3b-bcba-4f05-af93-6b8b84ee3518",
      "name": "EditModeloslinha3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from    contab.ff_diario_listar(\n   {{ $json.empresa_id }},\n   '{{$json.data_ini}}',\n    '{{$json.data_fim}}',\n   '{{$json.codigo}}',\n    '{{$json.buscar_nome }}'\n)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2592,
        240
      ],
      "id": "2997aa1d-d7eb-44a7-9797-d476a1c17fd9",
      "name": "ff_diario_listar",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Diário",
        "height": 876,
        "width": 1280,
        "color": 2
      },
      "id": "c2cdc757-d971-4531-8b31-c071bea76b31",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1888,
        160
      ]
    },
    {
      "parameters": {
        "path": "consulta_diario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2176,
        240
      ],
      "id": "940e983b-3613-46df-ad7e-d9f84ac8c6e3",
      "name": "ConsultaDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2784,
        448
      ],
      "id": "b69178d8-364e-44ed-a2f5-13e7fd2d748b",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "diario",
          "mode": "list",
          "cachedResultName": "diario"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "empresa_id": "={{ $json.empresa_id }}",
            "parceiro_id": "={{ $json.parceiro_id}}",
            "valor_total": "={{ $json.valor_total}}",
            "data_mov": "={{ $json.data_mov }}",
            "modelo_codigo": "={{ $json.modelo_codigo }}",
            "historico": "={{ $json.historico}}",
            "doc_ref": "={{ $json['doc_ref '] }}",
            "data_vencto": "={{ $json.parceiro_id}}",
            "desconto": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_mov",
              "displayName": "data_mov",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modelo_codigo",
              "displayName": "modelo_codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "historico",
              "displayName": "historico",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "doc_ref",
              "displayName": "doc_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "parceiro_id",
              "displayName": "parceiro_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_vencto",
              "displayName": "data_vencto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor_custo",
              "displayName": "valor_custo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valor_imposto",
              "displayName": "valor_imposto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "desconto",
              "displayName": "desconto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "outros",
              "displayName": "outros",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2432,
        -96
      ],
      "id": "5883816c-34a0-4ff9-bad9-4daa7da5e3e4",
      "name": "InsertConta2",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inserediario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2144,
        448
      ],
      "id": "553d3e6b-0709-4ece-af74-23cd293851eb",
      "name": "InsereDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "data_mov",
              "value": "={{ $json.body.data_mov}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "modelo_codigo",
              "value": "={{$json.body.modelo_codigo}}",
              "type": "string"
            },
            {
              "id": "021aa349-a10b-4a79-a77e-e07ab6e57f0c",
              "name": "historico",
              "value": "={{ $json.body.historico}}",
              "type": "string"
            },
            {
              "id": "895c8bc9-5cda-4d95-95f3-64ba84801751",
              "name": "doc_ref ",
              "value": "={{$json.body.doc_ref}}",
              "type": "string"
            },
            {
              "id": "d3ca6286-f7ad-4dc0-ad96-005a511cd64d",
              "name": "parceiro_id",
              "value": "={{$json.body.parceiro_id}}",
              "type": "string"
            },
            {
              "id": "40e2e8b7-100b-4de8-9e2f-696536529281",
              "name": "data_vencto",
              "value": "={{$json.body.data_vencto}}",
              "type": "string"
            },
            {
              "id": "f1bf555c-26e2-41ef-9250-64f6febe9baa",
              "name": "valor_total",
              "value": "={{$json.body.valor_total}}",
              "type": "string"
            },
            {
              "id": "5590aafc-201d-442a-be2e-b907b8921e4a",
              "name": "valor_custo",
              "value": "={{$json.body.valor_custo}}",
              "type": "string"
            },
            {
              "id": "e81727bc-02d6-4554-9523-95a9eae8e4f2",
              "name": "valor_imposto",
              "value": "={{$json.body.valor_imposto}}",
              "type": "string"
            },
            {
              "id": "e80760ff-976d-4ec5-b131-ebd3f45c2582",
              "name": "nro_parcelas",
              "value": "={{$json.body.parcelas}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        448
      ],
      "id": "1ca9c805-8c97-4ce0-a93e-1ed8c918f41f",
      "name": "EditInsertDiario"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2800,
        656
      ],
      "id": "b5a1e85e-8ad1-4199-9e09-cbee52e97398",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "path": "diario_retrieve",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2160,
        656
      ],
      "id": "1e15eed2-2d2c-4500-8988-000ca827b124",
      "name": "EditaDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "61d62aae-91f3-4dbb-8921-edd17e44a0b7",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        656
      ],
      "id": "a126f9e1-e04c-4870-a8f9-14f9b46b1daf",
      "name": "EditDiarioRetrieve"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from contab.diario\n   where empresa_id =  {{ $json.empresa_id }} \n      and id =  {{ $json.id }}\n\n\n \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2576,
        656
      ],
      "id": "294dfcfa-be51-4862-9cd2-c992f81a38c9",
      "name": "DiarioRetrieve",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2784,
        864
      ],
      "id": "88aad422-c092-4a4d-9121-ad6e9f1e1cd0",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "diario",
          "mode": "list",
          "cachedResultName": "diario"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "empresa_id": "={{ $json.empresa_id }}",
            "id": "={{ $json.id }}",
            "data_mov": "={{ $json.data_mov }}",
            "modelo_codigo": "={{ $json.modelo_codigo }}",
            "historico": "={{ $json.historico }}",
            "doc_ref": "={{ $json['doc_ref '] }}",
            "parceiro_id": "={{ $json.parceiro_id }}",
            "data_vencto": "={{ $json.data_vencto }}",
            "valor_total": "={{ $json.valor_total }}",
            "valor_custo": "={{ $json.valor_custo }}",
            "valor_imposto": "={{ $json.valor_imposto }}"
          },
          "matchingColumns": [
            "id",
            "empresa_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_mov",
              "displayName": "data_mov",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "modelo_codigo",
              "displayName": "modelo_codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "historico",
              "displayName": "historico",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_ref",
              "displayName": "doc_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parceiro_id",
              "displayName": "parceiro_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_vencto",
              "displayName": "data_vencto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_custo",
              "displayName": "valor_custo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_imposto",
              "displayName": "valor_imposto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "desconto",
              "displayName": "desconto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outros",
              "displayName": "outros",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2560,
        864
      ],
      "id": "3dbcb578-eddf-4369-b782-23e0be6868a5",
      "name": "InsertConta3",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "data_mov",
              "value": "={{ $json.body.data_mov}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "modelo_codigo",
              "value": "={{$json.body.modelo_codigo}}",
              "type": "string"
            },
            {
              "id": "021aa349-a10b-4a79-a77e-e07ab6e57f0c",
              "name": "historico",
              "value": "={{ $json.body.historico}}",
              "type": "string"
            },
            {
              "id": "895c8bc9-5cda-4d95-95f3-64ba84801751",
              "name": "doc_ref ",
              "value": "={{$json.body.doc_ref}}",
              "type": "string"
            },
            {
              "id": "d3ca6286-f7ad-4dc0-ad96-005a511cd64d",
              "name": "parceiro_id",
              "value": "={{$json.body.parceiro_id}}",
              "type": "string"
            },
            {
              "id": "40e2e8b7-100b-4de8-9e2f-696536529281",
              "name": "data_vencto",
              "value": "={{$json.body.data_vencto}}",
              "type": "string"
            },
            {
              "id": "f1bf555c-26e2-41ef-9250-64f6febe9baa",
              "name": "valor_total",
              "value": "={{$json.body.valor_total}}",
              "type": "string"
            },
            {
              "id": "5590aafc-201d-442a-be2e-b907b8921e4a",
              "name": "valor_custo",
              "value": "={{$json.body.valor_custo}}",
              "type": "string"
            },
            {
              "id": "e81727bc-02d6-4554-9523-95a9eae8e4f2",
              "name": "valor_imposto",
              "value": "={{$json.body.valor_imposto}}",
              "type": "string"
            },
            {
              "id": "fbb44cbc-10ca-46a1-be7f-12f06cb0b857",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        864
      ],
      "id": "4a73c127-da62-481a-961e-67cc8014a4e4",
      "name": "EditInsertDiario1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvar_diario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2144,
        864
      ],
      "id": "8cede640-01ef-4f35-8392-5e411faf84c9",
      "name": "SalvarDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        464
      ],
      "id": "8b3c7ce1-8446-42a9-a9a8-0309c45b2a44",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "diario_staging",
          "mode": "list",
          "cachedResultName": "diario_staging"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "empresa_id": "= {{ $json.empresa_id }} ",
            "data_mov": "={{$json.data_mov }}",
            "modelo_codigo": "={{$json.modelo_codigo }}",
            "historico": "={{$json.historico }}",
            "doc_ref": "={{$json.doc_ref}}",
            "data_vencto": "={{$json.data_vencto }}",
            "valor_total": "={{$json.valor_total }}",
            "valor_custo": "={{$json.valor_custo }}",
            "valor_imposto": "={{$json.valor_imposto }}",
            "cnpj": "={{$json.cnpj}}"
          },
          "matchingColumns": [
            "id",
            "empresa_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_mov",
              "displayName": "data_mov",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "modelo_codigo",
              "displayName": "modelo_codigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "historico",
              "displayName": "historico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_ref",
              "displayName": "doc_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cnpj",
              "displayName": "cnpj",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_vencto",
              "displayName": "data_vencto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_custo",
              "displayName": "valor_custo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_imposto",
              "displayName": "valor_imposto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "desconto",
              "displayName": "desconto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outros",
              "displayName": "outros",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lote_id",
              "displayName": "lote_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "validacao",
              "displayName": "validacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        464
      ],
      "id": "22f38ecc-185a-44fa-b275-8fbe4a6d05d1",
      "name": "InsertConta",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "importar_diario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        464
      ],
      "id": "7145a0c2-5e06-4804-a6c1-884432678953",
      "name": "ImportarDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " // =======================================================\n// 1) ENTRADA DO ARQUIVO\n// =======================================================\nconst incoming = items[0];\nconst dataField = \"file\"; // nome do binário de entrada\n\nif (!incoming.binary || !incoming.binary[dataField]) {\n  throw new Error(\"Nenhum arquivo recebido no campo 'file'.\");\n}\n\nconst binary = incoming.binary[dataField];\n\n// Buffer do arquivo\nconst buffer = Buffer.from(binary.data, \"base64\");\n\n// Converte para texto (CSV)\nconst text = buffer.toString(\"utf8\");\n\n\n// =======================================================\n// 2) PARSER CSV UNIVERSAL (, ; | Excel Brasileiro)\n// =======================================================\nfunction parseCSV(text) {\n  const linhas = text\n    .split(/\\r?\\n/)\n    .map(l => l.trim())\n    .filter(l => l.length > 0);\n\n  if (linhas.length === 0) return [];\n\n  const primeiraLinha = linhas[0];\n\n  // Detecta separador automático\n  const separador =\n    primeiraLinha.includes(\";\") ? \";\" :\n    primeiraLinha.includes(\",\") ? \",\" :\n    \";\"; // fallback Excel BR\n\n  const header = primeiraLinha.split(separador).map(h => h.trim());\n\n  const registros = linhas.slice(1).map(line => {\n    const cols = line.split(separador);\n    const obj = {};\n\n    header.forEach((h, i) => {\n      obj[h] = (cols[i] || \"\").trim();\n    });\n\n    return obj;\n  });\n\n  return registros;\n}\n\n\n// =======================================================\n// 3) GERAR JSON FINAL\n// =======================================================\nconst registros = parseCSV(text);\n\n// Retorno no formato do n8n\nreturn registros.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        464
      ],
      "id": "6589e152-5aac-4a09-878d-46183564829f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  contab.ff_diario_staging_validar({{ $json.empresa_id }});\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        464
      ],
      "id": "82ee543a-8630-4e5a-ba6a-8b8c2008ec20",
      "name": "Execute a SQL query1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =======================================================\n// FUNÇÃO: converte \"DD/MM/AAAA\" → \"AAAA-MM-DD\"\n// =======================================================\nfunction brToIso(dateStr) {\n  if (!dateStr) return null;\n\n  // Se já estiver no formato ISO, não mexe\n  if (dateStr.includes(\"-\")) return dateStr;\n\n  const [dia, mes, ano] = dateStr.split(\"/\");\n  return `${ano}-${mes.padStart(2, \"0\")}-${dia.padStart(2, \"0\")}`;\n}\n\n\n// =======================================================\n// PROCESSA O CSV PARSEADO → AJUSTA DATAS\n// =======================================================\nreturn items.map(item => {\n  const j = item.json;\n\n  return {\n    json: {\n      ...j,\n      data_mov: brToIso(j.data_mov),\n      data_vencto: brToIso(j.data_vencto)  ,\n      \n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        464
      ],
      "id": "3bacad2d-10c6-4f15-ae15-a2a711e264ef",
      "name": "CodeArquivo"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        656
      ],
      "id": "64a62284-d2fc-4be4-aa7d-b99b7e587837",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        656
      ],
      "id": "74a80257-7cdc-4209-9e4f-8250870a2c91",
      "name": "EditDelLote"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1408,
        272
      ],
      "id": "0e3db1ed-7b7f-416f-b16d-9d9e5d33f2a4",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluir_lote",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        496,
        656
      ],
      "id": "c25e7028-4008-4a67-b50b-585c571646c2",
      "name": "ExcluirLote",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirmar_lote",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        528,
        272
      ],
      "id": "52ef9c53-c095-47b4-acb5-bf8e64a3a9ea",
      "name": "Consultar_lote",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select distinct lote_id\n  from contab.diario_staging \n  where empresa_id = {{ $json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        656
      ],
      "id": "6e554cea-d1eb-40b0-b9f0-a8d3944b68ca",
      "name": "GetLote",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        272
      ],
      "id": "0409db93-b56d-4f2f-83bb-7abd0b60339a",
      "name": "EditConsulta"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select distinct lote_id\n  from contab.diario_staging \n  where empresa_id = {{ $json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "a6919564-0749-409b-9035-19714ed2d515",
      "name": "LoteConsulta",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete  from  contab.diario_staging \n  where empresa_id = {{ $('EditDelLote').item.json.empresa_id }} and \n  lote_id = '{{ $json.lote_id }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        656
      ],
      "id": "9db876ad-6dc2-4022-a3b4-8795fd0fa564",
      "name": "ExcluiLote",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from  contab.ff_consolidar_diario_staging( {{ $json.empresa_id }}) ;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        272
      ],
      "id": "bd7031ed-95a1-4042-8ba2-7f3bbb69571f",
      "name": "ff_diario_staging_validar",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        272
      ],
      "id": "2d96f4a1-fea1-4fa2-a08b-66f323163057",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "## Diário",
        "height": 876,
        "width": 1280,
        "color": 3
      },
      "id": "7f2f0fb5-1a34-4d68-8f02-92ce362e13c9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM contab.diario_registrar({{ $json.empresa_id }},'{{ $json.data_mov }}', '{{ $json.modelo_codigo }}','{{ $json.historico }}',{{ $json.valor_total }},'{{ $json.data_vencto }}',{{ $json.parceiro_id }}, {{ $json.nro_parcelas}}, '{{ $json['doc_ref '] }}',null)\n  ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2560,
        448
      ],
      "id": "4c70990b-51ea-4357-ae00-14ccf8998b0f",
      "name": "diario_registrar",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    }
  ],
  "pinData": {
    "EditInsertDiario": [
      {
        "json": {
          "empresa_id": 1,
          "data_mov": "20251223",
          "modelo_codigo": "VENDAS",
          "historico": "TESTE",
          "doc_ref ": "nf4554",
          "parceiro_id": 1,
          "data_vencto": "20251225",
          "valor_total": 8500,
          "valor_custo": 0,
          "valor_imposto": 0,
          "nro_parcelas": 7
        }
      }
    ]
  },
  "connections": {
    "EditModeloslinha3": {
      "main": [
        [
          {
            "node": "ff_diario_listar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_diario_listar": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaDiario": {
      "main": [
        [
          {
            "node": "EditModeloslinha3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta2": {
      "main": [
        []
      ]
    },
    "InsereDiario": {
      "main": [
        [
          {
            "node": "EditInsertDiario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditInsertDiario": {
      "main": [
        [
          {
            "node": "diario_registrar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaDiario": {
      "main": [
        [
          {
            "node": "EditDiarioRetrieve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditDiarioRetrieve": {
      "main": [
        [
          {
            "node": "DiarioRetrieve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DiarioRetrieve": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta3": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditInsertDiario1": {
      "main": [
        [
          {
            "node": "InsertConta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvarDiario": {
      "main": [
        [
          {
            "node": "EditInsertDiario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ImportarDiario": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "CodeArquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeArquivo": {
      "main": [
        [
          {
            "node": "InsertConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditDelLote": {
      "main": [
        [
          {
            "node": "GetLote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirLote": {
      "main": [
        [
          {
            "node": "EditDelLote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_lote": {
      "main": [
        [
          {
            "node": "EditConsulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetLote": {
      "main": [
        [
          {
            "node": "ExcluiLote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditConsulta": {
      "main": [
        [
          {
            "node": "ff_diario_staging_validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiLote": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_diario_staging_validar": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diario_registrar": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed5eb594-6b91-4969-ae6b-00ae974637fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "VABaKVDfsiWqVNdx",
  "tags": []
}