n8n_files/ContabilFlow.json
{
  "name": "ContabilFlow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        192
      ],
      "id": "67f84cfe-c060-408e-b0ce-808e45cce522",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "content": "## Contabil",
        "height": 700,
        "width": 1280,
        "color": 5
      },
      "id": "c4790859-24e0-41cb-b9c8-8d6c52405c9c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        64
      ]
    },
    {
      "parameters": {
        "path": "modelos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        192
      ],
      "id": "fd36e56b-52c4-4b26-9535-643464529d60",
      "name": "modelos",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n SELECT  * from contab.modelos where empresa_id = \n  {{ $json.empresa_id }}  ORDER BY CODIGO ASC\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        192
      ],
      "id": "3ec70b7e-8eec-4665-954a-30bc5a3a7b2f",
      "name": "Modelos",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "04c7951a-fd58-4d6c-9111-7556ba4a1f90",
      "name": "EditModelos"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        416
      ],
      "id": "665bd1b4-e936-4f2a-bacf-ab06772d123e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "modelos_linhas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        416
      ],
      "id": "c745590c-72f8-42ec-89a9-608e6071a02d",
      "name": "modelo_linha",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "79d8e8b2-2754-4ad5-ac0e-787b2cd6bbe3",
              "name": "modelo_id",
              "value": "={{ $json.query.modelo_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        416
      ],
      "id": "5da24f20-7ea6-437a-b720-a76a16291cf5",
      "name": "EditModeloslinha"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  ml.id,  conta_id,  ml.dc ,  c.codigo, c.nome, c.tipo, c.natureza  , modelo_id \nfrom contab.modelos_linhas as ml \nleft join contab.contas as c\n on \nc.id =ml.conta_id   AND\nc.empresa_id =ml.empresa_id    \n where ml.modelo_id = {{ $json.modelo_id }} and \n  c.empresa_id = \n  {{ $json.empresa_id }}\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        416
      ],
      "id": "24bda693-7e96-4fd9-ae3e-8c78e09db56d",
      "name": "ModelosLinha",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -880,
        944
      ],
      "id": "7ffa8dcb-84a4-4de2-b083-68f2820a9e4f",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "79d8e8b2-2754-4ad5-ac0e-787b2cd6bbe3",
              "name": "buscar_nome",
              "value": "={{ $json.query.nome}}",
              "type": "string"
            },
            {
              "id": "56d32e07-028f-443d-a949-6b4ecbaed16e",
              "name": "dc",
              "value": "={{ $json.query.dc}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        944
      ],
      "id": "f0cc5554-6bd9-4321-9b17-cae3c9909487",
      "name": "EditModeloslinha1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \nSELECT \n    id,\n    codigo,\n    nome,\n    tipo,\n    natureza  \nFROM contab.contas\nWHERE empresa_id = {{ $json.empresa_id }}\n  AND (\n        unaccent(lower(nome))   LIKE unaccent(lower('%{{ $json.buscar_nome}}%'))\n     OR unaccent(lower(codigo)) LIKE unaccent(lower('%{{ $json.buscar_nome}}%'))\n  )  \nORDER BY codigo\nLIMIT 20;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1104,
        944
      ],
      "id": "ca48e06d-7c27-4330-8e69-098028045139",
      "name": "BuscarContas",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "buscar_contas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1520,
        944
      ],
      "id": "cc2b69b8-526a-4e45-972c-7082b9a126c9",
      "name": "Contas",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -752,
        1168
      ],
      "id": "4d255d21-7238-4bf8-82a7-89f66a141a88",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "modelo_id",
              "value": "={{ $json.query.modelo_id}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "body",
              "value": "={{ $json.body}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        1168
      ],
      "id": "5b16f693-ee2c-4be1-b3a5-39f6f88a2357",
      "name": "Edit_PagarFatura"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " UPDATE contab.modelos_linhas\nSET conta_id = {{ $json.conta_id }}\nWHERE id = {{ $json.id }}\n  AND modelo_id = {{ $json.modelo_id }}\n  and empresa_id =  {{ $('Edit_PagarFatura').item.json.empresa_id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -992,
        1168
      ],
      "id": "450e3cdb-f3b6-4892-a91f-3667be75e663",
      "name": "AutalizaModelLinha",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvar_mapeamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1552,
        1168
      ],
      "id": "1de0b79e-2747-4fd8-a41a-01c8f45fca47",
      "name": "SalvaMapeamento",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " let body = $input.first().json.body  ;\n \n// SE vier como string, converte:\nif (typeof body === \"string\") {\n  body = JSON.parse(body);\n}\n\n// Se vier dentro de um campo (às vezes n8n coloca em json.body)\nif (typeof body.body === \"string\") {\n  body = JSON.parse(body.body);\n}\n\nreturn body;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        1168
      ],
      "id": "c1e980b0-8c38-46a1-af30-f6bd5bb0618e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -976,
        1392
      ],
      "id": "3c7d5fa0-3b8f-458b-9ffa-e0e06e46b23a",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "57739ea8-d745-4d52-bdb2-5af3bf155218",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            },
            {
              "id": "2ce5e70a-456b-4017-a201-9132cc0ab50a",
              "name": "dc",
              "value": "={{ $json.query.dc}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        1392
      ],
      "id": "099163b0-5ddc-4aae-9bc5-114db44ec943",
      "name": "EditModeloslinha2"
    },
    {
      "parameters": {
        "path": "contascontabeis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1584,
        1392
      ],
      "id": "a9d08859-7bf7-4e10-a8a5-8c1b92bd4700",
      "name": "ContasContabeis",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -880,
        112
      ],
      "id": "87c76416-1785-4cdb-b884-48994aef2cac",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontacontabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1520,
        112
      ],
      "id": "ee3f81bc-18a0-4d6e-a969-1534b17431e4",
      "name": "NovaContaCtb",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "contas",
          "mode": "list",
          "cachedResultName": "contas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analitica": false,
            "codigo": "={{ $json.codigo }}",
            "empresa_id": "={{ $json.empresa_id }}",
            "nome": "={{ $json.nome }}",
            "natureza": "={{ $json.natureza }}",
            "nivel": "={{ $json.nivel }}",
            "tipo": "={{ $json.tipo }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "natureza",
              "displayName": "natureza",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nivel",
              "displayName": "nivel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conta_pai_id",
              "displayName": "conta_pai_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analitica",
              "displayName": "analitica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1104,
        112
      ],
      "id": "010fc098-1917-470f-9bc5-6731e54afa1a",
      "name": "InsertConta",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "codigo",
              "value": "={{ $json.query.codigo}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "nome",
              "value": "={{ $json.query.nome}}",
              "type": "string"
            },
            {
              "id": "021aa349-a10b-4a79-a77e-e07ab6e57f0c",
              "name": "natureza",
              "value": "={{ $json.query.natureza}}",
              "type": "string"
            },
            {
              "id": "895c8bc9-5cda-4d95-95f3-64ba84801751",
              "name": "nivel",
              "value": "={{ $json.query.nivel}}",
              "type": "string"
            },
            {
              "id": "d3ca6286-f7ad-4dc0-ad96-005a511cd64d",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        112
      ],
      "id": "4aff1251-ac1c-4bc3-9dfd-eefcce51f54c",
      "name": "Editnovaconta"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -896,
        352
      ],
      "id": "455ea9ac-f1ca-444a-b293-0634e505b88c",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualizar_conta_contabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1536,
        352
      ],
      "id": "eba9a9e1-6cf2-4407-b128-9346fdbddb37",
      "name": "NovaContaCtb1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "contas",
          "mode": "list",
          "cachedResultName": "contas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analitica": false,
            "codigo": "={{ $json.codigo }}",
            "empresa_id": "={{ $json.empresa_id }}",
            "nome": "={{ $json.nome }}",
            "natureza": "={{ $json.natureza }}",
            "nivel": "={{ $json.nivel }}",
            "tipo": "={{ $json.tipo }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id",
            "empresa_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "natureza",
              "displayName": "natureza",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nivel",
              "displayName": "nivel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conta_pai_id",
              "displayName": "conta_pai_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analitica",
              "displayName": "analitica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1120,
        352
      ],
      "id": "ca31f701-564d-4ed9-852b-2141d0525ec4",
      "name": "InsertConta1",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "codigo",
              "value": "={{ $json.query.codigo}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "nome",
              "value": "={{ $json.query.nome}}",
              "type": "string"
            },
            {
              "id": "021aa349-a10b-4a79-a77e-e07ab6e57f0c",
              "name": "natureza",
              "value": "={{ $json.query.natureza}}",
              "type": "string"
            },
            {
              "id": "895c8bc9-5cda-4d95-95f3-64ba84801751",
              "name": "nivel",
              "value": "={{ $json.query.nivel}}",
              "type": "string"
            },
            {
              "id": "d3ca6286-f7ad-4dc0-ad96-005a511cd64d",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            },
            {
              "id": "6fb987e1-456b-4c59-92b0-693556727602",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        352
      ],
      "id": "d6f4059d-6546-4e03-964f-3d787b6a4a67",
      "name": "EditContaCtb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -880,
        576
      ],
      "id": "99909799-d63e-4d57-8a39-9f78d37d533e",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contascontabeis_excluir",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1520,
        576
      ],
      "id": "a3442dd9-2b1c-451d-906d-c537cc0ed317",
      "name": "NovaContaCtb2",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "6fb987e1-456b-4c59-92b0-693556727602",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        576
      ],
      "id": "ff499142-5cf9-431e-a0ed-7cc692611a44",
      "name": "EditExcluirContaCtb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete  from contab.contas\n  where empresa_id = {{ $json.empresa_id }}  and id =   {{ $json.id }}  ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1104,
        576
      ],
      "id": "4766f46b-c38e-4900-956b-5b79dda094ba",
      "name": "ExcluirContaCtb",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "content": "## Contabil",
        "height": 716,
        "width": 1280,
        "color": 3
      },
      "id": "94baf17a-033c-4935-9bf7-cded42a5f8d2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        64
      ]
    },
    {
      "parameters": {
        "content": "## Contabil",
        "height": 716,
        "width": 1280
      },
      "id": "24d11e13-0a1b-4f99-a5b3-85c1aa0fa795",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        864
      ]
    },
    {
      "parameters": {
        "content": "## Modelos   e Modelo Linhas ( Mapeamento de lancamentos contabeis)",
        "height": 716,
        "width": 1280,
        "color": 7
      },
      "id": "df5863db-655c-4bc5-8cb3-a40a4c08e535",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        864
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n    id,\n    codigo,\n    nome,\n    tipo,\n    natureza,\n    nivel\nFROM contab.contas\nWHERE empresa_id = {{ $json.empresa_id }}\n  AND ( {{ $json.id }} IS NULL OR {{ $json.id }} = 0 OR id = {{ $json.id }} )\n  AND ( '{{ $json.dc }}' IS NULL OR '{{ $json.dc }}' = '' OR natureza = '{{ $json.dc }}' )\nORDER BY codigo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1168,
        1392
      ],
      "id": "2ffde0cc-958d-4f07-92bd-09c41a6f7e4f",
      "name": "ContasContb",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inseremodelo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        976
      ],
      "id": "c310ac90-a570-4d14-ab1d-5fb2aa000668",
      "name": "NovoModelo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        976
      ],
      "id": "81f69855-9e10-48ac-b243-45e399046b3f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        528,
        976
      ],
      "id": "9613600d-8e41-430c-917c-204b5761433a",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "eed502e7-079f-47a3-8dab-2c78153a5cb8",
              "name": "modelo_id",
              "value": "={{ $json.query.modelo_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        1232
      ],
      "id": "3cb5d288-554e-4535-9e87-92ab20fd1500",
      "name": "Edit_PagarFatura2"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1232
      ],
      "id": "7da16ce1-a862-4e57-9529-a54cad4dc8d7",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        528,
        1232
      ],
      "id": "d8986459-dc0b-4334-8be6-822cbc235174",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirmodelo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        1232
      ],
      "id": "42a4f0b8-129f-4ba7-8e4d-59fdce558f95",
      "name": "ExcluirModelo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nselect * from contab.ff_excluir_modelo({{ $json.empresa_id }}, {{ $json.modelo_id }} )\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        1232
      ],
      "id": "e1638b15-86f8-461d-ba60-0a72caf2fb0a",
      "name": "ff_excluir_modelo",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "codigo",
              "value": "={{ $json.body.codigo}}",
              "type": "string"
            },
            {
              "id": "eed502e7-079f-47a3-8dab-2c78153a5cb8",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "c5eb8155-10fe-4573-90dc-7eb78363fe99",
              "name": "tipo_automacao",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        976
      ],
      "id": "37e9f48b-0b0b-4b10-926b-79571a123f79",
      "name": "EditNovoModelo"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nselect * from contab.ff_criar_modelo({{ $json.empresa_id }}, '{{$json.nome}}','{{ $json.codigo}}', '{{ $json.tipo_automacao }}')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        976
      ],
      "id": "0cfc5b56-5f41-4fbd-b90f-0fa6ea651f8b",
      "name": "ff_criar_modelo",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        432,
        608
      ],
      "id": "a0439fe0-c53a-491b-b4fb-be3ffce96262",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "path": "modelos_gerencial",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        608
      ],
      "id": "78b3d5e6-cdc8-4c04-9821-1b86ef3d342d",
      "name": "modelogerencial",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fff3302c-87a7-4e48-99ba-f42e5f6733de",
              "name": "=gerencial_id",
              "value": "={{ $json.query.gerencial_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        608
      ],
      "id": "d6d48304-e07e-4468-ab61-0448cc035796",
      "name": "EditModGerencial"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n SELECT  m.* from contab.modelos m \n   inner join  categorias_gerenciais g \n   on g.grupo_contabil = m.codigo and \n       g.empresa_id  = m.empresa_id\n   where m.empresa_id = \n  {{ $json.empresa_id }} and g.id =   {{ $json.gerencial_id }} ORDER BY CODIGO ASC\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        608
      ],
      "id": "8f93d4de-67ce-4e09-80b9-02ee9ce1dca7",
      "name": "ModeloGerencial",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "modelos": {
      "main": [
        [
          {
            "node": "EditModelos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelos": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModelos": {
      "main": [
        [
          {
            "node": "Modelos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelo_linha": {
      "main": [
        [
          {
            "node": "EditModeloslinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModeloslinha": {
      "main": [
        [
          {
            "node": "ModelosLinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModelosLinha": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModeloslinha1": {
      "main": [
        [
          {
            "node": "BuscarContas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarContas": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas": {
      "main": [
        [
          {
            "node": "EditModeloslinha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_PagarFatura": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AutalizaModelLinha": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaMapeamento": {
      "main": [
        [
          {
            "node": "Edit_PagarFatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AutalizaModelLinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModeloslinha2": {
      "main": [
        [
          {
            "node": "ContasContb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasContabeis": {
      "main": [
        [
          {
            "node": "EditModeloslinha2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovaContaCtb": {
      "main": [
        [
          {
            "node": "Editnovaconta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editnovaconta": {
      "main": [
        [
          {
            "node": "InsertConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovaContaCtb1": {
      "main": [
        [
          {
            "node": "EditContaCtb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertConta1": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditContaCtb": {
      "main": [
        [
          {
            "node": "InsertConta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovaContaCtb2": {
      "main": [
        [
          {
            "node": "EditExcluirContaCtb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditExcluirContaCtb": {
      "main": [
        [
          {
            "node": "ExcluirContaCtb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirContaCtb": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasContb": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovoModelo": {
      "main": [
        [
          {
            "node": "EditNovoModelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_PagarFatura2": {
      "main": [
        [
          {
            "node": "ff_excluir_modelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirModelo": {
      "main": [
        [
          {
            "node": "Edit_PagarFatura2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_excluir_modelo": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNovoModelo": {
      "main": [
        [
          {
            "node": "ff_criar_modelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_criar_modelo": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelogerencial": {
      "main": [
        [
          {
            "node": "EditModGerencial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditModGerencial": {
      "main": [
        [
          {
            "node": "ModeloGerencial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModeloGerencial": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52c94a69-8e03-408b-86ab-ce1ba669d5b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "BNzypC9r8Tpv2rG9",
  "tags": []
}