n8n_files/FinanceFLowProcessos.json
{
  "name": "FinanceFLowProcessos",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        -32
      ],
      "id": "db292ec8-7b31-4017-8bc9-0a000c7f029d",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "contas",
              "value": "={{ $json.body.contas}}",
              "type": "string"
            },
            {
              "id": "3d27d507-2aef-4907-9696-e41f23d10c6a",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -32
      ],
      "id": "73e9022a-096b-4aba-a199-56d7e0c9b775",
      "name": "Edtranscartao"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1004,
        "width": 1328,
        "color": 4
      },
      "id": "c4659b39-38f2-41f0-a919-04f53c172572",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_pagar_contas(\n  {{ $json.empresa_id }},\n  '{{ $json.contas_json }}'::json,\n   {{ $json.conta_id }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        -32
      ],
      "id": "199f48c9-7613-41b7-83c8-ddba882aeb68",
      "name": "ff_pagar_contas",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        160
      ],
      "id": "a47e3e85-3baf-4521-9833-5a5fdd3761ce",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "contas",
              "value": "={{ $json.body.contas}}",
              "type": "string"
            },
            {
              "id": "3d27d507-2aef-4907-9696-e41f23d10c6a",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        160
      ],
      "id": "84f2707f-278f-499f-8db3-0e5a32c57885",
      "name": "Edtranscartao1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagar_contas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -32
      ],
      "id": "736cacae-4e7a-4ef0-a83c-04d906d7f75a",
      "name": "PagaContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber_contas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        160
      ],
      "id": "63cc8995-756e-43a7-a25e-3c5e0bcfe413",
      "name": "RecebeContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_receber_contas(\n  {{ $json.empresa_id }},\n  '{{ $json.contas_json }}'::json,\n   {{ $json.conta_id }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        160
      ],
      "id": "0308937a-05e3-47ad-addf-e3b129eae7bd",
      "name": "ff_receber_contas",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    contas_json: JSON.stringify($json.contas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        160
      ],
      "id": "1a580006-495f-4c37-b445-ce6d1c53728b",
      "name": "CodeReceber"
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    contas_json: JSON.stringify($json.contas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -32
      ],
      "id": "c5d14c23-0c83-4757-b1b4-2062900ef5df",
      "name": "CodePagar"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        352
      ],
      "id": "bd1b17ae-a920-4875-ba9b-8c4ae1773304",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    contas_json: JSON.stringify( $input.first().json.faturas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id \n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        224
      ],
      "id": "159b9f0d-4f52-4626-b6c2-56d4171473ed",
      "name": "CodeReceber1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagar_faturas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        352
      ],
      "id": "3eb414c6-99f5-46f4-963d-fe5a76bd125a",
      "name": "PagarFaturas",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "faturas",
              "value": "={{ $json.body.faturas}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        352
      ],
      "id": "58c97005-855b-4da8-b736-412a533597cb",
      "name": "Edit_PagarFatura"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_registrar_pagamento_faturas(\n  {{ $json.empresa_id }},\n   {{ $json.conta_id }},\n   '{{ $json.faturas }}'::json \n);\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        352
      ],
      "id": "c7969e38-b719-41b3-aa40-1bce714c9566",
      "name": "ff_registrar_pagamento_faturas",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    faturas: JSON.stringify( $input.first().json.faturas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        352
      ],
      "id": "8aa92892-2f29-481e-ae56-51dde4fc8cb1",
      "name": "CodeReceber2"
    }
  ],
  "pinData": {},
  "connections": {
    "Edtranscartao": {
      "main": [
        [
          {
            "node": "CodePagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_pagar_contas": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao1": {
      "main": [
        [
          {
            "node": "CodeReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagaContaPagar": {
      "main": [
        [
          {
            "node": "Edtranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RecebeContaReceber": {
      "main": [
        [
          {
            "node": "Edtranscartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_receber_contas": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeReceber": {
      "main": [
        [
          {
            "node": "ff_receber_contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodePagar": {
      "main": [
        [
          {
            "node": "ff_pagar_contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeReceber1": {
      "main": [
        []
      ]
    },
    "PagarFaturas": {
      "main": [
        [
          {
            "node": "Edit_PagarFatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_PagarFatura": {
      "main": [
        [
          {
            "node": "CodeReceber2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_pagamento_faturas": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeReceber2": {
      "main": [
        [
          {
            "node": "ff_registrar_pagamento_faturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d0dad7f-5ca2-4006-b58f-ab191a35bfa6",
  "meta": {
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "bbm1xaJyQPs1Zoo9",
  "tags": []
}