n8n_files/FinanceFLowProcessos.json
{
  "name": "FinanceFLowProcessos",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        224
      ],
      "id": "2ccd37cb-7303-4b5c-abae-866250ae1174",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "contas",
              "value": "={{ $json.body.contas}}",
              "type": "string"
            },
            {
              "id": "3d27d507-2aef-4907-9696-e41f23d10c6a",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        224
      ],
      "id": "52a5a02b-54ae-4261-b8c4-1ec8549fc7af",
      "name": "Edtranscartao"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1324,
        "width": 1328,
        "color": 4
      },
      "id": "0b130f5e-67a0-43a1-b8b5-fffc5ff08338",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_pagar_contas(\n  {{ $json.empresa_id }},\n  '{{ $json.contas_json }}'::json,\n   {{ $json.conta_id }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        224
      ],
      "id": "9a66b4f6-2052-48a0-b2fd-08de59682c11",
      "name": "ff_pagar_contas",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        416
      ],
      "id": "6e2d71ba-f107-436b-8a36-60ab3d80990f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "contas",
              "value": "={{ $json.body.contas}}",
              "type": "string"
            },
            {
              "id": "3d27d507-2aef-4907-9696-e41f23d10c6a",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        416
      ],
      "id": "26438929-f800-428b-af37-efe911f86d70",
      "name": "Edtranscartao1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagar_contas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        224
      ],
      "id": "af60a9cb-5d2c-4b34-a059-45242adbb211",
      "name": "PagaContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber_contas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        416
      ],
      "id": "51b4a6dd-56b9-4e3e-b134-2ef21c71cf3e",
      "name": "RecebeContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_receber_contas(\n  {{ $json.empresa_id }},\n  '{{ $json.contas_json }}'::json,\n   {{ $json.conta_id }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        416
      ],
      "id": "4a2e2589-7ae7-4c3f-9433-534513a312c0",
      "name": "ff_receber_contas",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    contas_json: JSON.stringify($json.contas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        416
      ],
      "id": "35d9cd68-b4c9-4e0f-a344-bdd2db58f765",
      "name": "CodeReceber"
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    contas_json: JSON.stringify($json.contas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        224
      ],
      "id": "88984b71-0e17-4b8f-97a5-759784a417c3",
      "name": "CodePagar"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        608
      ],
      "id": "6fd40073-d61d-446c-8bef-f9e84f05c5d0",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagar_faturas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        608
      ],
      "id": "09bd30bd-cbd9-49aa-a6b1-6e2d496f2f78",
      "name": "PagarFaturas",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "faturas",
              "value": "={{ $json.body.contas}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        608
      ],
      "id": "f8508422-4e06-4669-90bf-ce451b353de1",
      "name": "Edit_PagarFatura"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_registrar_pagamento_faturas(\n  {{ $json.empresa_id }},\n   {{ $json.conta_id }},\n   '{{ $json.faturas }}'::json \n);\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        608
      ],
      "id": "53ab75a0-7115-42cc-aee9-c20f7157dc0e",
      "name": "ff_registrar_pagamento_faturas",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    faturas: JSON.stringify( $input.first().json.faturas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        608
      ],
      "id": "4e34d24d-8411-4aa4-b87c-9fbee34763b4",
      "name": "CodeReceber2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        848
      ],
      "id": "8da23375-9f36-4de7-9162-2970aef146a3",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    faturas: JSON.stringify( $input.first().json.faturas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        480
      ],
      "id": "4a6d6243-9d6a-4d52-be16-8d01d3624fee",
      "name": "CodeReceber3",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estornarlancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        848
      ],
      "id": "8c22b8c7-86ff-4f03-a2de-a556b6e50dad",
      "name": "Estornalancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        848
      ],
      "id": "7cff7b38-73a8-4c8d-9a0c-f9e9c6c002f7",
      "name": "EditEstorno"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_estornar_transacao(\n  {{ $json.empresa_id }},\n  {{ $json.id }}\n);\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        848
      ],
      "id": "8188f713-b232-45ec-92a8-67cdbaa39e20",
      "name": "ff_estornar_transacao",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        1072
      ],
      "id": "d300e6f1-d45b-4dc8-82da-31d5aa2813e5",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "path": "titulos_vencidos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        1072
      ],
      "id": "bee2c577-43d7-480e-8b2b-28371c5fa467",
      "name": "TitulosVencidos",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "c41666a4-f294-4f09-9bff-30c3673a3f29",
              "name": "dias",
              "value": "={{ $json.query.dias}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        1072
      ],
      "id": "f29f342c-e12f-40de-9f2e-1b8763b27bfb",
      "name": "EditVencidos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT tipo_origem, origem_id, descricao, \n   parceiro, valor, vencimento, dias_atraso, status, evento_codigo, conta_contabil_id ,critico, critico_msg, origem_tabela  from  ff_titulos_vencidos(\n  {{ $json.empresa_id }} , {{ $json.dias }}\n);\n\n \n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        1072
      ],
      "id": "6e92447c-cbac-4660-ba91-9c19aa710d76",
      "name": "ff_titulos_vencidos",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    }
  ],
  "pinData": {
    "EditVencidos": [
      {
        "json": {
          "empresa_id": 1,
          "dias": 15
        }
      }
    ]
  },
  "connections": {
    "Edtranscartao": {
      "main": [
        [
          {
            "node": "CodePagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_pagar_contas": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao1": {
      "main": [
        [
          {
            "node": "CodeReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagaContaPagar": {
      "main": [
        [
          {
            "node": "Edtranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RecebeContaReceber": {
      "main": [
        [
          {
            "node": "Edtranscartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_receber_contas": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeReceber": {
      "main": [
        [
          {
            "node": "ff_receber_contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodePagar": {
      "main": [
        [
          {
            "node": "ff_pagar_contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagarFaturas": {
      "main": [
        [
          {
            "node": "Edit_PagarFatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_PagarFatura": {
      "main": [
        [
          {
            "node": "CodeReceber2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_pagamento_faturas": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeReceber2": {
      "main": [
        [
          {
            "node": "ff_registrar_pagamento_faturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estornalancto": {
      "main": [
        [
          {
            "node": "EditEstorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditEstorno": {
      "main": [
        [
          {
            "node": "ff_estornar_transacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_estornar_transacao": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TitulosVencidos": {
      "main": [
        [
          {
            "node": "EditVencidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditVencidos": {
      "main": [
        [
          {
            "node": "ff_titulos_vencidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_titulos_vencidos": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c662f38d-50a8-468c-ac7a-7ae08fe8f0dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "DOUynkoNCNz4YKcv",
  "tags": []
}