n8n_files/FinanceFlowtransaCartão.json
{
  "name": "FinanceFlowtransaCartão",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        752,
        288
      ],
      "id": "08c110ec-0777-4f24-8bf7-1c06b5c48bf5",
      "name": "Respond to Webhook16"
    },
    {
      "parameters": {
        "path": "transcaocartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        288
      ],
      "id": "8f0d6527-e290-409f-9a7b-b466597d621e",
      "name": "TransacaoCartao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom ff_transacoes_fatura_cartao(\n  {{ $json.id_empresa }},\n  {{ $json.id }} ,\n  '{{ $json.data }}'\n)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        288
      ],
      "id": "e89daa96-d4da-4012-9727-3c9e323ac4f3",
      "name": "TransaCartão",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        464
      ],
      "id": "69f8686a-9ede-45f8-b649-17d44c8b317c",
      "name": "Respond to Webhook17"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nSELECT \n    t.*,\n    c.nome AS cartao_nome,\n    c.bandeira AS cartao_bandeira\nFROM cartoes_transacoes t\nJOIN cartoes_faturas f \n      ON f.id = t.fatura_id\n     AND f.empresa_id = t.empresa_id\nJOIN cartoes c\n      ON c.id = f.cartao_id\n     AND c.empresa_id = t.empresa_id\nWHERE t.id = {{ $json.id }}\n  AND t.empresa_id = {{ $json.id_empresa }};\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        464
      ],
      "id": "affc4a6e-5725-470f-a622-f7786c26bb98",
      "name": "TransaCartão1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id_transacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        464
      ],
      "id": "a80c1628-b4b0-43f1-bb78-0c3bdb8cc5f1",
      "name": "EditarTranscartao"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        112
      ],
      "id": "7f0b669e-42a4-44d2-8266-7965edaaf9b3",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novatranscartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        112
      ],
      "id": "f8abbaf9-c539-42e5-978e-cd000dfc0875",
      "name": "InsereTransCartão",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from cartoes_transacoes where id = {{ $json.ff_registrar_compra_credito }} and empresa_id =   {{ $('Edtranscartao').item.json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        112
      ],
      "id": "03c6de67-0981-4d7b-9e74-424a57cb3fbf",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        656
      ],
      "id": "659dd76b-bf54-47fc-9f39-382ecd69b2de",
      "name": "Respond to Webhook18"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id_transacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        656
      ],
      "id": "4be18999-abd0-402c-941d-20b33edb246e",
      "name": "EditarTranscartao1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exclitranscartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        656
      ],
      "id": "38e772b0-26f7-4413-8c65-d54738dfdc1c",
      "name": "Excluinscartao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT *\n      \nFROM  ff_excluir_transacao_cartao( {{ $json.id_empresa }},   {{ $json.id }}) ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        656
      ],
      "id": "bb3363c9-d1d5-40b5-b9a0-7f549aa7dafb",
      "name": "ff_excluir_transacao_cartao",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  * from ff_registrar_compra_credito(\n  {{ $json.empresa_id }} ,\n  '{{ $json.cartao_nome }}',\n '{{ $json.descricao }}' ,\n {{ $json.valor }}  ,\n  {{ $json.parcela_num }},\n '{{ $json.data_parcela }}'  ,{{ $json.contabil_id }}\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        112
      ],
      "id": "3d315dc9-0b5d-45e2-8e4a-7211ce38b0ad",
      "name": "ff_registrar_compra_credito1",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            },
            {
              "id": "dd1713ed-c8bf-488e-bf5f-64f5aee16daa",
              "name": "data",
              "value": "={{ $json.query.referencia}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        288
      ],
      "id": "844e0c00-53a5-4525-9190-7de8c713261e",
      "name": "transcartao"
    },
    {
      "parameters": {
        "path": "retrivetranscaocartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        464
      ],
      "id": "aec7d1ed-2451-4d92-bdce-6328cef76df3",
      "name": "Consultatrasacao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        816
      ],
      "id": "edb44be0-d8c5-44a9-8cf4-a909c765c597",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n  update \n cartoes_transacoes \n  set descricao =  '{{ $json.descricao }}'\n   WHERE id = {{ $json.id }}\n  AND empresa_id = {{ $json.id_empresa }};\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        816
      ],
      "id": "fcc5de91-3bb1-49c3-90f3-c63162829af7",
      "name": "TransaCartão2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "updatetranscartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        816
      ],
      "id": "0a438076-e0d0-44b1-a471-655cbbd731c0",
      "name": "EditarTransacao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "=id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id_transacao}}",
              "type": "string"
            },
            {
              "id": "92f67d27-59cf-439d-ae66-b8237fa6fa01",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        816
      ],
      "id": "e24cae9c-b524-4491-b45a-b90a3c086633",
      "name": "EditarSalvaTrans"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1004,
        "width": 1328,
        "color": 4
      },
      "id": "4bcc19d8-1ce5-4d1d-b91c-ebf43198db19",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "cartao_nome",
              "value": "={{ $json.body.cartao_nome}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor_total}}",
              "type": "string"
            },
            {
              "id": "37f90cdc-fd8e-4e63-93f4-965f853e64e5",
              "name": "parcela_num",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "965a678e-d4e3-4126-a08b-65193391b3a5",
              "name": "parcela_total",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "data_parcela",
              "value": "={{ $json.body.data_compra}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "12d90e74-f631-4248-8bfd-f9a220e2c69a",
              "name": "contabil_id",
              "value": "={{ $json.body.contabil_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        112
      ],
      "id": "16335723-d7f0-431b-acfe-5ad1452252e3",
      "name": "Edtranscartao"
    }
  ],
  "pinData": {},
  "connections": {
    "TransacaoCartao": {
      "main": [
        [
          {
            "node": "transcartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransaCartão": {
      "main": [
        [
          {
            "node": "Respond to Webhook16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransaCartão1": {
      "main": [
        [
          {
            "node": "Respond to Webhook17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarTranscartao": {
      "main": [
        [
          {
            "node": "TransaCartão1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereTransCartão": {
      "main": [
        [
          {
            "node": "Edtranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarTranscartao1": {
      "main": [
        [
          {
            "node": "ff_excluir_transacao_cartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluinscartao": {
      "main": [
        [
          {
            "node": "EditarTranscartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_excluir_transacao_cartao": {
      "main": [
        [
          {
            "node": "Respond to Webhook18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_compra_credito1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcartao": {
      "main": [
        [
          {
            "node": "TransaCartão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultatrasacao": {
      "main": [
        [
          {
            "node": "EditarTranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransaCartão2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarTransacao": {
      "main": [
        [
          {
            "node": "EditarSalvaTrans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarSalvaTrans": {
      "main": [
        [
          {
            "node": "TransaCartão2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao": {
      "main": [
        [
          {
            "node": "ff_registrar_compra_credito1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7262aaf2-7542-4340-aec0-50726b160148",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "JYOT0mtzru6cpQr7",
  "tags": []
}