n8n_files/FinanceFlowContaPagar.json
{
  "name": "FinanceFlowContaPagar",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        352
      ],
      "id": "990f26a8-5a3b-4faf-b811-6c43fd332d58",
      "name": "Respond to Webhook31"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        176
      ],
      "id": "b624b16e-32a0-4b81-8688-69c0a2b27a5a",
      "name": "Respond to Webhook33"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        528
      ],
      "id": "94368713-6407-4e10-ba39-456549fb5421",
      "name": "Respond to Webhook34"
    },
    {
      "parameters": {
        "content": "##  Modulo Contas a Pagar\n Controla Contas a pagar do sistema Financeflow",
        "height": 1468,
        "width": 1328,
        "color": 6
      },
      "id": "b890cd75-dcb4-46b3-9967-5aa2aaf2b3c1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontapagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        176
      ],
      "id": "1dfe3a21-a382-4a91-af1e-ea4e2188fb22",
      "name": "InsereContapagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "de393231-6bc4-46b1-a9fb-fa878f154e3a",
              "name": "parcelas",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "1f01619a-d496-4154-8149-b4bc01bffdf7",
              "name": "doc_ref",
              "value": "={{ $json.body.doc_ref}}",
              "type": "string"
            },
            {
              "id": "b5a8de92-dfd5-4f17-81b7-ed513922b223",
              "name": "classificacao",
              "value": "={{$json.body.classificacao}}",
              "type": "string"
            },
            {
              "id": "431290aa-6b84-492b-b3e3-ff5b8908822d",
              "name": "codigo",
              "value": "={{ $json.body.codigo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        176
      ],
      "id": "65d29ee5-471a-42f9-b0e8-015a8f1f0bf6",
      "name": "EditaaContapagar"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contas_a_pagar \n  where id = {{ $json.ff_registrar_conta_pagar_com_parcelas }}\n  and empresa_id = {{ $('EditaaContapagar').item.json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        224
      ],
      "id": "2c582327-bf5a-4ac8-8377-4042c2d50937",
      "name": "ResultConta_pagar",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom ff_consultar_contas_pagar(\n  {{ $json.id_empresa }},\n  '{{ $json.status }}',\n  '{{ $json.data_ini}}', \n  '{{ $json.data_fim}}',\n   {{ $json.fornecedor_id }},\n   {{ $json.somente_vencidas }}\n)\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        352
      ],
      "id": "660e2470-f4e7-4604-ba16-ba361680e7af",
      "name": "ff_consultar_contas_pagar",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "status",
              "value": "={{ $json.query.status}}",
              "type": "string"
            },
            {
              "id": "dd1713ed-c8bf-488e-bf5f-64f5aee16daa",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "dc098c67-1af5-44ef-ae1d-3992855f7fde",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "80e0ae6a-d205-478d-bb01-118324bbe421",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "72e2b890-70b7-441f-84bf-2c82d917eb0e",
              "name": "somente_vencidas",
              "value": "={{ $json.query.somente_vencidas}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        352
      ],
      "id": "b1ccd279-571c-4385-9486-36d914cd2a20",
      "name": "transcontapg"
    },
    {
      "parameters": {
        "path": "consultarcontapagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        352
      ],
      "id": "596ef5c7-6dfe-4b27-ae7f-3e444f099efd",
      "name": "ConsultarContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  * from ff_registrar_conta_pagar_com_parcelas(\n  {{ $json.empresa_id }} ,\n  '{{ $json.descricao}}',\n   {{ $json.valor}} , \n   '{{ $json.vencimento }}',\n   null, \n   {{ $json.parcelas}},\n   {{ $json.fornecedor_id }},\n   {{ $json.categoria_id}} ,\n     '{{ $json.doc_ref }}',\n   '{{$json.classificacao}}',\n    '{{ $json.codigo }}'\n)\n  \n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        176
      ],
      "id": "852e29c8-ffb9-4a4c-be89-b34332f98991",
      "name": "ff_registrar_conta_pagar_com_parcelas",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        720
      ],
      "id": "ae1e73a7-a85d-425b-b18a-ad8977308275",
      "name": "Respond to Webhook37"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "b97f031a-5075-4f75-a5a7-7b46fe82da37",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            },
            {
              "id": "16a8fa8e-0609-4ab5-9cde-1de81e4fb232",
              "name": "status",
              "value": "={{$json.body.status}}",
              "type": "string"
            },
            {
              "id": "161ddfaa-4000-475e-862a-006b607db1e6",
              "name": "doc_ref",
              "value": "={{ $json.body.doc_ref}}",
              "type": "string"
            },
            {
              "id": "575566f7-bf4e-43d8-8a5b-5e04472d2c1d",
              "name": "codigo",
              "value": "={{ $json.body.codigo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        720
      ],
      "id": "b16e3cfb-0d64-4b6a-88bc-7989257db9bf",
      "name": "EditaaContapagar1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvarcontapagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        720
      ],
      "id": "d6f81f05-efa0-4fd3-8e9e-3dac1bee4543",
      "name": "SalvaContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exclui_conta_pagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        528
      ],
      "id": "d1e22b9a-b2d1-4ac1-bb33-0934c498c18a",
      "name": "ExcluiContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_pagar   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        528
      ],
      "id": "c8255916-8616-4af0-9530-21041d3dca58",
      "name": "ExcluiConta_a_pagar",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        912
      ],
      "id": "65fdd9b1-6e19-48d2-93c1-83cc4c19fac3",
      "name": "Respond to Webhook40"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        528
      ],
      "id": "e805daac-9693-495e-bfc5-40d666075a8c",
      "name": "ExcluircontaPagar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            },
            {
              "id": "58de1b8e-405c-48c3-8539-0e573ff31b1f",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        912
      ],
      "id": "8fc80a9c-3043-4bb7-9216-f5554e42f083",
      "name": "EditarContaPagar"
    },
    {
      "parameters": {
        "path": "conta_pagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        912
      ],
      "id": "675136f1-6fe9-4d7d-ab85-39b799901de4",
      "name": "ContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        1120
      ],
      "id": "9d12540c-e999-45a0-b4ad-b56b0fd2c9b3",
      "name": "Respond to Webhook45"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "lote_id",
              "value": "={{ $json.query.lote_id}}",
              "type": "string"
            },
            {
              "id": "e79af6bd-1ef9-45c4-a838-9edb25beedc4",
              "name": "categoria_id",
              "value": "={{ $json.query.categoria_id}}",
              "type": "string"
            },
            {
              "id": "7b59b655-0aa7-4bf1-a3d5-f054ebdbbfca",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        1120
      ],
      "id": "96504fe1-ecfc-4865-92ca-d742f7092317",
      "name": "EditarContaPagar1"
    },
    {
      "parameters": {
        "path": "conta_pagar_parcelado",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        1120
      ],
      "id": "7be908f0-c027-453d-834e-acabe4223785",
      "name": "ContaPagar1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        1296
      ],
      "id": "d0db60b3-8894-4185-8616-d38d03a9c392",
      "name": "Respond to Webhook46"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "lote_id",
              "value": "={{ $json.body.lote_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        1296
      ],
      "id": "121c9f8c-2bcf-4fba-adc4-ff8ba7d112d6",
      "name": "ExcluircontaPagar1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * \nFROM  contas_a_pagar   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        912
      ],
      "id": "29b45902-f4c2-4e6f-8927-f91effd98204",
      "name": "BuscaConta",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n    cp.lote_id,\n    cp.descricao,\n    p.nome AS fornecedor_nome,\n    c.nome AS categoria_nome,\n    cp.parcelas,\n    cp.status,\n    SUM(cp.valor) AS valor_total\nFROM contas_a_pagar cp\nLEFT JOIN pessoa p \n       ON p.id = cp.fornecedor_id\nLEFT JOIN categorias_gerenciais c \n       ON c.id = cp.categoria_id\nWHERE cp.empresa_id =  {{ $json.empresa_id }}\n  AND ( {{ $json.lote_id }} =0   OR cp.lote_id IS NULL OR cp.lote_id = {{ $json.lote_id }}  )\n  AND (cp.fornecedor_id = {{ $json.fornecedor_id }} OR {{ $json.fornecedor_id }} = 0)\n  AND (cp.categoria_id = {{ $json.categoria_id }} OR {{ $json.categoria_id }} = 0)\n  AND  cp.parcelas > 1  \nGROUP BY \n    cp.lote_id,\n    cp.descricao,\n    p.nome,\n    c.nome,\n    cp.parcelas,\n    cp.status\nORDER BY cp.lote_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        1120
      ],
      "id": "cb8be5c2-c5fc-455c-9563-4daec16de896",
      "name": "BuscaParcelamento",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_pagar   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    lote_id = {{ $json.lote_id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        1296
      ],
      "id": "9296adfe-e187-41a8-b6d1-16832baff566",
      "name": "ExcluiTodaContaParcelada",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirparcelaspagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        1296
      ],
      "id": "7fe170ab-610a-4853-b273-7d3efd3b9e3c",
      "name": "ExcluiContatoda",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        176
      ],
      "id": "3476fb7c-996d-481a-b06e-869fcbc8e931",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contas_a_pagar",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.empresa_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.empresa_id }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.descricao }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $json.vencimento }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.categoria_id }}"
            },
            {
              "fieldId": "fornecedor_id",
              "fieldValue": "={{ $json.fornecedor_id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status}}"
            },
            {
              "fieldId": "doc_ref",
              "fieldValue": "={{ $json.doc_ref }}"
            },
            {
              "fieldId": "modelo_codigo",
              "fieldValue": "={{ $json.codigo}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        720
      ],
      "id": "9999717e-453c-4b0b-a957-4428494dde49",
      "name": "SalvaContaPagar2",
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "InsereContapagar": {
      "main": [
        [
          {
            "node": "EditaaContapagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaaContapagar": {
      "main": [
        [
          {
            "node": "ff_registrar_conta_pagar_com_parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_consultar_contas_pagar": {
      "main": [
        [
          {
            "node": "Respond to Webhook31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcontapg": {
      "main": [
        [
          {
            "node": "ff_consultar_contas_pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarContaPagar": {
      "main": [
        [
          {
            "node": "transcontapg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_conta_pagar_com_parcelas": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaaContapagar1": {
      "main": [
        [
          {
            "node": "SalvaContaPagar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaPagar": {
      "main": [
        [
          {
            "node": "EditaaContapagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiContaPagar": {
      "main": [
        [
          {
            "node": "ExcluircontaPagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiConta_a_pagar": {
      "main": [
        [
          {
            "node": "Respond to Webhook34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluircontaPagar": {
      "main": [
        [
          {
            "node": "ExcluiConta_a_pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaPagar": {
      "main": [
        [
          {
            "node": "BuscaConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContaPagar": {
      "main": [
        [
          {
            "node": "EditarContaPagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaPagar1": {
      "main": [
        [
          {
            "node": "BuscaParcelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContaPagar1": {
      "main": [
        [
          {
            "node": "EditarContaPagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluircontaPagar1": {
      "main": [
        [
          {
            "node": "ExcluiTodaContaParcelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaConta": {
      "main": [
        [
          {
            "node": "Respond to Webhook40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaParcelamento": {
      "main": [
        [
          {
            "node": "Respond to Webhook45",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiTodaContaParcelada": {
      "main": [
        [
          {
            "node": "Respond to Webhook46",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiContatoda": {
      "main": [
        [
          {
            "node": "ExcluircontaPagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaPagar2": {
      "main": [
        [
          {
            "node": "Respond to Webhook37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e3a9f95-8057-4887-88e3-2a0f27169125",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "TIVpIgwYuLPm8N9q",
  "tags": []
}