n8n_files/FinanceFlowCartões.json
{
  "name": "FinanceFlowCartões",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'usuario ok' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "e11ff31f-f383-4a35-bec8-35905f995636",
      "name": "Sim",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "  return [{ json: { success: false, message: 'usuario invalido' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        256
      ],
      "id": "b7bf1c29-5222-434b-8813-31231daf5ad7",
      "name": "Não",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{$json.email}}"
            },
            {
              "keyName": "senha_hash",
              "keyValue": "={{ $json.password }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        112
      ],
      "id": "ef8036e2-a3d9-4e6e-9c9c-2d8a6229fd6d",
      "name": "DadosUsuario",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n * \n  FROM usuario_empresa ue\nJOIN usuarios u ON u.id = ue.usuario_id \n  WHERE u.email= '{{ $('DadosUsuario').item.json.email }}' AND \n  u.senha_hash = '{{ $('DadosUsuario').item.json.senha_hash }}';\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        96
      ],
      "id": "361126c5-bed5-468a-8323-21a446d98f46",
      "name": "DadosEmpresa",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "logi",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        112
      ],
      "id": "00a3048a-f26e-4f05-8b57-469aa171103e",
      "name": "Login",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "059b3d30-905f-4038-b8c1-9582bae19867",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "91d4813d-55f8-40af-a588-cc77a7b30153",
              "leftValue": "= {{ $('Usuario').item.json.password }}",
              "rightValue": "={{ $json.senha_hash }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        112
      ],
      "id": "ca1a90b3-bcf4-46ef-a672-a710a78e1085",
      "name": "If2",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        96
      ],
      "id": "7be0b341-443b-4edc-b9b6-05c6d4d6005c",
      "name": "Merge2"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        96
      ],
      "id": "846cab02-53a6-4bb9-a2ec-e637c41b9949",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "807e4143-d55c-420c-b026-90bb242e057f",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "password",
              "value": "={{ $json.body.senha}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        112
      ],
      "id": "a4eb4f87-5675-4982-b376-58d33ab7daa7",
      "name": "Usuario",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        1040
      ],
      "id": "ea830a94-0ca1-446f-96ef-b7a9f2f87c9c",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novo_cartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        1040
      ],
      "id": "c5d0d217-707e-4f50-b9d7-7b1ded1eb7e5",
      "name": "NovoCartao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1356,
        "width": 1312
      },
      "id": "d55cfa61-7f13-4edb-95bb-2b1b0c4f0e21",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        608
      ]
    },
    {
      "parameters": {
        "path": "cartoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        848
      ],
      "id": "cae60b80-0d51-4856-b38b-152249cffaa3",
      "name": "ListaCartões",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   cartoes  where empresa_id = {{ $json.id_empresa }} ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        848
      ],
      "id": "3ab71283-b414-44fc-aa9c-9e2e3bbfb5dd",
      "name": "Cartoes",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}} ",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        848
      ],
      "id": "6ecd9c49-6444-4fac-8c13-d4f49f14085f",
      "name": "cartoesEdit"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        176,
        848
      ],
      "id": "85d48d6b-ef58-44e2-ad9d-3e1be0d42771",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        176,
        688
      ],
      "id": "ac0d6b05-e59f-4848-80dd-125d8f34d8fe",
      "name": "Respond to Webhook21"
    },
    {
      "parameters": {
        "path": "editarcartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        688
      ],
      "id": "189bdb1e-d71d-4519-b807-38a1692860d9",
      "name": "EditarCartões",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}} ",
              "type": "number"
            },
            {
              "id": "51324e38-48c6-4999-a5e0-07f88de5777e",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        688
      ],
      "id": "d2bb5f0b-4f3b-4214-9c87-2a3a45c1d09f",
      "name": "EditarCartões1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   cartoes  \n  where empresa_id = {{ $json.id_empresa }}\n and id = {{ $json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        688
      ],
      "id": "4deb6e6a-1f5a-40bf-a009-6a492f807332",
      "name": "EditarCartão",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        160,
        1216
      ],
      "id": "5e60964f-3d0f-45c4-a2a1-832059d96556",
      "name": "Respond to Webhook22"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome_cartao",
              "value": "={{ $json.body.NomeCartao}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "bandeira",
              "value": "={{ $json.body.bandeira}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "numero",
              "value": "={{ $json.body.numero}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "fechamento_dia",
              "value": "={{ $json.body.fechamento_dia}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            },
            {
              "id": "234342fb-06fa-46a9-98f3-995fbf4f6116",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            },
            {
              "id": "63e47d45-ebcb-402b-92d6-2039f46950c3",
              "name": "limite",
              "value": "={{ $json.body.limite}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "vencimento_dia",
              "value": "={{ $json.body.vencimento_dia}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "limite_total",
              "value": "={{ $json.body.limite_total}}",
              "type": "string"
            },
            {
              "id": "da7d9e41-6981-4818-a621-d1b1d282f37c",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        1216
      ],
      "id": "0e6b8000-8d8d-4b55-8262-ac2e61522ccb",
      "name": "EditNewCartao1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cartoes",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_empresa }}"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "nomecartao",
              "fieldValue": "= {{ $json.nome_cartao }}"
            },
            {
              "fieldId": "bandeira",
              "fieldValue": "={{ $json.bandeira}}"
            },
            {
              "fieldId": "limite_total",
              "fieldValue": "={{ $json.limite_total }}"
            },
            {
              "fieldId": "fechamento_dia",
              "fieldValue": "= {{ $json.fechamento_dia }}"
            },
            {
              "fieldId": "vencimento_dia",
              "fieldValue": "={{ $json.vencimento_dia }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $json.numero }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $json.vencimento}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status}}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -64,
        1216
      ],
      "id": "ad54f910-02c3-4325-b5e0-fe71f11d47b8",
      "name": "SalvaCartao",
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvacartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        1216
      ],
      "id": "fd069367-f5a2-434a-b626-55fe8427abd6",
      "name": "SalvaCartao1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nomecartao",
              "value": "={{ $json.body.nomecartao}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "bandeira",
              "value": "={{ $json.body.bandeira}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "numero",
              "value": "={{ $json.body.numero}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "fechamento_dia",
              "value": "={{ $json.body.fechamento_dia}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "vencimento_dia",
              "value": "={{ $json.body.vencimento_dia}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "limite_total",
              "value": "={{ $json.body.limite_total}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        1040
      ],
      "id": "a5adc928-72b8-439d-ba47-03056841a375",
      "name": "EditNewCartao"
    },
    {
      "parameters": {
        "tableId": "cartoes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "nomecartao",
              "fieldValue": "={{ $json.nomecartao }}"
            },
            {
              "fieldId": "bandeira",
              "fieldValue": "={{ $json.bandeira}}"
            },
            {
              "fieldId": "limite_total",
              "fieldValue": "={{ $json.limite_total }}"
            },
            {
              "fieldId": "fechamento_dia",
              "fieldValue": "= {{ $json.fechamento_dia }}"
            },
            {
              "fieldId": "vencimento_dia",
              "fieldValue": "={{ $json.vencimento_dia }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $json.numero }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $json.vencimento}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status}}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -48,
        1040
      ],
      "id": "18fb8ad2-6a4b-4c83-a580-51de93ebb08c",
      "name": "SalvaCartao2",
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        160,
        1392
      ],
      "id": "8224af7f-ee7f-4454-8404-59ea9687570c",
      "name": "Respond to Webhook23"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " delete \nFROM cartoes\nWHERE empresa_id = {{ $json.id_empresa }}\n  AND id = {{ $json.id }} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        1392
      ],
      "id": "c3a0ea02-f5cb-4f61-89f6-f807747a96ee",
      "name": "DelCartões",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        1392
      ],
      "id": "381a4e4c-97e9-435d-8a6a-094677ab31f7",
      "name": "Delcartoes"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluircartoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        1392
      ],
      "id": "5b5ee1ef-876d-4437-af57-b480e6e0e689",
      "name": "DelCard",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "content": "## Cartões Compras.. \nConsultar e excluir compras (em aberto ).",
        "height": 1356,
        "width": 1312,
        "color": 4
      },
      "id": "7dea06a9-59bd-461c-8042-63db78787e50",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2528,
        608
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1680,
        832
      ],
      "id": "f1698753-10e7-430c-bc1f-f559fdc41036",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compracartoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2304,
        832
      ],
      "id": "ed7f97b4-3f60-43ad-b7d2-1c1ee9599c01",
      "name": "CompraCartoes",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n    c.*,\n    ca.nome     AS cartao_nome,\n    ca.numero   AS cartao_numero,\n    ca.bandeira AS cartao_bandeira  \nFROM cartoes_compras c\nJOIN cartoes ca\n  ON ca.id = c.cartao_id  \nWHERE c.empresa_id =   {{ $json.id_empresa }}\n  AND ca.empresa_id =  {{ $json.id_empresa }}\n  and c.data_compra between  '{{ $json.data_ini }}' and '{{ $json.data_fim }}' ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1888,
        832
      ],
      "id": "e5f75ee2-811b-4354-8917-a9e3491889a5",
      "name": "CompraCartoes1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}} ",
              "type": "number"
            },
            {
              "id": "e92c46c0-c910-4d3b-a096-335c8b82186d",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}} ",
              "type": "string"
            },
            {
              "id": "437396c5-c5c6-49ec-9091-a65f69b15f1c",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        832
      ],
      "id": "92d41ec9-499f-4039-8bf2-dd9b985ea587",
      "name": "CompraCartoes2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1616,
        1024
      ],
      "id": "28582a32-48bd-4ff9-b576-b135cec77f5a",
      "name": "Respond to Webhook24"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluircompras",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2304,
        1024
      ],
      "id": "813a6c21-2fcf-425a-8d52-d2d15b81adc1",
      "name": "ExcluirCompra",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.compra_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        1024
      ],
      "id": "7b740c18-6a0e-43d3-9220-a776401302bc",
      "name": "ExcluirCompraEdit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from ff_excluir_compra_cartao( {{ $json.empresa_id }}, {{ $json.id }} )\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1872,
        1024
      ],
      "id": "acc646dc-438e-419b-9831-6243b237a1ba",
      "name": "ff_excluir_compra_cartao",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "CompraCartoes2": [
      {
        "json": {
          "id_empresa": 1,
          "data_ini": "20250101",
          "data_fim": "20261201"
        }
      }
    ]
  },
  "connections": {
    "Sim": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DadosUsuario": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosEmpresa": {
      "main": [
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Sim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "DadosEmpresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuario": {
      "main": [
        [
          {
            "node": "DadosUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovoCartao": {
      "main": [
        [
          {
            "node": "EditNewCartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaCartões": {
      "main": [
        [
          {
            "node": "cartoesEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cartoesEdit": {
      "main": [
        [
          {
            "node": "Cartoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartoes": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartões": {
      "main": [
        [
          {
            "node": "EditarCartões1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartões1": {
      "main": [
        [
          {
            "node": "EditarCartão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartão": {
      "main": [
        [
          {
            "node": "Respond to Webhook21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNewCartao1": {
      "main": [
        [
          {
            "node": "SalvaCartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao": {
      "main": [
        [
          {
            "node": "Respond to Webhook22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao1": {
      "main": [
        [
          {
            "node": "EditNewCartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNewCartao": {
      "main": [
        [
          {
            "node": "SalvaCartao2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao2": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DelCartões": {
      "main": [
        [
          {
            "node": "Respond to Webhook23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delcartoes": {
      "main": [
        [
          {
            "node": "DelCartões",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DelCard": {
      "main": [
        [
          {
            "node": "Delcartoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CompraCartoes": {
      "main": [
        [
          {
            "node": "CompraCartoes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CompraCartoes1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CompraCartoes2": {
      "main": [
        [
          {
            "node": "CompraCartoes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirCompra": {
      "main": [
        [
          {
            "node": "ExcluirCompraEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirCompraEdit": {
      "main": [
        [
          {
            "node": "ff_excluir_compra_cartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_excluir_compra_cartao": {
      "main": [
        [
          {
            "node": "Respond to Webhook24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e70120a-7140-4968-b468-108c2f0724ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "3L5UMX7fW6Y3Ntms",
  "tags": []
}