n8n_files/FinanceFlowtransaCartão.json
{
  "name": "FinanceFlowtransaCartão",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        752,
        288
      ],
      "id": "3c23e0bd-2bb2-4eb3-b6d5-6b5b01b5b79b",
      "name": "Respond to Webhook16"
    },
    {
      "parameters": {
        "path": "transcaocartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        288
      ],
      "id": "c127b89f-8838-4c8e-8772-1873aff1cc1f",
      "name": "TransacaoCartao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom ff_transacoes_fatura_cartao(\n  {{ $json.id_empresa }},\n  {{ $json.id }} ,\n  '{{ $json.data }}'\n)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        288
      ],
      "id": "a0243132-0bee-47fa-8e58-a813ffd1924b",
      "name": "TransaCartão",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        464
      ],
      "id": "b9e487a2-003a-41b9-a4db-a6198294abc6",
      "name": "Respond to Webhook17"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nSELECT \n    t.*,\n    c.nome AS cartao_nome,\n    c.bandeira AS cartao_bandeira\nFROM cartoes_transacoes t\nJOIN cartoes_faturas f \n      ON f.id = t.fatura_id\n     AND f.empresa_id = t.empresa_id\nJOIN cartoes c\n      ON c.id = f.cartao_id\n     AND c.empresa_id = t.empresa_id\nWHERE t.id = {{ $json.id }}\n  AND t.empresa_id = {{ $json.id_empresa }};\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        464
      ],
      "id": "538cc9e1-2849-4727-a1a6-7c7239fa1db1",
      "name": "TransaCartão1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id_transacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        464
      ],
      "id": "d4a5f88e-5a82-4ee7-8ec3-e0f5759ca640",
      "name": "EditarTranscartao"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        112
      ],
      "id": "de234624-9108-40d9-afc3-e9afca47e0e4",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novatranscartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        112
      ],
      "id": "5b16406f-b7b5-4d1a-af55-23d8a5651d80",
      "name": "InsereTransCartão",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from cartoes_transacoes where id = {{ $json.ff_registrar_compra_credito }} and empresa_id =   {{ $('Edtranscartao').item.json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        112
      ],
      "id": "e1b76f48-5b30-4ad1-b671-ba6589fd5a61",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        656
      ],
      "id": "cce148f2-cb1a-482f-a45d-fff78ec6fad4",
      "name": "Respond to Webhook18"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id_transacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        656
      ],
      "id": "777f51b8-dbc9-4900-946f-ca64e1bd647a",
      "name": "EditarTranscartao1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exclitranscartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        656
      ],
      "id": "3e806444-08d2-430d-9ab8-a53d36edd61b",
      "name": "Excluinscartao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT *\n      \nFROM  ff_excluir_transacao_cartao( {{ $json.id_empresa }},   {{ $json.id }}) ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        656
      ],
      "id": "c459cff0-f885-4dbd-a698-19532d3eb6c4",
      "name": "ff_excluir_transacao_cartao",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  * from ff_registrar_compra_credito(\n  {{ $json.empresa_id }} ,\n  '{{ $json.cartao_nome }}',\n '{{ $json.descricao }}' ,\n {{ $json.valor }}  ,\n  {{ $json.parcela_num }},\n '{{ $json.data_parcela }}'  ,{{ $json.contabil_id }}, '{{ $json.classificacao }}','{{ $json.modelo_codigo }}'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        112
      ],
      "id": "76332ddc-dd34-44b1-a7d9-1eaa884f9559",
      "name": "ff_registrar_compra_credito1",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            },
            {
              "id": "dd1713ed-c8bf-488e-bf5f-64f5aee16daa",
              "name": "data",
              "value": "={{ $json.query.referencia}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        288
      ],
      "id": "4328272b-7e26-4864-9f6f-86418c188576",
      "name": "transcartao"
    },
    {
      "parameters": {
        "path": "retrivetranscaocartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        464
      ],
      "id": "c0c060b9-fe39-4825-87aa-ad51c2321ada",
      "name": "Consultatrasacao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        816
      ],
      "id": "ac0b1ab0-fe65-4501-ad16-e1f701974883",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n  update \n cartoes_transacoes \n  set descricao =  '{{ $json.descricao }}'\n   WHERE id = {{ $json.id }}\n  AND empresa_id = {{ $json.id_empresa }};\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        816
      ],
      "id": "e0a66282-0935-4162-856a-7ee2325ec21b",
      "name": "TransaCartão2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "updatetranscartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        816
      ],
      "id": "587056c2-7eaa-4bab-bdf1-c4db3618f4d7",
      "name": "EditarTransacao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "=id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id_transacao}}",
              "type": "string"
            },
            {
              "id": "92f67d27-59cf-439d-ae66-b8237fa6fa01",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        816
      ],
      "id": "abbddc72-c06e-44ec-8bfc-b974540daba5",
      "name": "EditarSalvaTrans"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1004,
        "width": 1328,
        "color": 4
      },
      "id": "a37f2743-97a2-437e-9ab2-bb2a1f271fbf",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "cartao_nome",
              "value": "={{ $json.body.cartao_nome}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor_total}}",
              "type": "string"
            },
            {
              "id": "37f90cdc-fd8e-4e63-93f4-965f853e64e5",
              "name": "parcela_num",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "965a678e-d4e3-4126-a08b-65193391b3a5",
              "name": "parcela_total",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "data_parcela",
              "value": "={{ $json.body.data_compra}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "12d90e74-f631-4248-8bfd-f9a220e2c69a",
              "name": "contabil_id",
              "value": "={{ $json.body.contabil_id}}",
              "type": "string"
            },
            {
              "id": "dc6899c1-4532-4f1a-a870-a3a3008c27ce",
              "name": "classificacao",
              "value": "={{$json.body.classificacao}}",
              "type": "string"
            },
            {
              "id": "ef481811-7bb9-4be3-97aa-45980ec02645",
              "name": "modelo_codigo",
              "value": "={{$json.body.modelo_codigo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        112
      ],
      "id": "885660f0-c828-4f7a-852a-ed425d87ef42",
      "name": "Edtranscartao"
    }
  ],
  "pinData": {},
  "connections": {
    "TransacaoCartao": {
      "main": [
        [
          {
            "node": "transcartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransaCartão": {
      "main": [
        [
          {
            "node": "Respond to Webhook16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransaCartão1": {
      "main": [
        [
          {
            "node": "Respond to Webhook17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarTranscartao": {
      "main": [
        [
          {
            "node": "TransaCartão1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereTransCartão": {
      "main": [
        [
          {
            "node": "Edtranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarTranscartao1": {
      "main": [
        [
          {
            "node": "ff_excluir_transacao_cartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluinscartao": {
      "main": [
        [
          {
            "node": "EditarTranscartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_excluir_transacao_cartao": {
      "main": [
        [
          {
            "node": "Respond to Webhook18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_compra_credito1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcartao": {
      "main": [
        [
          {
            "node": "TransaCartão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultatrasacao": {
      "main": [
        [
          {
            "node": "EditarTranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransaCartão2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarTransacao": {
      "main": [
        [
          {
            "node": "EditarSalvaTrans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarSalvaTrans": {
      "main": [
        [
          {
            "node": "TransaCartão2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao": {
      "main": [
        [
          {
            "node": "ff_registrar_compra_credito1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9448cec-8a67-4f52-aa53-e2f6203cd872",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "Ergus9Z0iN9WMxjY",
  "tags": []
}