n8n_files/FinanceFlowFornecedorCliente.json
{
  "name": "FinanceFlowFornecedorCliente",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        -128
      ],
      "id": "48fd2841-5f91-4ae5-8714-5f0c5d393b9c",
      "name": "Respond to Webhook35"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        48
      ],
      "id": "1d26a42b-9b16-4444-9aa5-8aa189c8a89e",
      "name": "Respond to Webhook36"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        528,
        192
      ],
      "id": "daacac09-fc67-4edd-a061-93dc9a170f7e",
      "name": "Respond to Webhook38"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        192
      ],
      "id": "535d5093-e2d7-4c34-b9b3-1b052a7fa37f",
      "name": "EditarTranscartao5"
    },
    {
      "parameters": {
        "content": "## Pessao Forncedor Cliente\nWebhook s relacionados a pewsssoa cliente fornecedor",
        "height": 1036,
        "width": 1232,
        "color": 4
      },
      "id": "2a9388cb-4ab0-4956-a634-165f84ed6282",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -240
      ]
    },
    {
      "parameters": {
        "path": "fornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        -128
      ],
      "id": "d32936f7-27b1-4241-9224-140be6cb248e",
      "name": "ForncededorCliente",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "b0e434d4-9925-47e2-acb2-0d645c9ca347",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -128
      ],
      "id": "35750b72-975e-4dca-afe4-02ff0479e096",
      "name": "EditForneCliente"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom pessoa where empresa_id = \n  {{ $json.id_empresa }}  \nand ( tipo = \n  '{{ $json.tipo }}' or '{{ $json.tipo }}' ='ambos');\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        -128
      ],
      "id": "1aff2055-beb8-42af-9bdd-048a9d3e08f2",
      "name": "ForneceClientePessoa",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "editfornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        48
      ],
      "id": "11afcc93-2673-42c9-bd51-63bedcf81855",
      "name": "EditForneCliente1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        48
      ],
      "id": "0e4df90c-efe5-4348-b235-0de1db805d87",
      "name": "EditarFroCli1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  \nSELECT \n     *\nFROM pessoa  \nWHERE id = {{ $json.id }}\n  AND empresa_id = {{ $json.id_empresa }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        48
      ],
      "id": "e950a0d4-a5c5-432e-9cab-c1e624a3bfae",
      "name": "FormFornecedorCliente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        528,
        352
      ],
      "id": "27e87f9b-a468-4ed3-86bf-deb39ac68fbe",
      "name": "Respond to Webhook30"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        528,
        496
      ],
      "id": "2fe84e09-257b-43cb-bff8-007b7e89d611",
      "name": "Respond to Webhook39"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvafornecedor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        352
      ],
      "id": "2398c8a0-662b-4659-8d40-bce34d9b4382",
      "name": "SalvaForCli",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pessoa",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_empresa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "cpf_cnpj",
              "fieldValue": "={{ $json.cpf_cnpj }}"
            },
            {
              "fieldId": "rg_ie",
              "fieldValue": "={{ $json.rg_ie }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $json.whatsapp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "endereco",
              "fieldValue": "={{ $json.endereco }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $json.bairro }}"
            },
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $json.cidade }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $json.cep }}"
            },
            {
              "fieldId": "obs",
              "fieldValue": "={{ $json.obs }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        352
      ],
      "id": "48e5cf17-eef1-41d8-8959-7d1020b47c48",
      "name": "SalvaForneceClien",
      "credentials": {
        "supabaseApi": {
          "id": "HoBl47G6kDDDNQ29",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "cpf_cnpj",
              "value": "={{ $json.body.cpf_cnpj}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "rg_ie",
              "value": "={{ $json.body.rg_ie}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "telefone",
              "value": "={{ $json.body.telefone}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "email",
              "value": "={{ $json.body.email}}",
              "type": "string"
            },
            {
              "id": "f27b116b-79e3-4115-b020-19282f1d0301",
              "name": "endereco",
              "value": "={{ $json.body.endereco}}",
              "type": "string"
            },
            {
              "id": "5b6967a2-a8af-4dd4-bbf1-e979c55b0bc3",
              "name": "bairro",
              "value": "={{ $json.body.bairro}}",
              "type": "string"
            },
            {
              "id": "e7d195ea-f64c-4f92-ac7c-9247afeb7a63",
              "name": "cidade",
              "value": "={{ $json.body.cidade}}",
              "type": "string"
            },
            {
              "id": "1eaf0ca6-ca2b-494a-81dc-9a3e08964f4b",
              "name": "estado",
              "value": "={{ $json.body.estado}}",
              "type": "string"
            },
            {
              "id": "d1d6c68e-b1eb-40fd-8f58-40e75a04bb89",
              "name": "cep",
              "value": "={{ $json.body.cep}}",
              "type": "string"
            },
            {
              "id": "7e056b54-da25-4be0-941d-824af711e0d4",
              "name": "obs",
              "value": "={{ $json.body.obs}}",
              "type": "string"
            },
            {
              "id": "a4f0dceb-7ad8-47a3-bce1-5f687d584030",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        352
      ],
      "id": "fdf8c328-5ed4-484c-b56b-5b82093a3990",
      "name": "EditSalvaForneceClien"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "cpf_cnpj",
              "value": "={{ $json.body.cpf_cnpj}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "rg_ie",
              "value": "={{ $json.body.rg_ie}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "telefone",
              "value": "={{ $json.body.telefone}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "email",
              "value": "={{ $json.body.email}}",
              "type": "string"
            },
            {
              "id": "f27b116b-79e3-4115-b020-19282f1d0301",
              "name": "endereco",
              "value": "={{ $json.body.endereco}}",
              "type": "string"
            },
            {
              "id": "5b6967a2-a8af-4dd4-bbf1-e979c55b0bc3",
              "name": "bairro",
              "value": "={{ $json.body.bairro}}",
              "type": "string"
            },
            {
              "id": "e7d195ea-f64c-4f92-ac7c-9247afeb7a63",
              "name": "cidade",
              "value": "={{ $json.body.cidade}}",
              "type": "string"
            },
            {
              "id": "1eaf0ca6-ca2b-494a-81dc-9a3e08964f4b",
              "name": "estado",
              "value": "={{ $json.body.estado}}",
              "type": "string"
            },
            {
              "id": "d1d6c68e-b1eb-40fd-8f58-40e75a04bb89",
              "name": "cep",
              "value": "={{ $json.body.cep}}",
              "type": "string"
            },
            {
              "id": "7e056b54-da25-4be0-941d-824af711e0d4",
              "name": "obs",
              "value": "={{ $json.body.obs}}",
              "type": "string"
            },
            {
              "id": "a4f0dceb-7ad8-47a3-bce1-5f687d584030",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        496
      ],
      "id": "e28b027a-e9bd-4232-ab0e-3066fd5cc9a2",
      "name": "EditSalvaForneceClien1"
    },
    {
      "parameters": {
        "tableId": "pessoa",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "cpf_cnpj",
              "fieldValue": "={{ $json.cpf_cnpj }}"
            },
            {
              "fieldId": "rg_ie",
              "fieldValue": "={{ $json.rg_ie }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $json.whatsapp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "endereco",
              "fieldValue": "={{ $json.endereco }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $json.bairro }}"
            },
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $json.cidade }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $json.cep }}"
            },
            {
              "fieldId": "obs",
              "fieldValue": "={{ $json.obs }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        496
      ],
      "id": "e3d787ed-8b97-4a7a-bf6a-b37cd7359bc7",
      "name": "InsereForneceClien",
      "credentials": {
        "supabaseApi": {
          "id": "HoBl47G6kDDDNQ29",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirfornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        192
      ],
      "id": "05041fce-1090-4e00-8d86-a703530d9cbc",
      "name": "ExcluiForneClie",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \n      \nFROM  pessoa where empresa_id = {{ $json.id_empresa }} and id =   {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        192
      ],
      "id": "57f1e31a-2ce3-4777-8f82-67882b36a592",
      "name": "ExcluiFornecedorCliente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inserefornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        496
      ],
      "id": "0d7bba39-13c7-44b5-96e5-29885dbc29de",
      "name": "InsereForCli",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    }
  ],
  "pinData": {},
  "connections": {
    "EditarTranscartao5": {
      "main": [
        [
          {
            "node": "ExcluiFornecedorCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForncededorCliente": {
      "main": [
        [
          {
            "node": "EditForneCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditForneCliente": {
      "main": [
        [
          {
            "node": "ForneceClientePessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForneceClientePessoa": {
      "main": [
        [
          {
            "node": "Respond to Webhook35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditForneCliente1": {
      "main": [
        [
          {
            "node": "EditarFroCli1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarFroCli1": {
      "main": [
        [
          {
            "node": "FormFornecedorCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormFornecedorCliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaForCli": {
      "main": [
        [
          {
            "node": "EditSalvaForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaForneceClien": {
      "main": [
        [
          {
            "node": "Respond to Webhook30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSalvaForneceClien": {
      "main": [
        [
          {
            "node": "SalvaForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSalvaForneceClien1": {
      "main": [
        [
          {
            "node": "InsereForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereForneceClien": {
      "main": [
        [
          {
            "node": "Respond to Webhook39",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiForneClie": {
      "main": [
        [
          {
            "node": "EditarTranscartao5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiFornecedorCliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereForCli": {
      "main": [
        [
          {
            "node": "EditSalvaForneceClien1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook35": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9606dc5-d97c-4588-9154-e46e1ec6a608",
  "meta": {
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "nhwDkbCLkctH4ajl",
  "tags": []
}