n8n_files/FinanceFLowSistema.json
{
  "name": "FinanceFLowSistema",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'usuario ok' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        112
      ],
      "id": "79863ba7-1f21-4606-826c-1f72a0c641f0",
      "name": "Sim"
    },
    {
      "parameters": {
        "jsCode": "  return [{ json: { success: false, message: 'usuario invalido' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        384
      ],
      "id": "a2f62907-501d-4c70-9d3e-8677a3713b95",
      "name": "Não"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{$json.email}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1936,
        240
      ],
      "id": "83e73800-56c7-4c98-9479-88825006e1e6",
      "name": "DadosUsuario",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n * \n  FROM usuario_empresa ue\nJOIN usuarios u ON u.id = ue.usuario_id \n  WHERE u.email= '{{ $('DadosUsuario').item.json.email }}' AND \n  u.senha_hash = '{{ $('DadosUsuario').item.json.senha_hash }}';\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -768,
        224
      ],
      "id": "5390f15e-6990-4dc4-ac32-11e1c3c20486",
      "name": "DadosEmpresa",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2656,
        240
      ],
      "id": "4346fefb-7d77-4078-ab11-ccf7fc0c1d39",
      "name": "Login",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "059b3d30-905f-4038-b8c1-9582bae19867",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1664,
        240
      ],
      "id": "43ed87b7-c49a-4846-ab5e-2929c0e951ae",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1040,
        224
      ],
      "id": "8b0603e8-c062-41ec-9220-b8c77ce4bd2d",
      "name": "Merge2"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -544,
        224
      ],
      "id": "726e8d5e-fa44-4fac-9097-86b65da209e9",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "807e4143-d55c-420c-b026-90bb242e057f",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "senha",
              "value": "={{ $json.body.senha}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        240
      ],
      "id": "e09361ef-316e-4509-ada2-419ce0f9522b",
      "name": "Usuario"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1824,
        592
      ],
      "id": "cffb36fd-a3b2-40be-b93e-dab7c2fc5e73",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        592
      ],
      "id": "1f4358f0-7fd4-483a-96ee-4358aca5437f",
      "name": "EditPerfil_usario"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select codigo from empresa_perfil as  e \n   inner join perfis  as p on     p.id = e.perfil_id WHERE empresa_id = {{ $json.empresa_id }} and p.ativo = true",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2128,
        592
      ],
      "id": "6cd1dffd-6394-4d9f-a46c-6c687c04f898",
      "name": "QueryPerfilSidebar",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "perfil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2624,
        592
      ],
      "id": "8456bff9-6554-4782-bb29-5cb8719e19ba",
      "name": "Menu",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{$json.email}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        352
      ],
      "id": "df6953f1-7f27-49b2-b009-ff6a2466ef45",
      "name": "DadosUsuario1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "059b3d30-905f-4038-b8c1-9582bae19867",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        352
      ],
      "id": "ac6b12b4-8928-4ab7-b8a2-bda1fe162183",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "807e4143-d55c-420c-b026-90bb242e057f",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        352
      ],
      "id": "8214080e-4c37-4b88-81a1-96a42ec19331",
      "name": "Usuario1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "esqueci_senha",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        352
      ],
      "id": "3836bc47-ae0e-4b2a-b8e2-d8b6555acf74",
      "name": "EsqueciSenha",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from gerar_token_recuperacao('{{ $json.email }}');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        112
      ],
      "id": "7c27b60b-a2fe-44e1-8138-40540becc8cc",
      "name": "RecuperaSenha",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  r.token,\n  u.email,*\nfrom recuperacao_senha r\njoin public.usuarios u on u.id = r.usuario_id\n  where u.email = '{{ $('Usuario1').item.json.email }}'\n  and r.usado = false\n   AND r.expira_em > now()\norder by r.criado_em desc\nlimit 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        112
      ],
      "id": "b70140a3-a872-41c1-b55d-56f733eedb38",
      "name": "RetornaToken",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " const token =$input.first().json.token; \n\nconst link = `https://finance-flow-woad-xi.vercel.app/redefinir-senha?token=${token}`;\n\nreturn [{\n  json: {\n    email: $input.first().json.email ,\n    link\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        112
      ],
      "id": "03213791-b5cf-48da-a76b-944c56301e8e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "lglducci@lglducciautomacoesia.me",
        "toEmail": "={{ $json.email }}",
        "subject": "Recuperação de senha – Finance Flow",
        "html": "=<div style=\"font-family: Arial, sans-serif; font-size:14px\">\n  <p>Olá,</p>\n\n  <p>Recebemos uma solicitação para redefinir sua senha.</p>\n\n  <p>\n    <a href=\"{{ $json.link }}\"\n       style=\"background:#2563eb;color:#fff;padding:10px 16px;\n              border-radius:6px;text-decoration:none;\">\n      Redefinir senha\n    </a>\n  </p>\n\n  <p>Ou copie e cole no navegador:</p>\n  <p>{{ $json.link }}</p>\n\n  <p>Este link expira em 1 hora.</p>\n\n  <p>Se você não solicitou, ignore este e-mail.</p>\n\n  <hr/>\n  <small>Finance-Flow</small>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1712,
        112
      ],
      "id": "a4650d78-bdad-458c-a4fb-45f3fe464167",
      "name": "Send email",
      "webhookId": "8b95b66e-abfc-43fd-9e1b-bed12c8da574",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1952,
        352
      ],
      "id": "f56c4eae-84d7-4fa7-bb7b-ceb27fe76bf0",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "807e4143-d55c-420c-b026-90bb242e057f",
              "name": "token",
              "value": "={{ $json.body.token }}",
              "type": "string"
            },
            {
              "id": "d5a8cbc0-68ec-4e6e-b259-2311d2246733",
              "name": "senha",
              "value": "={{ $json.body.senha }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        576
      ],
      "id": "70d979b7-cdbd-4f07-8298-995cb8abd0be",
      "name": "UsarioSenha"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        576
      ],
      "id": "2ce63a7a-e04a-4c39-9f10-c19b64a2f3ec",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "jsCode": " const crypto = require(\"crypto\");\n$input.first().json.senha\nconst senha = $input.first().json.senha  || $input.first().json.senha  || \"\";\nconst hash = crypto.createHash(\"sha256\").update(senha, \"utf8\").digest(\"hex\");\n\nreturn [{\n  ...$json,\n  senha_hash: hash\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        576
      ],
      "id": "672a09db-5b5e-413b-ab1f-abfa46bb37fb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": " const crypto = require(\"crypto\");\n$input.first().json.senha\nconst senha = $input.first().json.senha  || $input.first().json.senha  || \"\";\nconst hash = crypto.createHash(\"sha256\").update(senha, \"utf8\").digest(\"hex\");\n\nreturn [{\n  ...$json,\n  senha_hash: hash\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        240
      ],
      "id": "b5226850-0ab6-487b-86fc-622c8a011ad1",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dados_sessao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        816
      ],
      "id": "7cee68ca-086c-4dd4-97ab-06df3bfa4f3f",
      "name": "Dados Sessão",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        816
      ],
      "id": "25beda29-76bd-48ed-ba7a-3ab51675a0fd",
      "name": "EditSessao"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select u.nome nome, e.tipo, e.nome nome_empresa, e.documento , email from empresas\nas e inner join usuario_empresa ue on ue.empresa_id = e.id inner join usuarios u on u.id = ue.usuario_id  where e.id = {{ $json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        816
      ],
      "id": "b85d94ca-2377-4271-a638-252d07589ed1",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        816
      ],
      "id": "2402c322-1ac5-4c29-b4bb-2c61acae5ebe",
      "name": "Respond to Webhook15"
    },
    {
      "parameters": {
        "content": "##Login \n**Fluxo de login no sistema e permissoes no sistema",
        "height": 736,
        "width": 2480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2752,
        48
      ],
      "id": "a6e8e8fc-d40a-4abb-8e56-d050a91dce41",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "##Recuperaca de senha\n**  Fluxo de recuperacao de senhas , envio de senha para email",
        "height": 1264,
        "width": 2480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b79f4e02-0429-407a-ac3f-266b679c13d2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "redefinir_senha",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        576
      ],
      "id": "d2d911d9-865d-4e4f-bce6-9fb42a9662cb",
      "name": "Redefinir Senha",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from public.ff_redefinir_senha  ('{{ $json.token }}' ,'{{ $json.senha_hash }}') ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        576
      ],
      "id": "fc7bdb23-1899-4ac6-bf97-0a5d34d97403",
      "name": "ff_redefinir_senha",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "content": "##Lembrete!!\n**Lembre de lanaçamento no Sistema (tela ) e envido de email e Zap.",
        "height": 864,
        "width": 1520,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2880,
        896
      ],
      "id": "7cd76d02-f55f-47cf-97db-3655a1a59dcc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1808,
        1072
      ],
      "id": "8683a7cf-4e14-4bd5-9829-589fc4363daa",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            },
            {
              "id": "4dd957d7-e706-4012-af89-2d9525039b9c",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "b123247b-7996-4e83-ba0f-da07eddde515",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2336,
        1072
      ],
      "id": "87d6b5a6-020e-426d-92cf-292a88ab9192",
      "name": "EditPerfil_usario1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lembrete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2608,
        1072
      ],
      "id": "8fd7c3c9-13af-47eb-bd05-7332c6c73183",
      "name": "Lembrete",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1728,
        1264
      ],
      "id": "9888918c-7e40-4d9b-a2a1-4f05cd7adb3f",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            },
            {
              "id": "b123247b-7996-4e83-ba0f-da07eddde515",
              "name": "ids",
              "value": "={{ $json.body.ids}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        1264
      ],
      "id": "11de0211-1e2f-4f8a-a9f6-8884c1e05bd2",
      "name": "EditPerfil_usario2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " WITH partidas AS (\n  SELECT\n    l.lote_id,\n    MAX(l.historico) AS historico,\n\n    MAX(CASE WHEN l.debito  > 0 THEN l.conta_id END) AS conta_debito_id,\n    SUM(COALESCE(l.debito, 0))                       AS debito,\n\n    MAX(CASE WHEN l.credito > 0 THEN l.conta_id END) AS conta_credito_id,\n    SUM(COALESCE(l.credito, 0))                      AS credito\n\n  FROM contab.lancamentos l\n  WHERE l.empresa_id = {{ $json.empresa_id }}\n  GROUP BY l.lote_id\n)\n\nSELECT\n  lb.id                AS lembrete_id,\n  lb.lote_id,\n  lb.descricao         AS lembrete_descricao,\n  lb.valor,\n  lb.data_vencimento,\n  lb.enviar_email,\n  lb.enviar_whatsapp,\n  lb.status,\n\n  -- Partida dobrada sintetizada\n  p.historico,\n\n  cd.codigo || ' || ' || cd.nome AS conta_debito,\n  p.debito,\n\n  cc.codigo || ' || ' || cc.nome AS conta_credito,\n  p.credito\n\nFROM contab.lembretes lb\n\nJOIN partidas p\n  ON p.lote_id = lb.lote_id        -- 🔒 VÍNCULO ÚNICO E CORRETO\n\nLEFT JOIN contab.contas cd ON cd.id = p.conta_debito_id\nLEFT JOIN contab.contas cc ON cc.id = p.conta_credito_id\n\nWHERE lb.empresa_id = {{ $json.empresa_id }}\n  AND lb.status = 'PENDENTE'\n  AND lb.data_vencimento\n      BETWEEN '{{ $json.data_ini }}' AND '{{ $json.data_fim }}'\n\nORDER BY lb.data_vencimento DESC, lb.lote_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2112,
        1072
      ],
      "id": "1c386166-4bd0-419e-8415-f04eb804b292",
      "name": "LembretesCtb",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " UPDATE contab.lembretes\nSET status = 'BAIXADO',\n    baixado_em = NOW()\nWHERE id IN ({{ $json.ids }})\n  AND empresa_id = {{ $json.empresa_id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2064,
        1264
      ],
      "id": "0593d9b5-03c7-4c2d-a642-3f1cf7da887c",
      "name": "AtualizaLembrete",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "baixar_lembrete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2592,
        1264
      ],
      "id": "8ff982f3-9f6e-4c61-918b-6bbc1b2df768",
      "name": "BaixarLembrete",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " WITH partidas AS (\n  SELECT l.empresa_id,\n    l.lote_id,\n    MAX(l.historico) AS historico,\n\n    MAX(CASE WHEN l.debito  > 0 THEN l.conta_id END) AS conta_debito_id,\n    SUM(COALESCE(l.debito, 0))                       AS debito,\n\n    MAX(CASE WHEN l.credito > 0 THEN l.conta_id END) AS conta_credito_id,\n    SUM(COALESCE(l.credito, 0))                      AS credito\n\n  FROM contab.lancamentos l\n \n  GROUP BY l.empresa_id , l.lote_id\n)\n\nSELECT lb.empresa_id, \n  lb.id                AS lembrete_id,\n  lb.lote_id,\n  lb.descricao         AS lembrete_descricao,\n  lb.valor,\n  to_char(lb.data_vencimento, 'DD-MM-YYYY') AS data_vencimento,\n  lb.enviar_email,\n  lb.enviar_whatsapp,\n  lb.status,\n\n  -- Partida dobrada sintetizada\n  p.historico,\n\n  cd.codigo || ' || ' || cd.nome AS conta_debito,\n  p.debito,\n\n  cc.codigo || ' || ' || cc.nome AS conta_credito,\n  p.credito\n\nFROM contab.lembretes lb\n\nJOIN partidas p\n  ON p.lote_id = lb.lote_id        -- 🔒 VÍNCULO ÚNICO E CORRETO\n\nLEFT JOIN contab.contas cd ON cd.id = p.conta_debito_id\nLEFT JOIN contab.contas cc ON cc.id = p.conta_credito_id\n\nWHERE lb.empresa_id = 1\n  AND lb.status = 'PENDENTE'\n  AND lb.data_vencimento <= now() + interval '7 days'\n\n\nORDER BY  lb.empresa_id, lb.data_vencimento DESC, lb.lote_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2560,
        1472
      ],
      "id": "0b1d32ca-e7df-45c6-bd01-f2147b7c0611",
      "name": "LembretesCtb2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select u.nome, email ,  '{{ $json.lembrete_descricao }}' as descricao,  '{{ $json.data_vencimento }}' as vencimento  , '{{ $json.historico }}' as historico ,  '{{ $json.conta_debito }}' as debito , '{{ $json.conta_credito }}' as credito ,  {{ $json.credito }}  as valor from usuario_empresa as ue inner join usuarios as u on u.id =ue.usuario_id  \nwhere ue.empresa_id = {{ $json.empresa_id }}\n\nlimit 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2352,
        1472
      ],
      "id": "6d6c0396-b235-47a6-a936-aa18e2a2f483",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "lglducci@lglducciautomacoesia.me",
        "toEmail": "={{ $json.email }}",
        "subject": "Recuperação de senha – Finance Flow",
        "html": "= <div style=\"font-family: Arial, sans-serif; font-size:14px\">\n  <p>Olá {{ $json.nome }},</p>\n\n  <p>📌 Este é um lembrete de vencimento de uma obrigação contábil:</p>\n\n  <table style=\"border-collapse: collapse; margin: 16px 0;\">\n    <tr>\n      <td style=\"padding: 4px 8px;\"><strong>Descrição:</strong></td>\n      <td style=\"padding: 4px 8px;\">{{ $json.descricao }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 4px 8px;\"><strong>Vencimento:</strong></td>\n      <td style=\"padding: 4px 8px;\">{{ $json.vencimento }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 4px 8px;\"><strong>Histórico:</strong></td>\n      <td style=\"padding: 4px 8px;\">{{ $json.historico }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 4px 8px;\"><strong>Débito:</strong></td>\n      <td style=\"padding: 4px 8px;\">{{ $json.debito }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 4px 8px;\"><strong>Crédito:</strong></td>\n      <td style=\"padding: 4px 8px;\">{{ $json.credito }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 4px 8px;\"><strong>Valor:</strong></td>\n      <td style=\"padding: 4px 8px;\">R$ {{ $json.valor }}</td>\n    </tr>\n  </table>\n\n  <p style=\"margin-bottom: 16px;\">\n    Caso já tenha realizado esse pagamento, desconsidere este aviso.<br/>\n    Se não, programe-se para evitar atrasos ou encargos.\n  </p>\n\n  <p style=\"margin-bottom: 16px;\">\n    Em caso de dúvidas ou divergências, entre em contato com sua contabilidade.\n  </p>\n\n  <hr/>\n  <small>Finance-Flow • Sistema de Gestão Contábil</small>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -2128,
        1472
      ],
      "id": "8a1dbc7e-159e-4e58-9f3f-6b2f0905bf65",
      "name": "Send email1",
      "webhookId": "8b95b66e-abfc-43fd-9e1b-bed12c8da574",
      "disabled": true
    }
  ],
  "pinData": {
    "Usuario1": [
      {
        "json": {
          "email": "lglducci@hotmail.com"
        }
      }
    ],
    "UsarioSenha": [
      {
        "json": {
          "token": "170c0b71-48ee-437f-a643-4fd5dc3ea92d",
          "senha": "aprumabatata"
        }
      }
    ],
    "EditPerfil_usario1": [
      {
        "json": {
          "empresa_id": 1,
          "data_ini": "20260101",
          "data_fim": "20260201"
        }
      }
    ]
  },
  "connections": {
    "Sim": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DadosUsuario": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosEmpresa": {
      "main": [
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Sim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "DadosEmpresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuario": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditPerfil_usario": {
      "main": [
        [
          {
            "node": "QueryPerfilSidebar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QueryPerfilSidebar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu": {
      "main": [
        [
          {
            "node": "EditPerfil_usario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosUsuario1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "RecuperaSenha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuario1": {
      "main": [
        [
          {
            "node": "DadosUsuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EsqueciSenha": {
      "main": [
        [
          {
            "node": "Usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RecuperaSenha": {
      "main": [
        [
          {
            "node": "RetornaToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetornaToken": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UsarioSenha": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "ff_redefinir_senha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "DadosUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Sessão": {
      "main": [
        [
          {
            "node": "EditSessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSessao": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond to Webhook15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redefinir Senha": {
      "main": [
        [
          {
            "node": "UsarioSenha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_redefinir_senha": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditPerfil_usario1": {
      "main": [
        [
          {
            "node": "LembretesCtb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete": {
      "main": [
        [
          {
            "node": "EditPerfil_usario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditPerfil_usario2": {
      "main": [
        [
          {
            "node": "AtualizaLembrete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LembretesCtb": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AtualizaLembrete": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BaixarLembrete": {
      "main": [
        [
          {
            "node": "EditPerfil_usario2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LembretesCtb2": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa79182e-5f11-446a-bd18-7f8e13fa4c10",
  "meta": {
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "gTTP0khRFu8grEgw",
  "tags": []
}