n8n_files/FinanceFlowMeuNegocio.json
{
  "name": "FinanceFlowMeuNegocio",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        -192
      ],
      "id": "0af1ba36-5bf0-478e-a548-efe7a1cd63fe",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "content": "## Carregar c칩pia de seguran칞a\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no reposit칩rio antes. Se sim (true), carregue a nova vers칚o do arquivo. Caso contr치rio (false) crie o arquivo no reposit칩rio.",
        "height": 940,
        "width": 1248,
        "color": 5
      },
      "id": "3ad300de-d3e7-420d-b1f9-9e632352fbce",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        -368
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        0
      ],
      "id": "c1e53c01-ab81-4b0e-aa02-364e14e22f4f",
      "name": "Respond to Webhook47"
    },
    {
      "parameters": {
        "path": "listameunegocio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -192
      ],
      "id": "05a47c87-f229-486e-8049-d9a4fb64017a",
      "name": "MeuNegocio",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "ab75b3da-4e6f-4c36-b9f3-48901a8a1717",
              "name": "meunegocio",
              "value": "={{ $json.query.meunegocio}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -192
      ],
      "id": "86b774cc-142e-4a18-8418-baa4501e667b",
      "name": "EditMeuNegocio"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT *\nFROM categorias_gerenciais\nWHERE empresa_id = {{ $json.id_empresa }}\n  AND  tipo =  'entrada' and  \n   meu_negocio = {{ $json.meunegocio }}\n     order by nome asc;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        -192
      ],
      "id": "4196958b-c21e-4024-a318-d70cae0e7baa",
      "name": "categorias_meunegocio",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transferir_meu_negocio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        0
      ],
      "id": "31b53197-c277-40f1-a4ef-d557a15fc042",
      "name": "AdicionaMeuNegocio",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4b91aa0f-87b4-4157-a7ef-0f95d3d0cfb7",
              "name": "id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "734ab06a-f8ee-4e83-89d4-460333a027a1",
              "name": "meunegocio",
              "value": "={{ $json.body.meunegocio}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        0
      ],
      "id": "1e581e04-24b3-44ba-8981-b3604596e443",
      "name": "EdittransMeuNegocio"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update \n categorias_gerenciais\nset   meu_negocio = {{ $json.meunegocio }}\nWHERE empresa_id =  {{ $json.empresa_id }}\n  AND  tipo =  'entrada' and  \n  id =  {{ $json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        0
      ],
      "id": "808b15b4-c995-456d-bba8-0eac3933e542",
      "name": "AdicionaMeuNegocio1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        224
      ],
      "id": "3d193668-0f92-4863-8a9f-1cfea973ee1b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criamodelonegocio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        224
      ],
      "id": "5930579c-dffc-4ea2-8eb3-89f4ea22b1d3",
      "name": "CriaModelo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4b91aa0f-87b4-4157-a7ef-0f95d3d0cfb7",
              "name": "categoria_nome",
              "value": "={{ $json.body.categoria_nome}}",
              "type": "string"
            },
            {
              "id": "734ab06a-f8ee-4e83-89d4-460333a027a1",
              "name": "token_modelo",
              "value": "={{ $json.body.token_modelo}}",
              "type": "string"
            },
            {
              "id": "8423e970-bcfb-445d-bc5d-1e4d9daafff6",
              "name": "conta_debito_id",
              "value": "= {{ $json.body.conta_debito_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        224
      ],
      "id": "2f83eade-de2f-43bc-8978-730cf1696e32",
      "name": "EditCriaModelo"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 游댠 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 游댠 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Opera칞칚o realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        224
      ],
      "id": "846f3878-6024-47fb-95cc-f4709207d19e",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "call  contab.criar_receita_meu_negocio (\n    {{ $json.empresa_id }},\n    '{{ $json.categoria_nome }}',\n    '{{ $json.token_modelo }}',\n    {{ $json.conta_debito_id }}\n)\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        224
      ],
      "id": "29c31d58-11ad-4987-93a8-45ecb1f4b45c",
      "name": "criar_receita_meu_negocio",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "EditMeuNegocio": [
      {
        "json": {
          "id_empresa": 1,
          "meunegocio": false
        }
      }
    ]
  },
  "connections": {
    "MeuNegocio": {
      "main": [
        [
          {
            "node": "EditMeuNegocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditMeuNegocio": {
      "main": [
        [
          {
            "node": "categorias_meunegocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categorias_meunegocio": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AdicionaMeuNegocio": {
      "main": [
        [
          {
            "node": "EdittransMeuNegocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EdittransMeuNegocio": {
      "main": [
        [
          {
            "node": "AdicionaMeuNegocio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AdicionaMeuNegocio1": {
      "main": [
        [
          {
            "node": "Respond to Webhook47",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaModelo": {
      "main": [
        [
          {
            "node": "EditCriaModelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCriaModelo": {
      "main": [
        [
          {
            "node": "criar_receita_meu_negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar_receita_meu_negocio": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b049f05-e1bc-4c54-83b9-6467631d27f4",
  "meta": {
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "i0ztXVVu03seGopK",
  "tags": []
}