n8n_files/FinanceFlowFornecedorCliente.json
{
  "name": "FinanceFlowFornecedorCliente",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        112
      ],
      "id": "7e56b2a3-1869-48d2-8c3f-4f0118ba6872",
      "name": "Respond to Webhook35"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        288
      ],
      "id": "fc017907-a908-452a-a054-aa2032131ff0",
      "name": "Respond to Webhook36"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        432
      ],
      "id": "e282d7cd-28ee-4b99-8855-24f5ba26da19",
      "name": "Respond to Webhook38"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        432
      ],
      "id": "b0be7caa-867e-4c4d-b97c-8cbe078eba34",
      "name": "EditarTranscartao5"
    },
    {
      "parameters": {
        "content": "## Pessao Forncedor Cliente\nWebhook s relacionados a pewsssoa cliente fornecedor",
        "height": 1036,
        "width": 1232,
        "color": 4
      },
      "id": "7ade515c-b419-4fcf-8f93-8eceb4f4d86b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "path": "fornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        112
      ],
      "id": "099e6a34-e0b3-41d1-bac1-849962f9f2eb",
      "name": "ForncededorCliente",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "b0e434d4-9925-47e2-acb2-0d645c9ca347",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        112
      ],
      "id": "e503bce2-6c34-40a5-adf5-dbca04aef8f8",
      "name": "EditForneCliente"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom pessoa where empresa_id = \n  {{ $json.id_empresa }}  \nand ( tipo = \n  '{{ $json.tipo }}' or '{{ $json.tipo }}' ='ambos');\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        112
      ],
      "id": "36053045-25fc-4dd3-b5bb-cbd8d2c2e25a",
      "name": "ForneceClientePessoa",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "editfornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        288
      ],
      "id": "ff133293-f571-4ced-9208-163e37e7ff16",
      "name": "EditForneCliente1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        288
      ],
      "id": "c61f57b4-dcc8-4035-94ca-21e9123c3953",
      "name": "EditarFroCli1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  \nSELECT \n     *\nFROM pessoa  \nWHERE id = {{ $json.id }}\n  AND empresa_id = {{ $json.id_empresa }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        288
      ],
      "id": "e536d1c4-a836-483a-a840-bad00ab2a954",
      "name": "FormFornecedorCliente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        592
      ],
      "id": "df4a6c8d-c1b6-497e-baf1-d52aeab12551",
      "name": "Respond to Webhook30"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        736
      ],
      "id": "29e33d3c-51d5-44e5-b641-c29ef2cc1ac1",
      "name": "Respond to Webhook39"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvafornecedor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        592
      ],
      "id": "b25b9945-0299-4fe8-99aa-3895257ace44",
      "name": "SalvaForCli",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pessoa",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_empresa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "cpf_cnpj",
              "fieldValue": "={{ $json.cpf_cnpj }}"
            },
            {
              "fieldId": "rg_ie",
              "fieldValue": "={{ $json.rg_ie }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $json.whatsapp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "endereco",
              "fieldValue": "={{ $json.endereco }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $json.bairro }}"
            },
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $json.cidade }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $json.cep }}"
            },
            {
              "fieldId": "obs",
              "fieldValue": "={{ $json.obs }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        592
      ],
      "id": "7ef562b3-04b8-4107-b085-c4fb312fd7f7",
      "name": "SalvaForneceClien",
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "cpf_cnpj",
              "value": "={{ $json.body.cpf_cnpj}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "rg_ie",
              "value": "={{ $json.body.rg_ie}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "telefone",
              "value": "={{ $json.body.telefone}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "email",
              "value": "={{ $json.body.email}}",
              "type": "string"
            },
            {
              "id": "f27b116b-79e3-4115-b020-19282f1d0301",
              "name": "endereco",
              "value": "={{ $json.body.endereco}}",
              "type": "string"
            },
            {
              "id": "5b6967a2-a8af-4dd4-bbf1-e979c55b0bc3",
              "name": "bairro",
              "value": "={{ $json.body.bairro}}",
              "type": "string"
            },
            {
              "id": "e7d195ea-f64c-4f92-ac7c-9247afeb7a63",
              "name": "cidade",
              "value": "={{ $json.body.cidade}}",
              "type": "string"
            },
            {
              "id": "1eaf0ca6-ca2b-494a-81dc-9a3e08964f4b",
              "name": "estado",
              "value": "={{ $json.body.estado}}",
              "type": "string"
            },
            {
              "id": "d1d6c68e-b1eb-40fd-8f58-40e75a04bb89",
              "name": "cep",
              "value": "={{ $json.body.cep}}",
              "type": "string"
            },
            {
              "id": "7e056b54-da25-4be0-941d-824af711e0d4",
              "name": "obs",
              "value": "={{ $json.body.obs}}",
              "type": "string"
            },
            {
              "id": "a4f0dceb-7ad8-47a3-bce1-5f687d584030",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        592
      ],
      "id": "5688489f-a52d-47f2-b5cd-6a934c5b29e1",
      "name": "EditSalvaForneceClien"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "cpf_cnpj",
              "value": "={{ $json.body.cpf_cnpj}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "rg_ie",
              "value": "={{ $json.body.rg_ie}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "telefone",
              "value": "={{ $json.body.telefone}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "email",
              "value": "={{ $json.body.email}}",
              "type": "string"
            },
            {
              "id": "f27b116b-79e3-4115-b020-19282f1d0301",
              "name": "endereco",
              "value": "={{ $json.body.endereco}}",
              "type": "string"
            },
            {
              "id": "5b6967a2-a8af-4dd4-bbf1-e979c55b0bc3",
              "name": "bairro",
              "value": "={{ $json.body.bairro}}",
              "type": "string"
            },
            {
              "id": "e7d195ea-f64c-4f92-ac7c-9247afeb7a63",
              "name": "cidade",
              "value": "={{ $json.body.cidade}}",
              "type": "string"
            },
            {
              "id": "1eaf0ca6-ca2b-494a-81dc-9a3e08964f4b",
              "name": "estado",
              "value": "={{ $json.body.estado}}",
              "type": "string"
            },
            {
              "id": "d1d6c68e-b1eb-40fd-8f58-40e75a04bb89",
              "name": "cep",
              "value": "={{ $json.body.cep}}",
              "type": "string"
            },
            {
              "id": "7e056b54-da25-4be0-941d-824af711e0d4",
              "name": "obs",
              "value": "={{ $json.body.obs}}",
              "type": "string"
            },
            {
              "id": "a4f0dceb-7ad8-47a3-bce1-5f687d584030",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        736
      ],
      "id": "a33f9486-2b54-478a-95ca-1f72340cf105",
      "name": "EditSalvaForneceClien1"
    },
    {
      "parameters": {
        "tableId": "pessoa",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "cpf_cnpj",
              "fieldValue": "={{ $json.cpf_cnpj }}"
            },
            {
              "fieldId": "rg_ie",
              "fieldValue": "={{ $json.rg_ie }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $json.whatsapp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "endereco",
              "fieldValue": "={{ $json.endereco }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $json.bairro }}"
            },
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $json.cidade }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $json.cep }}"
            },
            {
              "fieldId": "obs",
              "fieldValue": "={{ $json.obs }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        736
      ],
      "id": "a831e6e7-16da-4846-bc64-9063d33784f6",
      "name": "InsereForneceClien",
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirfornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        432
      ],
      "id": "f40ef662-a5f6-49b0-8124-e3646b75f965",
      "name": "ExcluiForneClie",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \n      \nFROM  pessoa where empresa_id = {{ $json.id_empresa }} and id =   {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        432
      ],
      "id": "24ea6cd8-80a9-4cdb-9294-ce38bd67ec8b",
      "name": "ExcluiFornecedorCliente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inserefornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        736
      ],
      "id": "71870fe4-b82c-4a38-a246-a1b098c70f77",
      "name": "InsereForCli",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    }
  ],
  "pinData": {},
  "connections": {
    "EditarTranscartao5": {
      "main": [
        [
          {
            "node": "ExcluiFornecedorCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForncededorCliente": {
      "main": [
        [
          {
            "node": "EditForneCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditForneCliente": {
      "main": [
        [
          {
            "node": "ForneceClientePessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForneceClientePessoa": {
      "main": [
        [
          {
            "node": "Respond to Webhook35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditForneCliente1": {
      "main": [
        [
          {
            "node": "EditarFroCli1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarFroCli1": {
      "main": [
        [
          {
            "node": "FormFornecedorCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormFornecedorCliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaForCli": {
      "main": [
        [
          {
            "node": "EditSalvaForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaForneceClien": {
      "main": [
        [
          {
            "node": "Respond to Webhook30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSalvaForneceClien": {
      "main": [
        [
          {
            "node": "SalvaForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSalvaForneceClien1": {
      "main": [
        [
          {
            "node": "InsereForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereForneceClien": {
      "main": [
        [
          {
            "node": "Respond to Webhook39",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiForneClie": {
      "main": [
        [
          {
            "node": "EditarTranscartao5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiFornecedorCliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereForCli": {
      "main": [
        [
          {
            "node": "EditSalvaForneceClien1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cbcc1515-f751-4253-b4da-5b257a1f0c9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "FF0ywRnmBfXoNx4g",
  "tags": []
}