n8n_files/FinanceFlowContaPagar.json
{
  "name": "FinanceFlowContaPagar",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -128,
        -688
      ],
      "id": "9421cfc4-83fe-4df7-b287-3bfa106f7b5a",
      "name": "Respond to Webhook31"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        112,
        -864
      ],
      "id": "c31de4c3-49c3-41c0-832d-e56f9a18b20e",
      "name": "Respond to Webhook33"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -112,
        -512
      ],
      "id": "4409d55b-554c-4345-bc02-ff6df6c5c38b",
      "name": "Respond to Webhook34"
    },
    {
      "parameters": {
        "content": "##  Modulo Contas a Pagar\n Controla Contas a pagar do sistema Financeflow",
        "height": 1468,
        "width": 1328,
        "color": 6
      },
      "id": "812ee912-4722-4531-89e7-de9fee55987e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        -1040
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontapagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        -864
      ],
      "id": "0f0b69d2-6e12-4fb1-943e-9d360b415d0e",
      "name": "InsereContapagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "de393231-6bc4-46b1-a9fb-fa878f154e3a",
              "name": "parcelas",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "1f01619a-d496-4154-8149-b4bc01bffdf7",
              "name": "doc_ref",
              "value": "={{ $json.body.doc_ref}}",
              "type": "string"
            },
            {
              "id": "b5a8de92-dfd5-4f17-81b7-ed513922b223",
              "name": "contabil_id",
              "value": "={{ $json.body.contabil}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -864
      ],
      "id": "1518d155-970c-4f03-9f2f-d310af19989e",
      "name": "EditaaContapagar"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contas_a_pagar \n  where id = {{ $json.ff_registrar_conta_pagar_com_parcelas }}\n  and empresa_id = {{ $('EditaaContapagar').item.json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        -816
      ],
      "id": "0f07098d-35bc-40dc-b2ab-55f06eb462f4",
      "name": "ResultConta_pagar",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom ff_consultar_contas_pagar(\n  {{ $json.id_empresa }},\n  '{{ $json.status }}',\n  '{{ $json.data_ini}}', \n  '{{ $json.data_fim}}',\n   {{ $json.fornecedor_id }},\n   {{ $json.somente_vencidas }}\n)\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        -688
      ],
      "id": "f4f64fa1-15aa-4ca9-b1e2-ef3017973500",
      "name": "ff_consultar_contas_pagar",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "status",
              "value": "={{ $json.query.status}}",
              "type": "string"
            },
            {
              "id": "dd1713ed-c8bf-488e-bf5f-64f5aee16daa",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "dc098c67-1af5-44ef-ae1d-3992855f7fde",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "80e0ae6a-d205-478d-bb01-118324bbe421",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "72e2b890-70b7-441f-84bf-2c82d917eb0e",
              "name": "somente_vencidas",
              "value": "={{ $json.query.somente_vencidas}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -688
      ],
      "id": "5526a3c1-963f-45c1-a084-e7a0a1af7397",
      "name": "transcontapg"
    },
    {
      "parameters": {
        "path": "consultarcontapagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        -688
      ],
      "id": "88dab36e-7df1-4890-8926-07ceb5ecd857",
      "name": "ConsultarContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  * from ff_registrar_conta_pagar_com_parcelas(\n  {{ $json.empresa_id }} ,\n  '{{ $json.descricao}}',\n   {{ $json.valor}} , \n   '{{ $json.vencimento }}',\n   null, \n   {{ $json.parcelas}},\n   {{ $json.fornecedor_id }},\n   {{ $json.categoria_id}} ,\n     '{{ $json.doc_ref }}',\n    {{ $json.contabil_id }}\n)\n  \n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        -864
      ],
      "id": "cf62403f-6ec4-4798-ac61-56ab667c174f",
      "name": "ff_registrar_conta_pagar_com_parcelas",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        -320
      ],
      "id": "a5ea8437-5d11-4b7f-8508-15afba628bbc",
      "name": "Respond to Webhook37"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "b97f031a-5075-4f75-a5a7-7b46fe82da37",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            },
            {
              "id": "16a8fa8e-0609-4ab5-9cde-1de81e4fb232",
              "name": "status",
              "value": "={{$json.body.status}}",
              "type": "string"
            },
            {
              "id": "161ddfaa-4000-475e-862a-006b607db1e6",
              "name": "doc_ref",
              "value": "={{ $json.body.doc_ref}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -320
      ],
      "id": "e46ffe93-50dc-4904-a99a-1942455cf9cb",
      "name": "EditaaContapagar1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvarcontapagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        -320
      ],
      "id": "f320f858-f6c1-4040-93d4-9d0d3eabc8cd",
      "name": "SalvaContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exclui_conta_pagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        -512
      ],
      "id": "383551b5-fb75-4d15-bc05-d8e42b6ddf46",
      "name": "ExcluiContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_pagar   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        -512
      ],
      "id": "cb6fd076-f1e1-44ad-84d3-3b9ee892112b",
      "name": "ExcluiConta_a_pagar",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        -128
      ],
      "id": "aee22b0c-9925-404b-a404-ccdc658cb624",
      "name": "Respond to Webhook40"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -512
      ],
      "id": "ed13f10a-e8e4-42f1-8d25-077c2ba598be",
      "name": "ExcluircontaPagar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -128
      ],
      "id": "3d5ef73d-d4e9-474b-91d3-af3bf1fbfb6a",
      "name": "EditarContaPagar"
    },
    {
      "parameters": {
        "path": "conta_pagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        -128
      ],
      "id": "268981ef-4651-43f6-89fc-28ec5147bb53",
      "name": "ContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -80,
        80
      ],
      "id": "dd2b418b-e7ea-4d30-811b-f4514a08c295",
      "name": "Respond to Webhook45"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "lote_id",
              "value": "={{ $json.query.lote_id}}",
              "type": "string"
            },
            {
              "id": "e79af6bd-1ef9-45c4-a838-9edb25beedc4",
              "name": "categoria_id",
              "value": "={{ $json.query.categoria_id}}",
              "type": "string"
            },
            {
              "id": "7b59b655-0aa7-4bf1-a3d5-f054ebdbbfca",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        80
      ],
      "id": "7d66ea42-3233-46c3-9fb8-527b18622d4e",
      "name": "EditarContaPagar1"
    },
    {
      "parameters": {
        "path": "conta_pagar_parcelado",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        80
      ],
      "id": "eb50879e-e6a9-4d47-9c5f-a6c73ee6a8bb",
      "name": "ContaPagar1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -112,
        256
      ],
      "id": "b1747d6c-03dc-49a4-861f-f34c5e3c6100",
      "name": "Respond to Webhook46"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "lote_id",
              "value": "={{ $json.body.lote_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        256
      ],
      "id": "5e150bb7-203c-4d90-8076-0ebb73ad0b88",
      "name": "ExcluircontaPagar1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * \nFROM  contas_a_pagar   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        -128
      ],
      "id": "d9089841-2700-4356-8814-b0fb1dbad668",
      "name": "BuscaConta",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n    cp.lote_id,\n    cp.descricao,\n    p.nome AS fornecedor_nome,\n    c.nome AS categoria_nome,\n    cp.parcelas,\n    cp.status,\n    SUM(cp.valor) AS valor_total\nFROM contas_a_pagar cp\nLEFT JOIN pessoa p \n       ON p.id = cp.fornecedor_id\nLEFT JOIN categorias_gerenciais c \n       ON c.id = cp.categoria_id\nWHERE cp.empresa_id =  {{ $json.empresa_id }}\n  AND ( {{ $json.lote_id }} =0   OR cp.lote_id IS NULL OR cp.lote_id = {{ $json.lote_id }}  )\n  AND (cp.fornecedor_id = {{ $json.fornecedor_id }} OR {{ $json.fornecedor_id }} = 0)\n  AND (cp.categoria_id = {{ $json.categoria_id }} OR {{ $json.categoria_id }} = 0)\n  AND  cp.parcelas > 1  \nGROUP BY \n    cp.lote_id,\n    cp.descricao,\n    p.nome,\n    c.nome,\n    cp.parcelas,\n    cp.status\nORDER BY cp.lote_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        80
      ],
      "id": "906f1774-484f-4b98-aca3-0b516a127fa1",
      "name": "BuscaParcelamento",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_pagar   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    lote_id = {{ $json.lote_id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        256
      ],
      "id": "82e4f086-d049-4cf8-bd18-e6dc8a7315bc",
      "name": "ExcluiTodaContaParcelada",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirparcelaspagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        256
      ],
      "id": "1ff77989-67f1-45c1-bea9-6d015a3fcf18",
      "name": "ExcluiContatoda",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -864
      ],
      "id": "84788034-e33e-495b-b653-c1b2029b0b46",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contas_a_pagar",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.empresa_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.empresa_id }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.descricao }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $json.vencimento }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.categoria_id }}"
            },
            {
              "fieldId": "fornecedor_id",
              "fieldValue": "={{ $json.fornecedor_id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status}}"
            },
            {
              "fieldId": "doc_ref",
              "fieldValue": "={{ $json.doc_ref }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        -320
      ],
      "id": "bde5537c-defd-490b-9abd-a09186de6e77",
      "name": "SalvaContaPagar2",
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "InsereContapagar": {
      "main": [
        [
          {
            "node": "EditaaContapagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaaContapagar": {
      "main": [
        [
          {
            "node": "ff_registrar_conta_pagar_com_parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_consultar_contas_pagar": {
      "main": [
        [
          {
            "node": "Respond to Webhook31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcontapg": {
      "main": [
        [
          {
            "node": "ff_consultar_contas_pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarContaPagar": {
      "main": [
        [
          {
            "node": "transcontapg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_conta_pagar_com_parcelas": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaaContapagar1": {
      "main": [
        [
          {
            "node": "SalvaContaPagar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaPagar": {
      "main": [
        [
          {
            "node": "EditaaContapagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiContaPagar": {
      "main": [
        [
          {
            "node": "ExcluircontaPagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiConta_a_pagar": {
      "main": [
        [
          {
            "node": "Respond to Webhook34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluircontaPagar": {
      "main": [
        [
          {
            "node": "ExcluiConta_a_pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaPagar": {
      "main": [
        [
          {
            "node": "BuscaConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContaPagar": {
      "main": [
        [
          {
            "node": "EditarContaPagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaPagar1": {
      "main": [
        [
          {
            "node": "BuscaParcelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContaPagar1": {
      "main": [
        [
          {
            "node": "EditarContaPagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluircontaPagar1": {
      "main": [
        [
          {
            "node": "ExcluiTodaContaParcelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaConta": {
      "main": [
        [
          {
            "node": "Respond to Webhook40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaParcelamento": {
      "main": [
        [
          {
            "node": "Respond to Webhook45",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiTodaContaParcelada": {
      "main": [
        [
          {
            "node": "Respond to Webhook46",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiContatoda": {
      "main": [
        [
          {
            "node": "ExcluircontaPagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaPagar2": {
      "main": [
        [
          {
            "node": "Respond to Webhook37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea813d6d-ac90-41a2-81a2-f17bff107d8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "9svxXg7J4uDHmCIL",
  "tags": []
}