n8n_files/FinanceFlowCategoria.json
{
  "name": "FinanceFlowCategoria",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        160
      ],
      "id": "363eb745-0a64-4636-b18f-be6a180a267d",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "path": "listacategorias",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        160
      ],
      "id": "bb9d370e-a226-412a-b6c9-bd218f66daa2",
      "name": "ListaCategoria",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT *\nFROM categorias_gerenciais\nWHERE empresa_id = {{ $json.id_empresa }}\n  AND (\n        '{{ $json.tipo }}' IS NULL\n        OR  '{{ $json.tipo }}'  = ''\n        OR tipo =  '{{ $json.tipo }}' \n      ) order by nome asc;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        160
      ],
      "id": "fb2bb683-bea9-42e1-bd0c-60b2364a8a41",
      "name": "categorias_gerenciais",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2CNjdfsJzrRLFqHu",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "9760a669-db8f-4f88-9e81-5242f0e6736c",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        160
      ],
      "id": "a3591c94-a46e-4536-892a-3296ca3a083a",
      "name": "categoriaEdit"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 940,
        "width": 1248,
        "color": 5
      },
      "id": "8f30679d-3b11-4cd0-a402-3eb8f5454161",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        352
      ],
      "id": "591f3d66-7457-44f7-9ba7-091132d602ae",
      "name": "Respond to Webhook47"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacategoriagerencial",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        352
      ],
      "id": "37df69a3-c5d3-481b-a554-b596a6bf04d3",
      "name": "NovaCategoria",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "b97f031a-5075-4f75-a5a7-7b46fe82da37",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "9fc2c42a-e239-4164-a4be-17228f780432",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "25647865-3a6a-41f5-b45f-b75fe6d5c15f",
              "name": "grupo_contabil",
              "value": "={{ $json.body.grupo_contabil }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        352
      ],
      "id": "47e140c1-2d67-4128-82dd-646585bdf51d",
      "name": "EditCategoria"
    },
    {
      "parameters": {
        "tableId": "categorias_gerenciais",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.empresa_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "grupo_contabil",
              "fieldValue": "={{ $json.grupo_contabil }}"
            },
            {
              "fieldId": "meu_negocio",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        352
      ],
      "id": "c1ac4a77-1ef9-477b-88cc-7b2405c1054c",
      "name": "InsertCategoria",
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        544
      ],
      "id": "1fb5d334-2089-4630-8eda-f8f95deb9b25",
      "name": "Respond to Webhook48"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "b97f031a-5075-4f75-a5a7-7b46fe82da37",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "9fc2c42a-e239-4164-a4be-17228f780432",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "ec18828a-aaac-49cf-8221-7b911808b4fc",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            },
            {
              "id": "c6d68f78-ae12-4be4-9b50-cbab29e8a699",
              "name": "grupo_contabil",
              "value": "={{ $json.body.grupo_contabil }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        544
      ],
      "id": "a29a6fe4-0ae0-4e85-b491-4dd8c2460e7a",
      "name": "EditSalvaCategoria"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "categorias_gerenciais",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.empresa_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.empresa_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "grupo_contabil",
              "fieldValue": "={{ $json.grupo_contabil }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        544
      ],
      "id": "a05f824a-2a7e-42b8-97a1-7a49c330b2f5",
      "name": "SalvaCategoria",
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SalvaCatetoria",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        544
      ],
      "id": "f2b567c4-8f92-474e-aa9e-644d8c022bec",
      "name": "SalvaCategoria1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        720
      ],
      "id": "9d7a02c3-9b85-4c91-a2b2-e3875b163f61",
      "name": "Respond to Webhook49"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from   categorias_gerenciais   where empresa_id = \n  {{ $json.empresa_id }} and id =  {{ $json.id }}  ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        720
      ],
      "id": "c93b170f-6f88-4c27-93b5-e5feff7ce86a",
      "name": "ListaContas1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2CNjdfsJzrRLFqHu",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "e7da97e7-0b74-40d7-9c04-2c23d167b4c8",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        720
      ],
      "id": "5a4b3079-a4c5-45ae-92e1-2c19de09ab72",
      "name": "ListaEdit1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluicontagerencial",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        720
      ],
      "id": "fd663e1d-c356-439e-a4ab-47e7d2370164",
      "name": "ExcluiContaGerencial",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    }
  ],
  "pinData": {},
  "connections": {
    "ListaCategoria": {
      "main": [
        [
          {
            "node": "categoriaEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categorias_gerenciais": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categoriaEdit": {
      "main": [
        [
          {
            "node": "categorias_gerenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovaCategoria": {
      "main": [
        [
          {
            "node": "EditCategoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCategoria": {
      "main": [
        [
          {
            "node": "InsertCategoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertCategoria": {
      "main": [
        [
          {
            "node": "Respond to Webhook47",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSalvaCategoria": {
      "main": [
        [
          {
            "node": "SalvaCategoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCategoria": {
      "main": [
        [
          {
            "node": "Respond to Webhook48",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCategoria1": {
      "main": [
        [
          {
            "node": "EditSalvaCategoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaContas1": {
      "main": [
        [
          {
            "node": "Respond to Webhook49",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaEdit1": {
      "main": [
        [
          {
            "node": "ListaContas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiContaGerencial": {
      "main": [
        [
          {
            "node": "ListaEdit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54deac20-c98a-4629-8794-98571f561a77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "MAXQ011IPk1ixH0g",
  "tags": []
}