n8n_files/FinanceFLowProcessos.json
{
  "name": "FinanceFLowProcessos",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1136,
        208
      ],
      "id": "b5c85b1b-88ef-4e29-a28f-ee2c834b9157",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "contas",
              "value": "={{ $json.body.contas}}",
              "type": "string"
            },
            {
              "id": "3d27d507-2aef-4907-9696-e41f23d10c6a",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        208
      ],
      "id": "21ec902f-975a-429b-ba91-eb5969784bc6",
      "name": "Edtranscartao"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1436,
        "width": 1328,
        "color": 4
      },
      "id": "051816d1-02e6-4339-9ffe-926936680a4d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_pagar_contas(\n  {{ $json.empresa_id }},\n  '{{ $json.contas_json }}'::json,\n   {{ $json.conta_id }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        208
      ],
      "id": "efea7a20-df4f-4216-911d-2cdb1a6f8bdc",
      "name": "ff_pagar_contas",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1088,
        400
      ],
      "id": "b19acde2-b04c-4a73-b677-8230cacba800",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "contas",
              "value": "={{ $json.body.contas}}",
              "type": "string"
            },
            {
              "id": "3d27d507-2aef-4907-9696-e41f23d10c6a",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        400
      ],
      "id": "a97777b0-758d-405c-bec2-531ac80ecbe4",
      "name": "Edtranscartao1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagar_contas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        208
      ],
      "id": "61eccae8-678a-4b72-95db-e0ff5513beee",
      "name": "PagaContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber_contas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        400
      ],
      "id": "79bed974-ea45-4c23-a44b-1e9d090b870f",
      "name": "RecebeContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_receber_contas(\n  {{ $json.empresa_id }},\n  '{{ $json.contas_json }}'::json,\n   {{ $json.conta_id }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        400
      ],
      "id": "17d97dd4-fce6-4963-a95d-790b1d6d588c",
      "name": "ff_receber_contas",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    contas_json: JSON.stringify($json.contas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        400
      ],
      "id": "f4150057-53e4-48c7-8b6e-c64fe0daab20",
      "name": "CodeReceber"
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    contas_json: JSON.stringify($json.contas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        208
      ],
      "id": "1727c76b-6541-4aa8-82f6-da6b97d28032",
      "name": "CodePagar"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1072,
        592
      ],
      "id": "b60442e8-ba95-4a70-81a2-9427b19d5be0",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagar_faturas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        592
      ],
      "id": "8a774ef4-7cae-4e09-a2a2-7eb5a6850bc8",
      "name": "PagarFaturas",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "faturas",
              "value": "={{ $json.body.contas}}",
              "type": "string"
            },
            {
              "id": "6b48dd9f-af2a-414f-80e7-c21216ab10a8",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        592
      ],
      "id": "40ce78a3-93eb-4871-b188-cc3592110ab9",
      "name": "Edit_PagarFatura"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_registrar_pagamento_faturas(\n  {{ $json.empresa_id }},\n   {{ $json.conta_id }},\n   '{{ $json.faturas }}'::json \n);\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        592
      ],
      "id": "24606b14-de43-4905-b0c9-d7ed02124e33",
      "name": "ff_registrar_pagamento_faturas",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": " return [\n  {\n    empresa_id: $json.empresa_id,\n    faturas: JSON.stringify( $input.first().json.faturas).replace(/\\\\/g, '').replace(/^\"|\"$/g, ''),\n    conta_id: $input.first().json.conta_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        592
      ],
      "id": "1e5ae6f0-06ca-444e-88e9-783e88901b5c",
      "name": "CodeReceber2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        944,
        832
      ],
      "id": "1f584265-b102-4bd4-8e66-5d3b283a068a",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estornarlancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        832
      ],
      "id": "0292fc54-aca7-4b62-b0fa-0b03cd97e7eb",
      "name": "Estornalancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4c58a210-2ff6-4980-96ef-623ea84092a0",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        832
      ],
      "id": "3b20fa1e-1172-493d-8ae6-61b254a5bb0d",
      "name": "EditEstorno"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ff_estornar_transacao(\n  {{ $json.empresa_id }},\n  {{ $json.id }}\n);\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        832
      ],
      "id": "fa6601d6-57f7-4c29-8179-30fca16b763b",
      "name": "ff_estornar_transacao",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        1056
      ],
      "id": "53c3bac9-d288-4f92-bb0f-8604540d869b",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "path": "titulos_vencidos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        1056
      ],
      "id": "2102721f-444d-40e3-bdf6-a5acd5abc21f",
      "name": "TitulosVencidos",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "c41666a4-f294-4f09-9bff-30c3673a3f29",
              "name": "dias",
              "value": "={{ $json.query.dias}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        1056
      ],
      "id": "a28d9d07-81ff-4062-b5ad-57b04af1a636",
      "name": "EditVencidos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT tipo_origem, origem_id, descricao, \n   parceiro, valor, vencimento, dias_atraso, status, evento_codigo,  critico, critico_msg, origem_tabela  from  ff_titulos_vencidos(\n  {{ $json.empresa_id }} , {{ $json.dias }}\n);\n\n \n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        1056
      ],
      "id": "ca2c4323-525d-4e60-b161-c11b8e524e2c",
      "name": "ff_titulos_vencidos",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1072,
        1264
      ],
      "id": "f0808d97-14f8-41c4-880f-1e9d9bdcee4a",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lancto_modelo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        1264
      ],
      "id": "dc354f6c-6caa-41e0-a3ad-f76cc9d76387",
      "name": "PartidaDobrada",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "c41666a4-f294-4f09-9bff-30c3673a3f29",
              "name": "debito_id",
              "value": "={{ $json.body.debito_id}}",
              "type": "string"
            },
            {
              "id": "e32d3677-2d6e-4c94-9ad2-489605ba8e2b",
              "name": "credito_id",
              "value": "={{ $json.body.credito_id}}",
              "type": "string"
            },
            {
              "id": "ba2d4fbe-252d-4841-a1e3-b8ee7ea4764e",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "b9fc7bbf-f777-4d8d-a46c-c756bf9274ca",
              "name": "historico",
              "value": "={{ $json.body.historico}}",
              "type": "string"
            },
            {
              "id": "a2282206-098b-4d5a-8195-35ed8041d618",
              "name": "data_lancto",
              "value": "={{ $json.body.data_lancto}}",
              "type": "string"
            },
            {
              "id": "0e882608-d714-4526-aa9b-46d21039fd15",
              "name": "lembrar",
              "value": "={{ $json.body.lembrar}}",
              "type": "string"
            },
            {
              "id": "a886b95c-a43e-498b-acad-e16ed7cc541a",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        1264
      ],
      "id": "1a8dd65f-6347-4d5d-a201-62936946de6c",
      "name": "EditPartidaDobrada"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1264
      ],
      "id": "c9b09d42-0308-4b6f-8a77-db2808666a5f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  contab.ff_lancamento_partida_dobrada (\n    {{ $json.empresa_id }} , {{ $json.debito_id }},  {{ $json.credito_id }} , {{ $json.valor}} , '{{ $json.historico }}' , '{{ $json.data_lancto}}' ,  {{ $json.lembrar }} ,'{{ $json.vencimento }}' )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        1264
      ],
      "id": "72159b14-9153-4ec0-a7a3-195f870c9075",
      "name": "ff_lancamento_partida_dobrada",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        592
      ],
      "id": "1904eca1-867f-4128-ba7f-6a0e31e4553b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        400
      ],
      "id": "d09d159b-d8b8-4be4-a8e7-1d5ab7919487",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        208
      ],
      "id": "1a74febf-b27a-4747-954c-9bef3fe48bb4",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        832
      ],
      "id": "40579e64-5353-46d2-bf9b-91b3bc2bae83",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": " const items = $input.all();\n\n// se veio erro em algum item\nconst itemComErro = items.find(i => i.json?.error);\n\nif (itemComErro) {\n  return [\n    {\n      json: {\n        ok: false,\n        message: itemComErro.json.message || \"Erro desconhecido\",\n        details: itemComErro.json.error?.description || null,\n        responseCode: 400\n      }\n    }\n  ];\n}\n\n// sucesso: devolve todas as linhas\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: items.map(i => i.json)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1056
      ],
      "id": "28e44533-a5a9-4643-ad26-15a9cc05ce86",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2544,
        176
      ],
      "id": "ab4cea32-85bf-4de6-a9c2-540fcc32f5cb",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "c41666a4-f294-4f09-9bff-30c3673a3f29",
              "name": "conta_observada",
              "value": "={{ $json.body.conta_observada}}",
              "type": "string"
            },
            {
              "id": "dfacf8d5-4306-40b2-8e79-2867acad663d",
              "name": "lancamentos",
              "value": "={{ $json.body.lancamentos}}",
              "type": "array"
            },
            {
              "id": "9f13ff79-5393-42dc-aaab-2c13321458af",
              "name": "importacao",
              "value": "={{ $json.body.importacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        176
      ],
      "id": "0a5360ff-557a-41f9-b8b6-4b1f75981f03",
      "name": "EditPartidaDobrada1"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        176
      ],
      "id": "7ede3e2e-2d65-448a-a41f-826e700ff8ab",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT contab.ff_lote_lancamentos(\n  {{ $json.empresa_id }},\n  {{ $json.conta_observada }},\n    '{{ JSON.stringify($json.lancamentos) }}'::jsonb,\n   {{ $json.importacao }}\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2112,
        176
      ],
      "id": "7bb23628-3956-4859-ba42-0146fc349b93",
      "name": "ff_lancamento_partida_dobrada1",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lote_lancamentos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1600,
        176
      ],
      "id": "7366045d-9c78-4411-ba18-3d095d45313a",
      "name": "PartidaLote",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        1552
      ],
      "id": "eb179afb-23db-4928-bb8f-8be41d5c0990",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "c41666a4-f294-4f09-9bff-30c3673a3f29",
              "name": "debito_id",
              "value": "={{ $json.body.debito_id}}",
              "type": "string"
            },
            {
              "id": "e32d3677-2d6e-4c94-9ad2-489605ba8e2b",
              "name": "credito_id",
              "value": "={{ $json.body.credito_id}}",
              "type": "string"
            },
            {
              "id": "ba2d4fbe-252d-4841-a1e3-b8ee7ea4764e",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "b9fc7bbf-f777-4d8d-a46c-c756bf9274ca",
              "name": "historico",
              "value": "={{ $json.body.historico}}",
              "type": "string"
            },
            {
              "id": "a2282206-098b-4d5a-8195-35ed8041d618",
              "name": "data_lancto",
              "value": "={{ $json.body.data_lancto}}",
              "type": "string"
            },
            {
              "id": "0e882608-d714-4526-aa9b-46d21039fd15",
              "name": "lembrar",
              "value": "={{ $json.body.lembrar}}",
              "type": "string"
            },
            {
              "id": "a886b95c-a43e-498b-acad-e16ed7cc541a",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "e51013a7-32ef-49f8-b249-2694b48db6eb",
              "name": "lote_id",
              "value": "={{ $json.body.lote_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        1552
      ],
      "id": "fd1b10ea-c147-4c5c-8645-85312dcb8e83",
      "name": "EditPartidaDobrada2"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1552
      ],
      "id": "53d467d5-13aa-48c8-aca7-51c6b22e89f8",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edita_lancto_partida",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        1552
      ],
      "id": "82612d3e-ffc6-48e2-b4b6-b22f221b0d9b",
      "name": "EditaPartidaDobrada",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  contab.ff_atualiza_lancto_partida ({{ $json.lote_id }},\n    {{ $json.empresa_id }} , {{ $json.debito_id }},  {{ $json.credito_id }} , {{ $json.valor}} , '{{ $json.historico }}' , '{{ $json.data_lancto}}' ,  {{ $json.lembrar }} ,'{{ $json.vencimento }}' )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        1552
      ],
      "id": "dfec937d-eb58-41e6-ab27-0a3675413ae9",
      "name": "contab.ff_atualiza_lancto_partida",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Importaçõs de extrato bancario para contabil ou  financeiro\n ",
        "height": 1388,
        "width": 1328,
        "color": 3
      },
      "id": "c2ce2879-8f7c-4120-96aa-e0daca88150e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1472,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2544,
        384
      ],
      "id": "d81dc80d-df5b-4dfd-b905-51adf9f34b96",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "c41666a4-f294-4f09-9bff-30c3673a3f29",
              "name": "conta_observada",
              "value": "={{ $json.body.conta_observada}}",
              "type": "string"
            },
            {
              "id": "dfacf8d5-4306-40b2-8e79-2867acad663d",
              "name": "lancamentos",
              "value": "={{ $json.body.lancamentos}}",
              "type": "array"
            },
            {
              "id": "9f13ff79-5393-42dc-aaab-2c13321458af",
              "name": "importacao",
              "value": "={{ $json.body.importacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        384
      ],
      "id": "4e45bb59-8bd1-4bd8-a7b7-ea189cf65cd2",
      "name": "EditPartidaDobrada3"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        384
      ],
      "id": "44abe6bf-cb75-4f82-b20d-eb97a26c1e4c",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "importa_extrato",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1600,
        384
      ],
      "id": "b3423033-383c-426e-89d4-1fe1978d470d",
      "name": "PartidaLote1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT public.fn_importar_extrato_e_conciliar(\n  {{ $json.empresa_id }},\n  {{ $json.conta_observada }},\n  '{{ JSON.stringify($json.lancamentos) }}'::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2112,
        384
      ],
      "id": "ac92a6a1-bacd-4164-90bc-f8d26ea83035",
      "name": "fn_importar_extrato_e_conciliar",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dados_importados",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1600,
        592
      ],
      "id": "7156c970-ccd4-4e6d-bf47-ba0b76bba1bb",
      "name": "Dados Bancarios Importado",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "e51013a7-32ef-49f8-b249-2694b48db6eb",
              "name": "conta_financeira_id",
              "value": "={{ $json.query.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        592
      ],
      "id": "0b129a9b-929a-44ac-962b-c65284a08a3c",
      "name": "Editmportacao"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT\n  id,\n  data_mov,\n  historico,\n  valor,\n  tipo,\n  tipo_evento,\n  importar,\n  COALESCE(status_conciliacao, 'pendente') AS situacao,\n  COALESCE(mensagem_conciliacao, 'Linha precisa de revisão') AS mensagem\nFROM public.conciliacao_financeira\nWHERE empresa_id = {{ $json.empresa_id }}\n  AND conta_financeira_id =  {{ $json.conta_financeira_id }}\n     AND lote_conciliacao_id IS NULL\nORDER BY data_mov, id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2112,
        592
      ],
      "id": "24eb7f9d-aaea-41d7-86b0-bd64b4199480",
      "name": "conciliacao_bancaria",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2576,
        592
      ],
      "id": "38e355f6-94dd-4f0c-bc24-23fd4696027b",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "jsCode": " const items = $input.all().map(i => i.json);\n\n// erro\nif (items[0]?.error) {\n  return [\n    {\n      json: {\n        ok: false,\n        message: items[0].message || \"Erro desconhecido\",\n        details: items[0].error?.description || null,\n        responseCode: 400\n      }\n    }\n  ];\n}\n\n// sucesso com várias linhas\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: items\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        592
      ],
      "id": "6d9053f7-7730-4e90-8a3f-f256ccf31ad1",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2528,
        800
      ],
      "id": "cd7ef0f5-3e42-41b6-9e42-67c886583fb9",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "jsCode": " const items = $input.all().map(i => i.json);\n\n// erro\nif (items[0]?.error) {\n  return [\n    {\n      json: {\n        ok: false,\n        message: items[0].message || \"Erro desconhecido\",\n        details: items[0].error?.description || null,\n        responseCode: 400\n      }\n    }\n  ];\n}\n\n// sucesso com várias linhas\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: items\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        800
      ],
      "id": "0db68e2c-782c-44ae-bc19-8c6aa1aae27e",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aceitar_conciliacao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1616,
        800
      ],
      "id": "973862d1-3c51-4ccd-8f61-34fd09d94123",
      "name": "Revisaoaceita",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " UPDATE public.conciliacao_financeira\nSET status_conciliacao = 'ok',\n    mensagem_conciliacao = 'Aceito manualmente pelo usuário',\n    importar = true\nWHERE empresa_id = {{ $json.empresa_id }}\n  AND id = ANY(ARRAY[{{ ($json.ids || []).join(\",\") }}]::bigint[]);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        800
      ],
      "id": "15175ef3-fed1-456f-90dc-eca33c65359f",
      "name": "Aceite",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "e51013a7-32ef-49f8-b249-2694b48db6eb",
              "name": "ids",
              "value": "={{ $json.body.ids}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        800
      ],
      "id": "3d4d332f-f634-4d92-b580-1597d0cf7e1c",
      "name": "Editaceite"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2544,
        976
      ],
      "id": "5e2557d0-2316-4ac0-a229-7bbe204d192b",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "jsCode": " const items = $input.all().map(i => i.json);\n\n// erro\nif (items[0]?.error) {\n  return [\n    {\n      json: {\n        ok: false,\n        message: items[0].message || \"Erro desconhecido\",\n        details: items[0].error?.description || null,\n        responseCode: 400\n      }\n    }\n  ];\n}\n\n// sucesso com várias linhas\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: items\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        976
      ],
      "id": "18cc2f64-eb92-4a36-a72e-71d7650e0fa9",
      "name": "Code in JavaScript11"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "execucao_conciliacao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1632,
        976
      ],
      "id": "7658c005-a3d2-44f8-bdf6-fa298da37979",
      "name": "ExecucaoConciliacao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "2ba2771b-513b-4f4b-873d-72379fe89079",
              "name": "conta_id",
              "value": "={{ $json.query.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        976
      ],
      "id": "8251b109-9120-473a-8358-c835dc24e3aa",
      "name": "EditaExecucao"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  SELECT public.fn_executar_conciliacao(\n  {{ $json.empresa_id }},\n  {{ $json.conta_id }}\n   \n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        976
      ],
      "id": "5b004256-6852-4dfa-a9e8-8b5857144161",
      "name": "ExecutaConciliacao",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2528,
        1168
      ],
      "id": "e9cba9bf-4ee8-492b-8bc8-0c369a24f343",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "jsCode": " const items = $input.all().map(i => i.json);\n\n// erro\nif (items[0]?.error) {\n  return [\n    {\n      json: {\n        ok: false,\n        message: items[0].message || \"Erro desconhecido\",\n        details: items[0].error?.description || null,\n        responseCode: 400\n      }\n    }\n  ];\n}\n\n// sucesso com várias linhas\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: items\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        1168
      ],
      "id": "9b5b444e-dcce-4f38-b674-a279a9c83fa2",
      "name": "Code in JavaScript12"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reverter_conciliacao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1616,
        1168
      ],
      "id": "6ae0f67b-4ff7-4d96-b956-2d0b27adb006",
      "name": "Reverter",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "e51013a7-32ef-49f8-b249-2694b48db6eb",
              "name": "conta_id",
              "value": "={{ $json.query.conta_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        1168
      ],
      "id": "92a26250-641a-4dbd-816b-c8568d02746e",
      "name": "EditaReverter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " UPDATE public.conciliacao_financeira\nSET status_conciliacao = 'pendente',\n    mensagem_conciliacao = 'Revertido manualmente para revisão'\nWHERE empresa_id = {{ $json.empresa_id }}\n  AND conta_financeira_id = {{ $json.conta_id }}\n  AND status_conciliacao = 'ok';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        1168
      ],
      "id": "a42267ff-33aa-400a-b342-36cf652ba5be",
      "name": "ReverterConciliacao",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2544,
        1328
      ],
      "id": "ae72c37b-e065-41cd-8f41-961a3460c3cf",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "jsCode": " const items = $input.all().map(i => i.json);\n\n// erro\nif (items[0]?.error) {\n  return [\n    {\n      json: {\n        ok: false,\n        message: items[0].message || \"Erro desconhecido\",\n        details: items[0].error?.description || null,\n        responseCode: 400\n      }\n    }\n  ];\n}\n\n// sucesso com várias linhas\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: items\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        1328
      ],
      "id": "0ea537bb-4c23-4cde-8332-aca461ab77a1",
      "name": "Code in JavaScript13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "e51013a7-32ef-49f8-b249-2694b48db6eb",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        1328
      ],
      "id": "0d4b219e-45ad-4135-8aee-a598c0d015b8",
      "name": "EditaReverter1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT public.fn_rejeitar_conciliacao_linha(\n  {{ $json.empresa_id }},\n  {{ $json.id }}\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        1328
      ],
      "id": "5cb399b2-ae1e-426c-b0b4-74aea5beec93",
      "name": "ReverterConciliacao1",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rejeitar_conciliacao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1632,
        1328
      ],
      "id": "83b295bf-d96d-43ff-a28a-d2d3ea9921d8",
      "name": "RejeitarConciliacao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    }
  ],
  "pinData": {
    "EditVencidos": [
      {
        "json": {
          "empresa_id": 1,
          "dias": 15
        }
      }
    ],
    "Editmportacao": [
      {
        "json": {
          "empresa_id": 1,
          "conta_financeira_id": 2
        }
      }
    ],
    "EditaExecucao": [
      {
        "json": {
          "empresa_id": 1,
          "conta_id": 2
        }
      }
    ]
  },
  "connections": {
    "Edtranscartao": {
      "main": [
        [
          {
            "node": "CodePagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_pagar_contas": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao1": {
      "main": [
        [
          {
            "node": "CodeReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagaContaPagar": {
      "main": [
        [
          {
            "node": "Edtranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RecebeContaReceber": {
      "main": [
        [
          {
            "node": "Edtranscartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_receber_contas": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeReceber": {
      "main": [
        [
          {
            "node": "ff_receber_contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodePagar": {
      "main": [
        [
          {
            "node": "ff_pagar_contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagarFaturas": {
      "main": [
        [
          {
            "node": "Edit_PagarFatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_PagarFatura": {
      "main": [
        [
          {
            "node": "CodeReceber2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_pagamento_faturas": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeReceber2": {
      "main": [
        [
          {
            "node": "ff_registrar_pagamento_faturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estornalancto": {
      "main": [
        [
          {
            "node": "EditEstorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditEstorno": {
      "main": [
        [
          {
            "node": "ff_estornar_transacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_estornar_transacao": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TitulosVencidos": {
      "main": [
        [
          {
            "node": "EditVencidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditVencidos": {
      "main": [
        [
          {
            "node": "ff_titulos_vencidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_titulos_vencidos": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PartidaDobrada": {
      "main": [
        [
          {
            "node": "EditPartidaDobrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditPartidaDobrada": {
      "main": [
        [
          {
            "node": "ff_lancamento_partida_dobrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_lancamento_partida_dobrada": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditPartidaDobrada1": {
      "main": [
        [
          {
            "node": "ff_lancamento_partida_dobrada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_lancamento_partida_dobrada1": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PartidaLote": {
      "main": [
        [
          {
            "node": "EditPartidaDobrada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditPartidaDobrada2": {
      "main": [
        [
          {
            "node": "contab.ff_atualiza_lancto_partida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaPartidaDobrada": {
      "main": [
        [
          {
            "node": "EditPartidaDobrada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contab.ff_atualiza_lancto_partida": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditPartidaDobrada3": {
      "main": [
        [
          {
            "node": "fn_importar_extrato_e_conciliar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PartidaLote1": {
      "main": [
        [
          {
            "node": "EditPartidaDobrada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fn_importar_extrato_e_conciliar": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Bancarios Importado": {
      "main": [
        [
          {
            "node": "Editmportacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editmportacao": {
      "main": [
        [
          {
            "node": "conciliacao_bancaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conciliacao_bancaria": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisaoaceita": {
      "main": [
        [
          {
            "node": "Editaceite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aceite": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editaceite": {
      "main": [
        [
          {
            "node": "Aceite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript11": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExecucaoConciliacao": {
      "main": [
        [
          {
            "node": "EditaExecucao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaExecucao": {
      "main": [
        [
          {
            "node": "ExecutaConciliacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExecutaConciliacao": {
      "main": [
        [
          {
            "node": "Code in JavaScript11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript12": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reverter": {
      "main": [
        [
          {
            "node": "EditaReverter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaReverter": {
      "main": [
        [
          {
            "node": "ReverterConciliacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReverterConciliacao": {
      "main": [
        [
          {
            "node": "Code in JavaScript12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript13": {
      "main": [
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaReverter1": {
      "main": [
        [
          {
            "node": "ReverterConciliacao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReverterConciliacao1": {
      "main": [
        [
          {
            "node": "Code in JavaScript13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RejeitarConciliacao": {
      "main": [
        [
          {
            "node": "EditaReverter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c7b8f1f-0b17-4c75-a928-021319a479e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "bifNGjiUHQX5KPah",
  "tags": []
}