n8n_files/FinanceFlowCartões.json
{
  "name": "FinanceFlowCartões",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        384,
        1040
      ],
      "id": "5afbc8f8-2a82-406b-b64e-9d912a5c013d",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}} ",
              "type": "number"
            },
            {
              "id": "24afd85d-d5a2-48b2-be90-942470e0438f",
              "name": "nomecartao",
              "value": "=Nubank",
              "type": "string"
            },
            {
              "id": "230b6c3d-f5c9-4757-b5af-a3b0958c839d",
              "name": "descricao",
              "value": "Compra no posto do Carlin gasolina aditivada",
              "type": "string"
            },
            {
              "id": "5a635fe2-ab7b-4d45-9dc5-e5f2f4eea1c9",
              "name": "valor",
              "value": 150,
              "type": "number"
            },
            {
              "id": "f30f2fa4-b62e-4b2c-89dd-2af16c86bab4",
              "name": "parcelas",
              "value": 1,
              "type": "number"
            },
            {
              "id": "aa3b2e2e-a468-4dae-9cf8-67e4dcef888e",
              "name": "data_compra",
              "value": "20251116",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        1040
      ],
      "id": "24edd5b9-550e-4296-9c77-2856e2751e6e",
      "name": "CartãoTransacaoEdit1"
    },
    {
      "parameters": {
        "path": "novatransacaocartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        1040
      ],
      "id": "af9c2df2-3e82-4e91-98a2-f143caff505c",
      "name": "InseretransacaoCartão",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from cartoes_transacoes\n     where empresa_id = {{ $('CartãoTransacaoEdit1').item.json.id_empresa }}\n     and   id =  {{ $json.ff_registrar_compra_credito }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        1040
      ],
      "id": "f89fcc8b-417a-47d2-8766-28e98f7c9b78",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'usuario ok' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "5f8e35ad-c300-4b28-8dad-1f5328b36baa",
      "name": "Sim"
    },
    {
      "parameters": {
        "jsCode": "  return [{ json: { success: false, message: 'usuario invalido' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        256
      ],
      "id": "f823b7b3-df42-4068-908f-bc77179033ac",
      "name": "Não"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{$json.email}}"
            },
            {
              "keyName": "senha_hash",
              "keyValue": "={{ $json.password }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        112
      ],
      "id": "b0bc6007-c655-42c0-a1e1-44d41cf724c2",
      "name": "DadosUsuario",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n * \n  FROM usuario_empresa ue\nJOIN usuarios u ON u.id = ue.usuario_id \n  WHERE u.email= '{{ $('DadosUsuario').item.json.email }}' AND \n  u.senha_hash = '{{ $('DadosUsuario').item.json.senha_hash }}';\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        96
      ],
      "id": "464eaafd-9f4c-4566-91bc-4c2e81481298",
      "name": "DadosEmpresa",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        112
      ],
      "id": "3dbfe472-0236-4ae1-85c0-eaf16a353d8b",
      "name": "Login",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "059b3d30-905f-4038-b8c1-9582bae19867",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "91d4813d-55f8-40af-a588-cc77a7b30153",
              "leftValue": "= {{ $('Usuario').item.json.password }}",
              "rightValue": "={{ $json.senha_hash }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        112
      ],
      "id": "bef3c8d8-a7fe-4daf-8b5d-d3e1ad652a4d",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        96
      ],
      "id": "22f94dcb-d337-422c-b012-eae92eeac6a4",
      "name": "Merge2"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        96
      ],
      "id": "103fd1a2-88c1-4686-a92d-d3aa155faa41",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "807e4143-d55c-420c-b026-90bb242e057f",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "password",
              "value": "={{ $json.body.senha}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        112
      ],
      "id": "444cb90d-a7b0-4eaf-841d-7855cc0356e8",
      "name": "Usuario"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        1248
      ],
      "id": "9f0a7fec-06fa-46ce-85d4-849a97268bf3",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novo_cartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        1248
      ],
      "id": "405accc4-c48b-4a7d-aae7-2910f0145e8d",
      "name": "NovoCartao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "   select * from ff_registrar_compra_credito(\n   {{ $json.id_empresa }} ,\n  '{{ $json.nomecartao }}',\n   '{{ $json.descricao }}', \n    {{ $json.valor }},\n   {{ $json.parcelas }} ,\n   '{{ $json.data_compra }}' \n ) \n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        1040
      ],
      "id": "5c5e0caf-219b-4a6a-b124-745d0386ac2b",
      "name": "ff_registrar_compra_credito",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1356,
        "width": 1312
      },
      "id": "5923ce79-66e3-4387-8d70-1cd6b71fb3bc",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        608
      ]
    },
    {
      "parameters": {
        "path": "cartoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        848
      ],
      "id": "9f213b76-bb0c-43c3-9a4f-13ef74de96f6",
      "name": "ListaCartões",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   cartoes  where empresa_id = {{ $json.id_empresa }} ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        848
      ],
      "id": "53d72a6d-bd32-4b83-87cf-03ec01d83540",
      "name": "Cartoes",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}} ",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        848
      ],
      "id": "849bf947-74f3-4d18-adeb-eee07b0b516e",
      "name": "cartoesEdit"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        176,
        848
      ],
      "id": "c4170ca9-22e4-4ab1-9189-ba36afb81450",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        176,
        688
      ],
      "id": "eb8f19bc-f700-4bee-9790-efe929270f9b",
      "name": "Respond to Webhook21"
    },
    {
      "parameters": {
        "path": "editarcartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        688
      ],
      "id": "04776100-9ddc-4689-8bea-c6d29636eaeb",
      "name": "EditarCartões",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}} ",
              "type": "number"
            },
            {
              "id": "51324e38-48c6-4999-a5e0-07f88de5777e",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        688
      ],
      "id": "6a9abfef-743f-4126-bf0b-69c3c4ac604b",
      "name": "EditarCartões1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   cartoes  \n  where empresa_id = {{ $json.id_empresa }}\n and id = {{ $json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        688
      ],
      "id": "7ed28061-7133-4f3a-96c3-1944e4438b27",
      "name": "EditarCartão",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        1424
      ],
      "id": "e668dc80-055b-41f7-9c94-0d8576766b6c",
      "name": "Respond to Webhook22"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome_cartao",
              "value": "={{ $json.body.NomeCartao}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "bandeira",
              "value": "={{ $json.body.bandeira}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "numero",
              "value": "={{ $json.body.numero}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "fechamento_dia",
              "value": "={{ $json.body.fechamento_dia}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            },
            {
              "id": "234342fb-06fa-46a9-98f3-995fbf4f6116",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            },
            {
              "id": "63e47d45-ebcb-402b-92d6-2039f46950c3",
              "name": "limite",
              "value": "={{ $json.body.limite}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "vencimento_dia",
              "value": "={{ $json.body.vencimento_dia}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "limite_total",
              "value": "={{ $json.body.limite_total}}",
              "type": "string"
            },
            {
              "id": "da7d9e41-6981-4818-a621-d1b1d282f37c",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        1424
      ],
      "id": "2108033a-3d0b-4893-b9cf-6df5af361763",
      "name": "EditNewCartao1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cartoes",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_empresa }}"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "nomecartao",
              "fieldValue": "= {{ $json.nome_cartao }}"
            },
            {
              "fieldId": "bandeira",
              "fieldValue": "={{ $json.bandeira}}"
            },
            {
              "fieldId": "limite_total",
              "fieldValue": "={{ $json.limite_total }}"
            },
            {
              "fieldId": "fechamento_dia",
              "fieldValue": "= {{ $json.fechamento_dia }}"
            },
            {
              "fieldId": "vencimento_dia",
              "fieldValue": "={{ $json.vencimento_dia }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $json.numero }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $json.vencimento}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status}}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        1424
      ],
      "id": "129ec32a-747b-41cf-b078-0f4fd0fbc46a",
      "name": "SalvaCartao",
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvacartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        1424
      ],
      "id": "83ba3aea-8d63-47a1-a491-a2655973375a",
      "name": "SalvaCartao1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome_cartao",
              "value": "={{ $json.body.NomeCartao}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "bandeira",
              "value": "={{ $json.body.bandeira}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "numero",
              "value": "={{ $json.body.numero}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "fechamento_dia",
              "value": "={{ $json.body.fechamento_dia}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "vencimento_dia",
              "value": "={{ $json.body.vencimento_dia}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "limite_total",
              "value": "={{ $json.body.limite_total}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        1248
      ],
      "id": "5e3c8be1-d963-4a24-9c20-5fffcadbacf3",
      "name": "EditNewCartao"
    },
    {
      "parameters": {
        "tableId": "cartoes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "nomecartao",
              "fieldValue": "= {{ $json.nome_cartao }}"
            },
            {
              "fieldId": "bandeira",
              "fieldValue": "={{ $json.bandeira}}"
            },
            {
              "fieldId": "limite_total",
              "fieldValue": "={{ $json.limite_total }}"
            },
            {
              "fieldId": "fechamento_dia",
              "fieldValue": "= {{ $json.fechamento_dia }}"
            },
            {
              "fieldId": "vencimento_dia",
              "fieldValue": "={{ $json.vencimento_dia }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $json.numero }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $json.vencimento}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status}}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        1248
      ],
      "id": "ac13f776-5fcd-4ac1-8f1c-c2f4e2284089",
      "name": "SalvaCartao2",
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        1600
      ],
      "id": "b82f65ae-2154-49d0-baeb-8dbed33f2ab4",
      "name": "Respond to Webhook23"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " delete \nFROM cartoes\nWHERE empresa_id = {{ $json.id_empresa }}\n  AND id = {{ $json.id }} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        1600
      ],
      "id": "33d4f6de-c94e-48bd-8583-22306460a5f4",
      "name": "DelCartões",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        1600
      ],
      "id": "11b43533-5939-4e5d-bce7-7b2e7cdb3e80",
      "name": "Delcartoes"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluircartoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        1600
      ],
      "id": "d22138a0-a58e-4778-8b5b-979449cd96a3",
      "name": "DelCard",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "content": "## Cartões Compras.. \nConsultar e excluir compras (em aberto ).",
        "height": 1356,
        "width": 1312,
        "color": 4
      },
      "id": "4cc2112a-cb62-4d59-b273-8958d708411c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2528,
        608
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1680,
        832
      ],
      "id": "136bc331-5bb7-4c92-b9c7-52d6e1f9a923",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compracartoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2304,
        832
      ],
      "id": "7142fc1f-c6e2-4350-a8d0-0331d41a69b9",
      "name": "CompraCartoes",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \nSELECT \n    c.*,\n    ca.nome     AS cartao_nome,\n    ca.numero   AS cartao_numero,\n    ca.bandeira AS cartao_bandeira,\n    f.id        AS fatura_id,\n    to_char(f.mes_referencia, 'MM/YYYY') AS mes_referencia,\n    f.status    AS status_fatura\nFROM cartoes_compras c\nJOIN cartoes ca\n  ON ca.id = c.cartao_id\nJOIN cartoes_transacoes t\n  ON t.compra_id = c.id\nJOIN cartoes_faturas f\n  ON f.id = t.fatura_id\nWHERE c.empresa_id =  {{ $json.id_empresa }} \n  AND f.empresa_id =  {{ $json.id_empresa }} \n  AND ca.empresa_id = {{ $json.id_empresa }} \n  and c.data_compra between  '{{ $json.data_ini }}' and '{{ $json.data_fim }}' ;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1888,
        832
      ],
      "id": "49c51f39-1b84-475d-b57e-8b65a5fa4bd8",
      "name": "CompraCartoes1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}} ",
              "type": "number"
            },
            {
              "id": "e92c46c0-c910-4d3b-a096-335c8b82186d",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}} ",
              "type": "string"
            },
            {
              "id": "437396c5-c5c6-49ec-9091-a65f69b15f1c",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        832
      ],
      "id": "6bd1a452-4dfd-4778-b88a-15ebe54c0400",
      "name": "CompraCartoes2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1616,
        1024
      ],
      "id": "829fa52d-967a-45c9-bd27-fef50da9e968",
      "name": "Respond to Webhook24"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluircompras",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2304,
        1024
      ],
      "id": "8e9e8dcc-968a-4a2a-8bd8-63fdcc3102e9",
      "name": "ExcluirCompra",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.compra_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        1024
      ],
      "id": "e66705d5-b251-44b6-adfd-0c83ecd19939",
      "name": "ExcluirCompraEdit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from ff_excluir_compra_cartao(   {{ $json.empresa_id }}, {{ $json.id }} )\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1872,
        1024
      ],
      "id": "c754b274-010d-40c0-924b-33fd6d37c7eb",
      "name": "ff_excluir_compra_cartao",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "CompraCartoes2": [
      {
        "json": {
          "id_empresa": 1,
          "data_ini": "20250101",
          "data_fim": "20261201"
        }
      }
    ]
  },
  "connections": {
    "CartãoTransacaoEdit1": {
      "main": [
        [
          {
            "node": "ff_registrar_compra_credito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InseretransacaoCartão": {
      "main": [
        [
          {
            "node": "CartãoTransacaoEdit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sim": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DadosUsuario": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosEmpresa": {
      "main": [
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Sim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "DadosEmpresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuario": {
      "main": [
        [
          {
            "node": "DadosUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovoCartao": {
      "main": [
        [
          {
            "node": "EditNewCartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_compra_credito": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaCartões": {
      "main": [
        [
          {
            "node": "cartoesEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cartoesEdit": {
      "main": [
        [
          {
            "node": "Cartoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartoes": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartões": {
      "main": [
        [
          {
            "node": "EditarCartões1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartões1": {
      "main": [
        [
          {
            "node": "EditarCartão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartão": {
      "main": [
        [
          {
            "node": "Respond to Webhook21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNewCartao1": {
      "main": [
        [
          {
            "node": "SalvaCartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao": {
      "main": [
        [
          {
            "node": "Respond to Webhook22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao1": {
      "main": [
        [
          {
            "node": "EditNewCartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNewCartao": {
      "main": [
        [
          {
            "node": "SalvaCartao2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao2": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DelCartões": {
      "main": [
        [
          {
            "node": "Respond to Webhook23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delcartoes": {
      "main": [
        [
          {
            "node": "DelCartões",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DelCard": {
      "main": [
        [
          {
            "node": "Delcartoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CompraCartoes": {
      "main": [
        [
          {
            "node": "CompraCartoes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CompraCartoes1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CompraCartoes2": {
      "main": [
        [
          {
            "node": "CompraCartoes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirCompra": {
      "main": [
        [
          {
            "node": "ExcluirCompraEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirCompraEdit": {
      "main": [
        [
          {
            "node": "ff_excluir_compra_cartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_excluir_compra_cartao": {
      "main": [
        [
          {
            "node": "Respond to Webhook24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c201be4b-b1ee-4c60-b5b4-34e02e7a327c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "LbIec65ByAAFk2Ij",
  "tags": []
}