n8n_files/FinanceFlowTransacoes.json
{
  "name": "FinanceFlowTransacoes",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        752,
        -624
      ],
      "id": "769bf03b-1294-4f6c-a5ab-cf0e5199dc11",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "path": "listalancamentos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        -624
      ],
      "id": "a9e16089-013b-4132-8755-5f4d3b10fbb5",
      "name": "Lancamento",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4845e432-43eb-497a-9a5b-fdffa48d0ee7",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "091771f1-f61a-4ea5-8e1b-cd26a9810971",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "1f9606bd-e55e-475e-acf0-4a7c0ce08a21",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "619af174-7803-4f51-beba-b814ccf69fb4",
              "name": "categoria_id",
              "value": "={{ $json.query.categoria_id}}",
              "type": "string"
            },
            {
              "id": "964d6437-945c-47d7-8e5f-0fe7e3f88832",
              "name": "tipo_operacao",
              "value": "={{ $json.query.tipo_operacao}}",
              "type": "string"
            },
            {
              "id": "ab8b4dc4-f272-4067-90a9-0820150a6f2e",
              "name": "vencidos",
              "value": "={{ $json.query.vencido}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -624
      ],
      "id": "63dcbe06-14a2-4c46-8833-ab2944e43c1b",
      "name": "TransacaoEdit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n   t.id,\n  t.descricao,\n  c.nome AS categoria_nome,\n  f.nome AS conta_nome,\n  t.tipo,\n  t.data_movimento,\n    t.vencimento,\n   t.vencido,\n   t.parcelas, \n   t.parcela_total,\n   t.origem,\n   t.forma, \n  t.valor,\n    0 origem_id,\n   t.evento_codigo, \n   t.conta_id, t.classificacao,\n   t.tipo_operacao as tipo_operacao ,\n   t.origem_id, t.status\nFROM vw_eventos_financeiros t\nLEFT JOIN categorias_gerenciais c \n       ON c.id = t.categoria_id \n      AND c.empresa_id = t.empresa_id\nLEFT JOIN contas_financeiras f \n       ON f.id = t.conta_id\n      AND f.empresa_id = t.empresa_id\n WHERE t.empresa_id = {{ $json.id_empresa }}\n  AND (\n        t.data_movimento::date BETWEEN '{{ $json.data_ini }}' AND '{{ $json.data_fim }}'\n     OR t.vencimento BETWEEN '{{ $json.data_ini }}' AND '{{ $json.data_fim }}'\n  )\n   and  ( categoria_id =  {{ $json.categoria_id }}  or  {{ $json.categoria_id }}  =0 )    \n    AND (\n  COALESCE('{{ $json.tipo_operacao }}','') = ''\n  OR t.tipo_operacao = '{{ $json.tipo_operacao }}'\n) AND (\n  COALESCE('{{ $json.vencidos }}','') = ''\n  OR   ( t.vencido = '{{ $json.vencidos }}' )  AND COALESCE(t.status,'') NOT IN ('paga','recebido','pago')  )\nORDER BY t.data_movimento asc, t.id asc;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        -624
      ],
      "id": "206d83e6-268d-4245-9cf8-94de76573b8d",
      "name": "Lancamentos",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        256
      ],
      "id": "de56e978-b7f0-45f1-9f81-40c7c6af0fc2",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "path": "consultasaldo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        256
      ],
      "id": "3b7df847-8f7f-472f-969b-36695de3fbff",
      "name": "consultaSaldo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "data_ini",
              "value": "={{ $json.query.inicio}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "data_fim",
              "value": "={{ $json.query.fim}}",
              "type": "string"
            },
            {
              "id": "6eaba913-882f-46c6-9675-66a4c22b3224",
              "name": "conta_id",
              "value": "={{ $json.query.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        256
      ],
      "id": "c0a23839-5131-4943-96d6-6e3819de60c6",
      "name": "SaldoEdit"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        96
      ],
      "id": "933dd19d-3027-45c2-81b2-f33d442471c9",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "df442724-bf40-472c-8dec-7478bc410e58",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        96
      ],
      "id": "ea513466-bafb-477b-a7d0-f4405db4e02d",
      "name": "SaldoEdit3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contas_financeiras where  empresa_id = {{ $json.id_empresa }} and  id = {{ $json.id }};\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        96
      ],
      "id": "f8abba3d-5ba2-4c8a-b6c3-91d333665f6f",
      "name": "ContasFinanceiras",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  ff_consultar_saldo_periodo(\n  {{ $json.id_empresa }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}',\n  {{ $json.conta_id }}\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        256
      ],
      "id": "868b2963-b299-42d1-b804-bad356ed476e",
      "name": "consultar_saldo_periodo",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "retrieveontafinanceira",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        96
      ],
      "id": "f400bf45-a168-4ee7-8968-3db8cab9e923",
      "name": "RetrieveContaFInanc",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        752,
        -80
      ],
      "id": "ad03b7e1-3a62-4566-a549-fad908ddd771",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n  t.id,\n  t.conta_id, \n  t.categoria_id,\n   t.descricao, \n  t.tipo,\n  t.data_movimento,\n  t.origem,\n  t.valor, t.conta_id, t.classificacao ,\n   t.evento_codigo\nFROM transacoes t\n \nWHERE t.empresa_id = {{ $json.id_empresa }}\n  AND t.id = {{ $json.id }} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        -80
      ],
      "id": "834468e4-ac3c-41ac-84c5-72b684fb4749",
      "name": "Lancamentos1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "editlancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        -80
      ],
      "id": "97b8e4fe-53d0-43a8-9c56-799e0ac81575",
      "name": "EditarLancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -80
      ],
      "id": "614fe4b2-486c-4fec-970d-07e12c3b8ecf",
      "name": "EditLancto"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        -256
      ],
      "id": "a9670c39-554c-43f9-ad2c-64d3d747e62d",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "path": "deleteancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        -256
      ],
      "id": "88a44b81-f5c7-4f12-977e-083cfa26233f",
      "name": "DeliteLancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -256
      ],
      "id": "482a7ad6-eae2-41f0-ad85-2d72d74940a5",
      "name": "Deletelancto"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        -416
      ],
      "id": "afb50a39-d061-4697-81e2-1b51a361ec57",
      "name": "Respond to Webhook15"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "updatelancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        -416
      ],
      "id": "efd95e48-7d22-4172-988f-efdcd8115e82",
      "name": "UpdateLancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "transacoes",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id}} "
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_empresa}} "
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conta_id",
              "fieldValue": "={{ $json.conta_id }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.categoria_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": "data_movimento",
              "fieldValue": "={{ $json.data_movimento }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.descricao }}"
            },
            {
              "fieldId": "origem",
              "fieldValue": "={{ $json.origem }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        -416
      ],
      "id": "c4a5686f-1e36-4e59-b847-bbbaaebd27d5",
      "name": "UpdateLancto1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            },
            {
              "id": "49a5a239-cb38-4ead-8965-5ea655900d3c",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "dd4a2a9b-76e3-4e82-a3e3-d8d9a6b3b0f3",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "a2e92c4c-9f4d-434d-9b88-03ac77969ff6",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "37f90cdc-fd8e-4e63-93f4-965f853e64e5",
              "name": "data_movimento",
              "value": "={{ $json.body.data_movimento}}",
              "type": "string"
            },
            {
              "id": "965a678e-d4e3-4126-a08b-65193391b3a5",
              "name": "origem",
              "value": "={{ $json.body.origem}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -416
      ],
      "id": "593e43aa-7234-49be-b9db-18d163177fdb",
      "name": "Editlanct"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1196,
        "width": 1312,
        "color": 3
      },
      "id": "767ed993-d9f3-4310-8586-ca4fdeaf298a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -752
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " delete \nFROM transacoes   \nWHERE empresa_id = {{ $json.id_empresa }}\n  AND id = {{ $json.id }} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        -256
      ],
      "id": "0be0b6b9-be02-4712-b200-c54cb6f55e93",
      "name": "DeleteLancto",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    }
  ],
  "pinData": {
    "TransacaoEdit": [
      {
        "json": {
          "id_empresa": 1,
          "data_ini": "20200101",
          "data_fim": "20260306",
          "fornecedor_id": 0,
          "categoria_id": 0,
          "tipo_operacao": "",
          "vencidos": "sim"
        }
      }
    ]
  },
  "connections": {
    "Lancamento": {
      "main": [
        [
          {
            "node": "TransacaoEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransacaoEdit": {
      "main": [
        [
          {
            "node": "Lancamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lancamentos": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultaSaldo": {
      "main": [
        [
          {
            "node": "SaldoEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaldoEdit": {
      "main": [
        [
          {
            "node": "consultar_saldo_periodo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaldoEdit3": {
      "main": [
        [
          {
            "node": "ContasFinanceiras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasFinanceiras": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_saldo_periodo": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetrieveContaFInanc": {
      "main": [
        [
          {
            "node": "SaldoEdit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lancamentos1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarLancto": {
      "main": [
        [
          {
            "node": "EditLancto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditLancto": {
      "main": [
        [
          {
            "node": "Lancamentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeliteLancto": {
      "main": [
        [
          {
            "node": "Deletelancto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletelancto": {
      "main": [
        [
          {
            "node": "DeleteLancto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLancto": {
      "main": [
        [
          {
            "node": "Editlanct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLancto1": {
      "main": [
        [
          {
            "node": "Respond to Webhook15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editlanct": {
      "main": [
        [
          {
            "node": "UpdateLancto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeleteLancto": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a317d01-5e1f-41e9-949c-0417620d91c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "WABd82DUxqsPorxP",
  "tags": []
}