n8n_files/FInanceRelatóriosContabeis.json
{
  "name": "FInanceRelatóriosContabeis",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        112
      ],
      "id": "16725586-4c82-4ad2-a85e-1c3c124235c5",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "content": "## Relatórios Contabeis\nRelatórios Contábeis.. Banlanço, balancete, DER razaão etc.",
        "height": 1052,
        "width": 1328,
        "color": 4
      },
      "id": "e109de80-b263-4bfe-8af9-be4cc5e62776",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "balancete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        112
      ],
      "id": "b48470d7-7753-4ad4-8f39-2a97742bc92e",
      "name": "Balancete",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        112
      ],
      "id": "82314192-0db5-4295-934d-41698f13faec",
      "name": "Edtranscartao"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from contab.fn_balancete(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        112
      ],
      "id": "580e9825-c607-4291-8c01-b19e1cc6a135",
      "name": "fn_balancete",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        272
      ],
      "id": "7f579d2c-6600-4851-af02-90466d297a55",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            },
            {
              "id": "1604e86a-56f9-4afa-8125-8e35d289822b",
              "name": "filtro",
              "value": "={{ $json.body.filtro}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        272
      ],
      "id": "0e92ceb2-7cdd-424e-8342-9250fcf6adef",
      "name": "Edtranscartao1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "razao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        272
      ],
      "id": "9f65f177-ad07-4cb9-a65e-2773362d9b4c",
      "name": "Razão",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from contab.ff_relatorio_razao(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}',\n   '{{ $json.filtro }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        272
      ],
      "id": "19c5e2b1-b3d2-40e7-9e34-426d984405ae",
      "name": "ff_relatorio_razao",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        464
      ],
      "id": "053ed878-be92-4faa-912a-ac722f544fe6",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "balanco",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        464
      ],
      "id": "15deae35-600a-4696-9204-8d945537ce8b",
      "name": "balanco",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_corte",
              "value": "={{ $json.body.data_corte}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        464
      ],
      "id": "77374356-b514-48da-9484-44f8f60016ed",
      "name": "EdtBalanco"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \nSELECT * FROM contab.ff_relatorio_balanco(\n  {{ $json.empresa_id }},\n  '{{ $json.data_corte }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        464
      ],
      "id": "b5306696-f07d-4fff-857c-753277f61f28",
      "name": "ff_relatorio_balanco",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        672
      ],
      "id": "87a1b471-5b05-4258-ad50-6ced5ef7d25c",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diario_contabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        672
      ],
      "id": "5e31a887-69a7-4e3f-9bdb-7b4e9c0842f8",
      "name": "diario_contabil",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from contab.ff_diario_contabil(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        672
      ],
      "id": "1c0e08f1-fc1b-404e-bfbb-fb7cee4eb95f",
      "name": "ff_diario_contabil",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        672
      ],
      "id": "d9cc33e7-452d-461d-9cc7-6a83d873dea9",
      "name": "EditDiario"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        848
      ],
      "id": "eee4a194-8135-45fc-b31d-ad0b5a86f057",
      "name": "Respond to Webhook21"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from contab.ff_dre_periodo(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        848
      ],
      "id": "a66b52a6-536f-4272-8fbf-8faa02e1b193",
      "name": "ff_dre_periodo",
      "credentials": {
        "postgres": {
          "id": "STozEMe82vC1nwYd",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        848
      ],
      "id": "cb07a22b-e805-424b-b45e-887f7cde34af",
      "name": "EditDer"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "der",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        848
      ],
      "id": "e2667adf-efe1-4851-bb9a-35afac3bce9e",
      "name": "der",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    }
  ],
  "pinData": {},
  "connections": {
    "Balancete": {
      "main": [
        [
          {
            "node": "Edtranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao": {
      "main": [
        [
          {
            "node": "fn_balancete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fn_balancete": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao1": {
      "main": [
        [
          {
            "node": "ff_relatorio_razao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Razão": {
      "main": [
        [
          {
            "node": "Edtranscartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_relatorio_razao": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "balanco": {
      "main": [
        [
          {
            "node": "EdtBalanco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EdtBalanco": {
      "main": [
        [
          {
            "node": "ff_relatorio_balanco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_relatorio_balanco": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diario_contabil": {
      "main": [
        [
          {
            "node": "EditDiario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_diario_contabil": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditDiario": {
      "main": [
        [
          {
            "node": "ff_diario_contabil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_dre_periodo": {
      "main": [
        [
          {
            "node": "Respond to Webhook21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditDer": {
      "main": [
        [
          {
            "node": "ff_dre_periodo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "der": {
      "main": [
        [
          {
            "node": "EditDer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63e9365a-3425-45ce-b958-466a75fda8c4",
  "meta": {
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "fNShdDeLkqovPEGd",
  "tags": []
}