n8n_files/FinanceFlowFaturas.json
{
  "name": "FinanceFlowFaturas",
  "nodes": [
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1148,
        "width": 1312
      },
      "id": "4f7a13a7-ab66-4cab-ba35-c77d3faada71",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        144
      ],
      "id": "296e9f12-9ee3-4c06-9c8c-071afcf0518f",
      "name": "Respond to Webhook21"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}} ",
              "type": "number"
            },
            {
              "id": "51324e38-48c6-4999-a5e0-07f88de5777e",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            },
            {
              "id": "60aeaf9d-8685-48ca-ae92-6d16d7cb8769",
              "name": "status",
              "value": "={{ $json.query.status}}",
              "type": "string"
            },
            {
              "id": "c132ce68-96f3-4749-97fa-4856702377bc",
              "name": "mes_referencia",
              "value": "={{ $json.query.mes_referencia}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        144
      ],
      "id": "bd9da7f5-3053-4a26-a0bf-3ac961dad055",
      "name": "EditarCartões1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n \nselect c.nome, c.bandeira, c.numero, limite_total,   fechamento_dia,  vencimento_dia, nomecartao,\nf.* from   cartoes_faturas as f \n  inner join  cartoes as c\n  on c.id = f.cartao_id \n  and c.empresa_id = f.empresa_id\n  where f.empresa_id = {{ $json.id_empresa }}\n and ( f.cartao_id = {{ $json.id }} or {{ $json.id }} = 0 )\nand  ( f.status =  '{{ $json.status}}' or  '{{ $json.status}}' = '') \n  AND  TO_CHAR(f.mes_referencia, 'YYYY-MM-DD') = '{{ $json.mes_referencia }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        144
      ],
      "id": "b17809c0-2780-4b3a-928d-bad281fd06b8",
      "name": "ListaFaturas",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "listasfaturas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        144
      ],
      "id": "45296a1a-20f0-4c67-a811-5f4a28d8e12d",
      "name": "ListaFaturas1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    }
  ],
  "pinData": {},
  "connections": {
    "EditarCartões1": {
      "main": [
        [
          {
            "node": "ListaFaturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaFaturas": {
      "main": [
        [
          {
            "node": "Respond to Webhook21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaFaturas1": {
      "main": [
        [
          {
            "node": "EditarCartões1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4ed93e3-5fed-4c56-b326-8e81c0da279a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "KqaAkJVEqqKOKBc2",
  "tags": []
}