n8n_files/FinanceFlowContaReceber.json
{
  "name": "FinanceFlowContaReceber",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        256
      ],
      "id": "bb814f6d-460b-4b53-9a03-5bf413b17c6c",
      "name": "Respond to Webhook32"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        80
      ],
      "id": "5c7a1aa1-8b04-4281-b157-1910ba6040e6",
      "name": "Respond to Webhook41"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        432
      ],
      "id": "ea126466-af80-423b-b3b0-52267dcdde73",
      "name": "Respond to Webhook42"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        624
      ],
      "id": "99ecb6ab-3aa6-4068-a0ec-6cb66c063380",
      "name": "Respond to Webhook43"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        816
      ],
      "id": "b7432131-ea25-4301-954a-ce1e56ecd5f3",
      "name": "Respond to Webhook44"
    },
    {
      "parameters": {
        "content": "##  Modulo Conta Receber\n Controla Contas a receber do sistema Financeflow",
        "height": 1484,
        "width": 1328,
        "color": 7
      },
      "id": "f47f6596-f02c-44f0-abc3-bfa693e2382a",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        16
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontareceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        80
      ],
      "id": "90be6c64-0b39-41a9-b440-8eda568ab9e9",
      "name": "InsereContaReber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "de393231-6bc4-46b1-a9fb-fa878f154e3a",
              "name": "parcelas",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "58665a1f-d9d9-4896-91e5-23bbefc945fc",
              "name": "doc_ref",
              "value": "={{ $json.body.doc_ref}}",
              "type": "string"
            },
            {
              "id": "db9fc3a7-0351-4a9a-aab8-b1a72dea8115",
              "name": "contabil_id",
              "value": "={{ $json.body.contabil_id}}",
              "type": "string"
            },
            {
              "id": "e0435548-c62a-412e-8f8c-25feb81faa27",
              "name": "=forma_recebimento",
              "value": "={{ $json.body.forma_recebimento}}",
              "type": "string"
            },
            {
              "id": "62ea54ea-a3df-4f43-ae02-27fe0a6e4da3",
              "name": "conta_id",
              "value": "={{ $json.body.conta}}",
              "type": "string"
            },
            {
              "id": "fa3dc129-33df-4aa1-95e2-f0eff47a7200",
              "name": "canal",
              "value": "={{ $json.body.canal}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        80
      ],
      "id": "08a1a031-bf73-4f6c-81d5-6fb8f8c8e715",
      "name": "EditContaReceber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  * from ff_registrar_conta_receber_com_parcelas(\n  {{ $json.empresa_id }} ,\n  '{{ $json.descricao}}',\n   {{ $json.valor}} , \n   '{{ $json.vencimento }}',\n   null, \n   {{ $json.parcelas}},\n   {{ $json.fornecedor_id }},\n   {{ $json.categoria_id}} ,\n   '{{ $json.doc_ref }}',\n   {{ $json.contabil_id }},\n      {{ $json.conta_id }},\n   '{{ $json.forma_recebimento}}',\n   '{{ $json.canal }}'\n)\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        80
      ],
      "id": "8a2861f3-1db8-4a61-8214-d964068e53f4",
      "name": "ff_registrar_conta_receber_com_parcelas",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contas_a_receber \n  where id = {{ $json.ff_registrar_conta_receber_com_parcelas }}\n  and empresa_id = {{ $('EditContaReceber').item.json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        160
      ],
      "id": "1fb1700a-c277-49e0-ad1b-611ffe3b17b6",
      "name": "ResultContaReceber",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "consultarcontareceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        256
      ],
      "id": "8dc3f22c-249d-4b3a-9349-37a2943d57e0",
      "name": "ConsultarContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "status",
              "value": "={{ $json.query.status}}",
              "type": "string"
            },
            {
              "id": "dd1713ed-c8bf-488e-bf5f-64f5aee16daa",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "dc098c67-1af5-44ef-ae1d-3992855f7fde",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "80e0ae6a-d205-478d-bb01-118324bbe421",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "96d2f2a9-035b-4118-bdee-0a5bc0abc724",
              "name": "somente_vencidas",
              "value": "={{ $json.query.somente_vencidas}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        256
      ],
      "id": "e96bf727-d3b4-4bd1-b36a-675308d01e86",
      "name": "EdContareceber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom ff_consultar_contas_receber(\n  {{ $json.id_empresa }},\n  '{{ $json.status }}',\n  '{{ $json.data_ini}}', \n  '{{ $json.data_fim}}',\n   {{ $json.fornecedor_id }},\n   {{ $json.somente_vencidas }}\n)\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        256
      ],
      "id": "6e3b1f5a-70e5-4770-b568-05e517a7d03c",
      "name": "ff_consultar_contas_receber",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exclui_conta_receber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        432
      ],
      "id": "489e64fa-89d4-4bde-8c21-f43af59681bb",
      "name": "ExcluiContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        432
      ],
      "id": "4ccb7e5b-e7e4-42da-9532-1068f9764c88",
      "name": "ExcluircontaReceber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_receber  \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        432
      ],
      "id": "e25ba0b5-31fe-43c1-9c7c-26d4364797f4",
      "name": "ExcluiConta_a_receber",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvarcontareceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        624
      ],
      "id": "79acbe88-62a5-4977-a5ad-a0fdad091bfb",
      "name": "SalvaContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "de393231-6bc4-46b1-a9fb-fa878f154e3a",
              "name": "parcelas",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "b97f031a-5075-4f75-a5a7-7b46fe82da37",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            },
            {
              "id": "688271a5-a1e8-4ea6-a52f-ff4df0178cec",
              "name": "doc_ref",
              "value": "={{ $json.body.doc_ref}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        624
      ],
      "id": "5d975081-81cd-4ec7-9ffa-24982c033811",
      "name": "EditaaContaReceberr"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contas_a_receber",
        "filterType": "=manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.empresa_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.empresa_id }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.descricao }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $json.vencimento }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.categoria_id }}"
            },
            {
              "fieldId": "fornecedor_id",
              "fieldValue": "={{ $json.fornecedor_id }}"
            },
            {
              "fieldId": "parcelas",
              "fieldValue": "={{ $json.parcelas }}"
            },
            {
              "fieldId": "doc_ref",
              "fieldValue": "={{ $json.doc_ref }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        624
      ],
      "id": "38a07815-7046-451f-a6f2-e6079fe2b6bd",
      "name": "SalvaContaReceber1",
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "conta_receber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        816
      ],
      "id": "e13aaecb-1323-4db6-8e09-780d6ea812c6",
      "name": "ContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        816
      ],
      "id": "ac021627-bec9-4254-8996-3871581f402e",
      "name": "EditarContaRecebe"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * \nFROM  contas_a_receber  \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        816
      ],
      "id": "395a4158-eddf-4211-a80e-fe147f058dbe",
      "name": "ConsulaConaReceber",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        1008
      ],
      "id": "97d4f1fd-1e9f-4f00-a788-c15f0483009e",
      "name": "Respond to Webhook50"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n    cp.lote_id,\n    cp.descricao,\n    p.nome AS fornecedor_nome,\n    c.nome AS categoria_nome,\n    cp.parcelas,\n    cp.status,\n    SUM(cp.valor) AS valor_total\nFROM contas_a_receber cp\nLEFT JOIN pessoa p \n       ON p.id = cp.fornecedor_id\nLEFT JOIN categorias_gerenciais c \n       ON c.id = cp.categoria_id\nWHERE cp.empresa_id =  {{ $json.empresa_id }}\n  AND ( {{ $json.lote_id }} =0   OR cp.lote_id IS NULL OR cp.lote_id = {{ $json.lote_id }}  )\n  AND (cp.fornecedor_id = {{ $json.fornecedor_id }} OR {{ $json.fornecedor_id }} = 0)\n  AND (cp.categoria_id = {{ $json.categoria_id }} OR {{ $json.categoria_id }} = 0)\n  AND  cp.parcelas > 1  \nGROUP BY \n    cp.lote_id,\n    cp.descricao,\n    p.nome,\n    c.nome,\n    cp.parcelas,\n    cp.status\nORDER BY cp.lote_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        1008
      ],
      "id": "30c09ecf-91d8-4ae8-a1af-7dafbca25e92",
      "name": "Parcelamento1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        1184
      ],
      "id": "6c63beb8-f5dc-4053-b3e3-ea69f28048df",
      "name": "Respond to Webhook51"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "lote_id",
              "value": "={{ $json.query.lote_id}}",
              "type": "string"
            },
            {
              "id": "e79af6bd-1ef9-45c4-a838-9edb25beedc4",
              "name": "categoria_id",
              "value": "={{ $json.query.categoria_id}}",
              "type": "string"
            },
            {
              "id": "7b59b655-0aa7-4bf1-a3d5-f054ebdbbfca",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1008
      ],
      "id": "abd1e393-e47e-42e8-96fa-9587ce6fd47c",
      "name": "EditarContaRece_parce"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "lote_id",
              "value": "={{ $json.body.lote_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1184
      ],
      "id": "d65bb263-9298-4498-9642-18ffa6c3f55a",
      "name": "Excluircontareceberparce"
    },
    {
      "parameters": {
        "path": "conta_receber_parcelado",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        1008
      ],
      "id": "35079b75-49ed-47ee-9182-b05fc96eb0d9",
      "name": "ReceberParcelado",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirparcelasreceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        1184
      ],
      "id": "0a6f8c1f-29ad-4ce9-bd1c-ad03912784a4",
      "name": "ExcluiParcelaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_receber   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    lote_id = {{ $json.lote_id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        1184
      ],
      "id": "c6ba05d1-e1e8-4974-9c10-6f3a0bac9819",
      "name": "ExcluiConta_a_receber1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        80
      ],
      "id": "80930937-039d-4af6-ae22-5b0b924d6c26",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "InsereContaReber": {
      "main": [
        [
          {
            "node": "EditContaReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditContaReceber": {
      "main": [
        [
          {
            "node": "ff_registrar_conta_receber_com_parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_conta_receber_com_parcelas": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarContaReceber": {
      "main": [
        [
          {
            "node": "EdContareceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EdContareceber": {
      "main": [
        [
          {
            "node": "ff_consultar_contas_receber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_consultar_contas_receber": {
      "main": [
        [
          {
            "node": "Respond to Webhook32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiContaReceber": {
      "main": [
        [
          {
            "node": "ExcluircontaReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluircontaReceber": {
      "main": [
        [
          {
            "node": "ExcluiConta_a_receber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiConta_a_receber": {
      "main": [
        [
          {
            "node": "Respond to Webhook42",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaReceber": {
      "main": [
        [
          {
            "node": "EditaaContaReceberr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaaContaReceberr": {
      "main": [
        [
          {
            "node": "SalvaContaReceber1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaReceber1": {
      "main": [
        [
          {
            "node": "Respond to Webhook43",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContaReceber": {
      "main": [
        [
          {
            "node": "EditarContaRecebe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaRecebe": {
      "main": [
        [
          {
            "node": "ConsulaConaReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsulaConaReceber": {
      "main": [
        [
          {
            "node": "Respond to Webhook44",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parcelamento1": {
      "main": [
        [
          {
            "node": "Respond to Webhook50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaRece_parce": {
      "main": [
        [
          {
            "node": "Parcelamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluircontareceberparce": {
      "main": [
        [
          {
            "node": "ExcluiConta_a_receber1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReceberParcelado": {
      "main": [
        [
          {
            "node": "EditarContaRece_parce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiParcelaReceber": {
      "main": [
        [
          {
            "node": "Excluircontareceberparce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiConta_a_receber1": {
      "main": [
        [
          {
            "node": "Respond to Webhook51",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook41",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "706ad975-304e-4f3b-906e-ada769682d4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "oZLSHlguqqSbgyMg",
  "tags": []
}