n8n_files/FinanceFlowMeuNegocio.json
{
  "name": "FinanceFlowMeuNegocio",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        176
      ],
      "id": "16f88bde-9717-4693-949a-c6976d013268",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "content": "## Carregar c칩pia de seguran칞a\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no reposit칩rio antes. Se sim (true), carregue a nova vers칚o do arquivo. Caso contr치rio (false) crie o arquivo no reposit칩rio.",
        "height": 940,
        "width": 1248,
        "color": 5
      },
      "id": "2588a39c-61f2-4f4b-a930-0111248ae664",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        368
      ],
      "id": "36f9fa54-3613-475c-bb82-08975c44d8c8",
      "name": "Respond to Webhook47"
    },
    {
      "parameters": {
        "path": "listameunegocio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        176
      ],
      "id": "7e4057c5-a3f1-44ce-9e1b-4aca713b6cb7",
      "name": "MeuNegocio",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "ab75b3da-4e6f-4c36-b9f3-48901a8a1717",
              "name": "meunegocio",
              "value": "={{ $json.query.meunegocio}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        176
      ],
      "id": "4ba8a1bd-5bad-4620-ab3f-e02aa42abc68",
      "name": "EditMeuNegocio"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT *\nFROM categorias_gerenciais\nWHERE empresa_id = {{ $json.id_empresa }}\n  AND  tipo =  'entrada' and  \n   meu_negocio = {{ $json.meunegocio }}\n     order by nome asc;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        176
      ],
      "id": "73469c37-40ad-410c-b91a-c0a93318394e",
      "name": "categorias_meunegocio",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transferir_meu_negocio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        368
      ],
      "id": "889001db-b5a6-464a-b2b1-654c6ec223c2",
      "name": "AdicionaMeuNegocio",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4b91aa0f-87b4-4157-a7ef-0f95d3d0cfb7",
              "name": "id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "734ab06a-f8ee-4e83-89d4-460333a027a1",
              "name": "meunegocio",
              "value": "={{ $json.body.meunegocio}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        368
      ],
      "id": "adf26b82-e11b-4c82-95a4-30c7b50a0dbd",
      "name": "EdittransMeuNegocio"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update \n categorias_gerenciais\nset   meu_negocio = {{ $json.meunegocio }}\nWHERE empresa_id =  {{ $json.empresa_id }}\n  AND  tipo =  'entrada' and  \n  id =  {{ $json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        368
      ],
      "id": "f5965edf-b325-46f6-b8eb-78869dcbe208",
      "name": "AdicionaMeuNegocio1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        592
      ],
      "id": "7c24054a-4a28-4d56-b7dd-eb72c6bdf0eb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criamodelonegocio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        592
      ],
      "id": "9f6a3519-93b0-4396-bddb-0191a4183844",
      "name": "CriaModelo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4b91aa0f-87b4-4157-a7ef-0f95d3d0cfb7",
              "name": "categoria_nome",
              "value": "={{ $json.body.categoria_nome}}",
              "type": "string"
            },
            {
              "id": "734ab06a-f8ee-4e83-89d4-460333a027a1",
              "name": "token_modelo",
              "value": "={{ $json.body.token_modelo}}",
              "type": "string"
            },
            {
              "id": "8423e970-bcfb-445d-bc5d-1e4d9daafff6",
              "name": "conta_debito_id",
              "value": "= {{ $json.body.conta_debito_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        592
      ],
      "id": "63285d3c-556c-445d-aab4-1649fa899abb",
      "name": "EditCriaModelo"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 游댠 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 游댠 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Opera칞칚o realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        592
      ],
      "id": "2bce4615-43c4-4a71-8fd7-7f7ed2d2892c",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "call  contab.criar_receita_meu_negocio (\n    {{ $json.empresa_id }},\n    '{{ $json.categoria_nome }}',\n    '{{ $json.token_modelo }}',\n    {{ $json.conta_debito_id }}\n)\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        592
      ],
      "id": "53f91142-d3ab-4d31-88a0-51c44019aaa2",
      "name": "criar_receita_meu_negocio",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "EditMeuNegocio": [
      {
        "json": {
          "id_empresa": 1,
          "meunegocio": false
        }
      }
    ]
  },
  "connections": {
    "MeuNegocio": {
      "main": [
        [
          {
            "node": "EditMeuNegocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditMeuNegocio": {
      "main": [
        [
          {
            "node": "categorias_meunegocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categorias_meunegocio": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AdicionaMeuNegocio": {
      "main": [
        [
          {
            "node": "EdittransMeuNegocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EdittransMeuNegocio": {
      "main": [
        [
          {
            "node": "AdicionaMeuNegocio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AdicionaMeuNegocio1": {
      "main": [
        [
          {
            "node": "Respond to Webhook47",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaModelo": {
      "main": [
        [
          {
            "node": "EditCriaModelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCriaModelo": {
      "main": [
        [
          {
            "node": "criar_receita_meu_negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar_receita_meu_negocio": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "040d06d6-2b03-4fe5-a310-72a7495f5d64",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "Bog1dts15MdvX6f4",
  "tags": []
}