n8n_files/FinanceFLowGerenciais.json
{
  "name": "FinanceFLowGerenciais",
  "nodes": [
    {
      "parameters": {
        "content": "##  Modulo Contas Gerenciais (Banco)\n Controla Contas Gerenciais do Sistema Financeflow",
        "height": 1036,
        "width": 1328,
        "color": 7
      },
      "id": "b16bebff-b6d8-4d69-b36a-2db9336af30e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1056,
        400
      ],
      "id": "37ca26b1-19e9-481b-b1a0-bd358a7f4ffd",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontafinanceira",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        400
      ],
      "id": "15f94a36-67b2-48b0-a865-1cd4cfe005a8",
      "name": "ContaFinanceira",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "tableId": "contas_financeiras",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "= {{ $('EditCriaConta').item.json.id_empresa }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "= {{ $('EditCriaConta').item.json.nome }}"
            },
            {
              "fieldId": "banco",
              "fieldValue": "={{  $('EditCriaConta').item.json.banco}}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{  $('EditCriaConta').item.json.tipo}}"
            },
            {
              "fieldId": "saldo_inicial",
              "fieldValue": "={{  $('EditCriaConta').item.json.saldo_inicial}}"
            },
            {
              "fieldId": "nro_banco",
              "fieldValue": "={{  $('EditCriaConta').item.json.nro_banco}}"
            },
            {
              "fieldId": "agencia",
              "fieldValue": "={{  $('EditCriaConta').item.json.agencia}}"
            },
            {
              "fieldId": "conta",
              "fieldValue": "={{  $('EditCriaConta').item.json.conta}}"
            },
            {
              "fieldId": "conjunta",
              "fieldValue": "={{  $('EditCriaConta').item.json.conjunta}}"
            },
            {
              "fieldId": "juridica",
              "fieldValue": "={{ $('EditCriaConta').item.json[' juridica'] }}"
            },
            {
              "fieldId": "padrao",
              "fieldValue": "={{ $('EditCriaConta').item.json[' padrao'] }}"
            },
            {
              "fieldId": "contabil_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        400
      ],
      "id": "a1417190-dd76-430f-8988-4d5d4629ae1d",
      "name": "CriaConta",
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        208
      ],
      "id": "35c322ef-b846-4b57-8031-3785f52ed298",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "updatecontafinanceira",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        208
      ],
      "id": "d5312add-1253-421f-8bbd-dea10551a700",
      "name": "UpdateContaFinanceira",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contas_financeiras",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id}} "
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome}}"
            },
            {
              "fieldId": "banco",
              "fieldValue": "={{ $json.banco}}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo}}"
            },
            {
              "fieldId": "saldo_inicial",
              "fieldValue": "={{ $json.saldo_inicial}}"
            },
            {
              "fieldId": "nro_banco",
              "fieldValue": "={{ $json.nro_banco}}"
            },
            {
              "fieldId": "agencia",
              "fieldValue": "={{ $json.agencia}}"
            },
            {
              "fieldId": "conta",
              "fieldValue": "={{ $json.conta}}"
            },
            {
              "fieldId": "conjunta",
              "fieldValue": "={{ $json.conjunta}}"
            },
            {
              "fieldId": "juridica",
              "fieldValue": "={{ $json[' juridica'] }}"
            },
            {
              "fieldId": "padrao",
              "fieldValue": "={{ $json[' padrao'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        208
      ],
      "id": "a1cc4a87-2226-4866-b890-964fb6622cda",
      "name": "UpdateConta",
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome",
              "value": "={{ $json.body.body.nome}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "banco",
              "value": "={{ $json.body.body.banco}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "nro_banco",
              "value": "={{ $json.body.body.nro_banco}}",
              "type": "string"
            },
            {
              "id": "aa28cde5-d733-4af3-bd3b-ff764742760b",
              "name": " agencia",
              "value": "={{ $json.body.body.agencia}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "conta",
              "value": "={{ $json.body.body.conta}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "conjunta",
              "value": "={{ $json.body.body.conjunta}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": " juridica",
              "value": "={{ $json.body.body.juridica}}",
              "type": "string"
            },
            {
              "id": "a11ed980-2c89-461d-8601-ddad5c3ecfca",
              "name": " padrao",
              "value": "={{ $json.body.body.padrao}}",
              "type": "string"
            },
            {
              "id": "e3e822e3-c0ee-4753-b8d3-0db50bd74a5a",
              "name": "tipo",
              "value": "={{ $json.body.body.tipo}}",
              "type": "string"
            },
            {
              "id": "bba3955d-1794-41c2-b7bd-988fced0b3fb",
              "name": "saldo_inicial",
              "value": "={{ $json.body.body.saldo_inicial}}",
              "type": "string"
            },
            {
              "id": "6f11c960-89ba-41b5-8ba5-80d0bafbf6b9",
              "name": "agencia",
              "value": "={{ $json.body.body.agencia}}",
              "type": "string"
            },
            {
              "id": "df442724-bf40-472c-8dec-7478bc410e58",
              "name": "id",
              "value": "={{ $json.body.body.id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        208
      ],
      "id": "c7559a0f-de3d-4b42-b177-e2f08b60082e",
      "name": "EditContaFinanceira"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome",
              "value": "={{ $json.body.body.nome}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "banco",
              "value": "={{ $json.body.body.banco}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "nro_banco",
              "value": "={{ $json.body.body.nro_banco}}",
              "type": "string"
            },
            {
              "id": "aa28cde5-d733-4af3-bd3b-ff764742760b",
              "name": " agencia",
              "value": "={{ $json.body.body.agencia}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "conta",
              "value": "={{ $json.body.body.conta}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "conjunta",
              "value": "={{ $json.body.body.conjunta}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": " juridica",
              "value": "={{ $json.body.body.juridica}}",
              "type": "string"
            },
            {
              "id": "a11ed980-2c89-461d-8601-ddad5c3ecfca",
              "name": " padrao",
              "value": "={{ $json.body.body.padrao}}",
              "type": "string"
            },
            {
              "id": "e3e822e3-c0ee-4753-b8d3-0db50bd74a5a",
              "name": "tipo",
              "value": "={{ $json.body.body.tipo}}",
              "type": "string"
            },
            {
              "id": "bba3955d-1794-41c2-b7bd-988fced0b3fb",
              "name": "saldo_inicial",
              "value": "={{ $json.body.body.saldo_inicial}}",
              "type": "string"
            },
            {
              "id": "6f11c960-89ba-41b5-8ba5-80d0bafbf6b9",
              "name": "agencia",
              "value": "={{ $json.body.body.agencia}}",
              "type": "string"
            },
            {
              "id": "55ae6302-439e-4f20-b351-28531c5bec6c",
              "name": "conta_contabil",
              "value": "={{ $json.body.body.conta_contabil}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        400
      ],
      "id": "95048ef5-78b8-41ab-9d20-ef71a609f0c6",
      "name": "EditCriaConta"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        592
      ],
      "id": "39e86d0e-6910-4c76-9f5a-f884a5e64fc5",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   contas_financeiras where empresa_id = \n  {{ $json.id_empresa }}  ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        592
      ],
      "id": "23f9a4f9-b8ea-43e4-abf9-779bfac8cd28",
      "name": "ListaContas",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "listacontas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        592
      ],
      "id": "b1508b1b-cd97-40df-afbb-a5dd88670b57",
      "name": "ListaContas2",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        592
      ],
      "id": "6426db7b-4e5b-4b0d-8d20-5de8b50e9acb",
      "name": "ListaEdit"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "contab",
          "mode": "list",
          "cachedResultName": "contab"
        },
        "table": {
          "__rl": true,
          "value": "contas",
          "mode": "list",
          "cachedResultName": "contas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analitica": true,
            "empresa_id": "={{ $json.id_empresa }}",
            "nivel": 2,
            "conta_pai_id": 1,
            "codigo": "={{ $json.conta_contabil }}",
            "nome": "={{ $json.nome }} - Banco : {{ $json.nro_banco }} - Agencia: {{ $json[' agencia'] }} - Conta: {{ $json.conta }}",
            "natureza": "D",
            "tipo": "ATIVO"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa_id",
              "displayName": "empresa_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "natureza",
              "displayName": "natureza",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nivel",
              "displayName": "nivel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conta_pai_id",
              "displayName": "conta_pai_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "analitica",
              "displayName": "analitica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        400
      ],
      "id": "8fd912c5-57d1-4455-9259-4f6d758d1811",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "ContaFinanceira": {
      "main": [
        [
          {
            "node": "EditCriaConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaConta": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateContaFinanceira": {
      "main": [
        [
          {
            "node": "EditContaFinanceira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateConta": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditContaFinanceira": {
      "main": [
        [
          {
            "node": "UpdateConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCriaConta": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaContas": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaContas2": {
      "main": [
        [
          {
            "node": "ListaEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaEdit": {
      "main": [
        [
          {
            "node": "ListaContas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "CriaConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fcc6a990-7f74-4b7e-b8fd-544c4a29cc1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "tsjIVaLzTdGtlTe9",
  "tags": []
}