n8n_files/FInanceRelatóriosContabeis.json
{
  "name": "FInanceRelatóriosContabeis",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2336,
        96
      ],
      "id": "9fc9908f-0d26-465a-8b1e-83bcb775d355",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "content": "## Relatórios Contabeis\nRelatórios Contábeis.. Banlanço, balancete, DER razaão etc.",
        "height": 1580,
        "width": 1328,
        "color": 4
      },
      "id": "f789c5b6-746d-4048-ab93-0022cdc9773f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        16
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "balancete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1728,
        96
      ],
      "id": "1f77d533-7d7d-4953-ad0f-b7411d4f2488",
      "name": "Balancete",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        96
      ],
      "id": "7292d610-19a9-48a4-b606-15aa0d194ddd",
      "name": "Edtranscartao"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from contab.fn_balancete(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        96
      ],
      "id": "923c1e04-4537-4cc0-a20b-f6d07a3888cc",
      "name": "fn_balancete",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2336,
        304
      ],
      "id": "2259f300-9769-41fb-a938-8c893083cb92",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            },
            {
              "id": "1604e86a-56f9-4afa-8125-8e35d289822b",
              "name": "filtro",
              "value": "={{ $json.body.filtro}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        304
      ],
      "id": "298c0f1b-8065-437e-9cfe-2549b1c694ac",
      "name": "Edtranscartao1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "razao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1744,
        304
      ],
      "id": "7bac25b0-81e8-4afe-89a1-b82fd13152cf",
      "name": "Razão",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from  contab.ff_relatorio_razao(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n  '{{ $json.data_fim }}',\n   '{{ $json.filtro }}' \n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        304
      ],
      "id": "2b78bf5c-9616-418e-a1aa-87615e3daf46",
      "name": "ff_relatorio_razao",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2336,
        848
      ],
      "id": "7b3d114e-c218-4d43-b03b-ca9847506687",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "balanco",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1744,
        848
      ],
      "id": "35a6bdc5-35ac-448d-bf0d-ea7079adc922",
      "name": "balanco",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_corte",
              "value": "={{ $json.body.data_corte}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        848
      ],
      "id": "e2b7ab6e-4203-45b0-9c71-87a6d46a4960",
      "name": "EdtBalanco"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \nSELECT * FROM contab.ff_relatorio_balanco(\n  {{ $json.empresa_id }},\n  '{{ $json.data_corte }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        848
      ],
      "id": "2dd8c56b-4e97-4f32-bead-01730ca0dd59",
      "name": "ff_relatorio_balanco",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2352,
        1056
      ],
      "id": "169f81d0-1c12-4452-89ae-f9fe27ac9330",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diario_contabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1744,
        1056
      ],
      "id": "b48a61c2-5832-4785-bff6-f47321b15d27",
      "name": "diario_contabil",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from contab.ff_diario_contabil(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2160,
        1056
      ],
      "id": "c1332a3c-63da-4209-b434-7cb8f7b30584",
      "name": "ff_diario_contabil",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            },
            {
              "id": "bbc07985-5eb4-44e4-bd9f-594e807e884e",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        1056
      ],
      "id": "cd125153-8836-438d-bf19-faaa42bad422",
      "name": "EditDiario"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2336,
        1232
      ],
      "id": "6020bf28-3a1a-4ada-9448-e43a5a6956be",
      "name": "Respond to Webhook21"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from contab.ff_dre_periodo(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        1232
      ],
      "id": "93f0798c-3132-4d20-8b46-f2e7cc0661f2",
      "name": "ff_dre_periodo",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        1232
      ],
      "id": "798abab7-02e3-4e60-966b-0095818c82e6",
      "name": "EditDer"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "der",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1728,
        1232
      ],
      "id": "d3bc0278-11ae-4dc3-9de8-0957ecc11e19",
      "name": "der",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        944,
        272
      ],
      "id": "26dca6fd-de4c-4fac-b4e5-2442a4692a68",
      "name": "Respond to Webhook22"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "saldo_conta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        304,
        272
      ],
      "id": "747e73d5-bec9-4e10-b4bd-fd174d3e3118",
      "name": "SaldConta",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            },
            {
              "id": "fc6875b8-d1d0-4b0e-9a39-395fce9b022d",
              "name": "filtro",
              "value": "={{ $json.body.filtro}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        272
      ],
      "id": "e225a2a6-94ad-4a52-abf2-630d50216843",
      "name": "EditSaldoConta"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT  CONTA_CODIGO CODIGO , CONTA_NOME NOME , SALDO_INICIAL, DEBITO  total_debito  , CREDITO total_credito ,  SALDO   \n  from  contab.ff_razao_sintetico_mensal(\n   {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n  '{{ $json.data_fim }}',\n '{{ $json.filtro }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        272
      ],
      "id": "b23f22a8-7e4d-489a-9edf-998cedc79e01",
      "name": "Saldo_por_conta",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        464
      ],
      "id": "4ccf166e-c430-4445-b614-dd3cc6bcce81",
      "name": "Respond to Webhook23"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        464
      ],
      "id": "f03ee2dc-31a1-404f-aa1a-505efa9084f6",
      "name": "EditSaldoConta1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "balancete111",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        304,
        464
      ],
      "id": "50576a66-8be5-463b-9c19-5392aa3dd8cb",
      "name": "balancete",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT\n  c.codigo,\n  c.nome,\n  c.tipo,\n  SUM(COALESCE(l.debito, 0))  AS total_debito,\n  SUM(COALESCE(l.credito, 0)) AS total_credito,\n  SUM(COALESCE(l.debito, 0) - COALESCE(l.credito, 0)) AS saldo\nFROM contab.lancamentos l\nJOIN contab.contas c \n  ON c.id = l.conta_id\nWHERE l.empresa_id =  {{ $json.empresa_id }}\n  AND l.data_mov BETWEEN  '{{ $json.data_ini }}'  AND '{{ $json.data_fim }}'\n   AND (\n  c.codigo ILIKE '%' || '{{ $json.filtro }}' || '%'\n  OR c.nome   ILIKE '%' ||  '{{ $json.filtro }}' || '%'\n)\n\nGROUP BY\n  c.codigo,\n  c.nome,\n  c.tipo\nORDER BY\n  c.codigo;\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        464
      ],
      "id": "d87f3d93-55ce-4d69-b648-0cf808d6255e",
      "name": "Balancete1",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        672
      ],
      "id": "02346f8a-99da-4487-a252-5cd2caf3f576",
      "name": "Respond to Webhook24"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "be293112-684a-4018-8725-f24be9beedf3",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        672
      ],
      "id": "97fb548d-9db3-45b0-bdeb-4fa5b2e00c85",
      "name": "EditbalancoNivel"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT\n  grupo,\n  SUM(valor_ajustado)::numeric(18,2) AS saldo\nFROM (\n  SELECT\n    CASE\n      WHEN conta_codigo LIKE '1.1%' THEN 'ATIVO_CIRCULANTE'\n      WHEN conta_codigo LIKE '1.2%' THEN 'ATIVO_NAO_CIRC'\n      WHEN conta_codigo LIKE '2.1%' THEN 'PASSIVO_CIRC'\n      WHEN conta_codigo LIKE '2.2%' THEN 'PASSIVO_NAO_CIRC'\n      WHEN conta_codigo LIKE '3%'   THEN 'PATRIMONIO_LIQ'\n    END AS grupo,\n\n    CASE\n      -- ativos somam normal\n      WHEN conta_codigo LIKE '1%' THEN valor\n      -- passivo e PL invertem sinal\n      WHEN conta_codigo LIKE '2%' OR conta_codigo LIKE '3%' THEN -valor\n    END AS valor_ajustado\n\n  FROM contab.vw_mov_contabil\n  WHERE empresa_id =  {{ $json.empresa_id }}\n    AND data_mov BETWEEN '{{ $json.data_ini }}' AND '{{ $json.data_fim }}'\n) x\nWHERE grupo IS NOT NULL\nGROUP BY grupo\nORDER BY grupo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        672
      ],
      "id": "8b251bf0-b9a5-4380-a356-dc1bd9ab9bd8",
      "name": "BalancoNivel",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "balanco_niveis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        672
      ],
      "id": "6ecc5dd1-4252-44d7-ab88-4568ba58ccab",
      "name": "BalancoNiveis",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        912
      ],
      "id": "7f3b41ed-dca1-4b03-a090-6f16d0c61ebc",
      "name": "Respond to Webhook25"
    },
    {
      "parameters": {
        "path": "kpis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        272,
        912
      ],
      "id": "5e99d3ff-e38b-4b6d-a8f7-f4f7cd21301e",
      "name": "GerencialKpis",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "ano",
              "value": "={{ $json.query.ano}}",
              "type": "string"
            },
            {
              "id": "be293112-684a-4018-8725-f24be9beedf3",
              "name": "mes",
              "value": "={{ $json.query.mes}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        912
      ],
      "id": "aaa3285b-e234-4671-8a01-a4b1b368acda",
      "name": "EditKpis"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\n\nselect receita_liquida, cmv_csp, margem_contribuicao, despesa_fixa, resultado_liquido, liquidez_aprox , endividamento_aprox \nFROM contab.sp_kpi_gerencial_mensal({{ $json.empresa_id }}\n   ,{{ $json.ano }} , {{ $json.mes }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        912
      ],
      "id": "e0b43c8f-e056-47cd-84e9-88f574118109",
      "name": "sp_kpi_gerencial_mensal",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "content": "## Relatórios Contabeis\nRelatórios Contábeis.. Banlanço, balancete, DER razaão etc.",
        "height": 1164,
        "width": 1328,
        "color": 6
      },
      "id": "f7851e7c-51de-405b-ae13-8422ccca4313",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        16
      ]
    },
    {
      "parameters": {
        "content": "## Relatórios Contabeis Fluxo Caixa\nRelatórios Contábeis.. Fluxo de caixa.",
        "height": 1164,
        "width": 1328,
        "color": 3
      },
      "id": "81e4a2e1-09bc-4e88-9b39-335f074b400a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1392
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        1568
      ],
      "id": "d8028291-17fd-4cf4-a980-8837cf9ebd3c",
      "name": "Respond to Webhook26"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gera_fluxo_caixa_detalhado",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1568
      ],
      "id": "3bbf8fd7-00d5-4bdd-918f-547fbd0def09",
      "name": "Fluxo_Caixa_Detalhado",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_inicio",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "be293112-684a-4018-8725-f24be9beedf3",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1568
      ],
      "id": "d2c8a9dd-f759-4e6b-908e-919f3851d0fc",
      "name": "Editflxcaixadetalhado"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nSELECT * \nFROM contab.sp_fluxo_caixa_detalhado(\n  {{ $json.empresa_id }},\n  '{{ $json.data_inicio }}',\n  '{{ $json.data_fim }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        1568
      ],
      "id": "2c418cbf-cfc2-4ae5-a9ea-163091da9154",
      "name": "sp_fluxo_caixa_detalhado",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        1760
      ],
      "id": "f7e41ada-0bed-4d14-91fe-7e34425b4513",
      "name": "Respond to Webhook27"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gera_fluxo_caixa_mensal",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1760
      ],
      "id": "4aa6dc75-33da-47b6-ac52-cf9e6eb4b29a",
      "name": "Fluxo_Caixa_Mensal",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_inicio",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "be293112-684a-4018-8725-f24be9beedf3",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1760
      ],
      "id": "f1c09c65-8893-48b7-88b7-3f5e85ced767",
      "name": "Editflxcaixamensal"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nSELECT * \nFROM contab.gera_fluxo_caixa_mensal(\n  {{ $json.empresa_id }},\n  '{{ $json.data_inicio }}',\n  '{{ $json.data_fim }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        1760
      ],
      "id": "63a7ef32-6a86-4514-8a0e-d0b423cc122f",
      "name": "gera_fluxo_caixa_mensal",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2336,
        480
      ],
      "id": "330e0b51-869d-4f95-a441-c2e574a4a584",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            },
            {
              "id": "1604e86a-56f9-4afa-8125-8e35d289822b",
              "name": "filtro",
              "value": "={{ $json.body.filtro}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        480
      ],
      "id": "df7c1977-6118-4ca8-a384-4a2131bf7c4a",
      "name": "Edtranscartao2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "razao_diario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1744,
        480
      ],
      "id": "1afb28cd-0013-4ad5-9d0d-b11007f7366e",
      "name": "RazãoDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from  contab.ff_razao_sintetico_diario(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n  '{{ $json.data_fim }}',\n   '{{ $json.filtro }}' \n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        480
      ],
      "id": "af011746-2df2-4c48-bf28-55b216f30d50",
      "name": "ff_relatorio_razao_diario",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2336,
        656
      ],
      "id": "b8de6d38-413f-485d-8d39-a106699c26df",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            },
            {
              "id": "1604e86a-56f9-4afa-8125-8e35d289822b",
              "name": "filtro",
              "value": "={{ $json.body.filtro}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        656
      ],
      "id": "9fb6f215-7657-44d8-8ad3-8cdcd0a155b7",
      "name": "Edtranscartao3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "razao_mensal",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1744,
        656
      ],
      "id": "52e00aee-1985-44a9-a0d0-8799cf8adc6e",
      "name": "RazãoMensal",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from  contab.ff_razao_sintetico_mensal(\n  {{ $json.empresa_id }},\n  '{{ $json.data_ini }}',\n  '{{ $json.data_fim }}',\n   '{{ $json.filtro }}' \n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        656
      ],
      "id": "bb3975dd-4c99-4b51-bf4b-9999ffc88b3d",
      "name": "ff_razao_sintetico_mensal",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\n\nSELECT\n  c.codigo,\n  c.nome,\n  SUM(COALESCE(l.debito,0))  AS total_debito,\n  SUM(COALESCE(l.credito,0)) AS total_credito,\n  SUM(COALESCE(l.debito,0) - COALESCE(l.credito,0)) AS saldo\nFROM contab.lancamentos l\nJOIN contab.contas c ON c.id = l.conta_id\nWHERE l.empresa_id =   {{ $json.empresa_id }}\n  AND l.data_mov BETWEEN  '{{ $json.data_ini }}'  AND '{{ $json.data_fim }}'\nGROUP BY c.codigo, c.nome\nORDER BY c.codigo\n\n\n\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        368
      ],
      "id": "0b19b24f-2cb6-4529-83a2-e62c87be5ba3",
      "name": "Saldo_por_conta1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        1952
      ],
      "id": "012a9dcd-6945-4572-962a-0e0998741d7e",
      "name": "Respond to Webhook28"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_inicio",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "be293112-684a-4018-8725-f24be9beedf3",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1952
      ],
      "id": "def231d2-5c33-4ec7-b3aa-4074512d811c",
      "name": "Editflxcaixamensal1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nSELECT * \nFROM  contab.sp_fluxo_caixa_consolidado (\n  {{ $json.empresa_id }},\n  '{{ $json.data_inicio }}',\n  '{{ $json.data_fim }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        1952
      ],
      "id": "8421a055-a5ad-41b8-9d72-f3fb5705cd54",
      "name": "sp_fluxo_caixa_consolidado",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gera_fluxo_caixa_consolidado",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1952
      ],
      "id": "7f895b43-190b-4f20-bac7-bf5f6235dd37",
      "name": "Fluxo_Caixa_consolidado",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "historico_apuracao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        2208
      ],
      "id": "6f3e1448-d2fa-47e6-b9b7-121ba22f4e4d",
      "name": "HistoricoApuracao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * from contab.ff_historico_apuracao(\n  {{ $json.empresa_id }} \n);\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        2208
      ],
      "id": "70f8743c-53f1-4a50-a8c0-bb8ee2d57797",
      "name": "ff_historico_apuracao",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        2208
      ],
      "id": "303a3bbd-15bd-4943-a18a-556b699f0f02",
      "name": "Respond to Apuracao Historico"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        2208
      ],
      "id": "a0c49c92-fc2a-4d74-b6ea-31def0333c57",
      "name": "EditHistorico"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2352,
        1440
      ],
      "id": "b4cc92ad-9f67-4507-8f62-b74801263020",
      "name": "Respond to Webhook29"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " WITH partidas AS (\n  SELECT\n    MIN(l.id)                           AS id,\n    l.data_mov::date                   AS data,\n    l.historico                        AS historico,\n\n    MAX(CASE WHEN l.debito  > 0 THEN l.conta_id END) AS conta_debito_id,\n    SUM(COALESCE(l.debito, 0))          AS debito,\n\n    MAX(CASE WHEN l.credito > 0 THEN l.conta_id END) AS conta_credito_id,\n    SUM(COALESCE(l.credito, 0))         AS credito,\n\n    l.lote_id\n  FROM contab.lancamentos l\n  WHERE l.empresa_id = {{ $json.empresa_id }}\n    AND l.data_mov::date BETWEEN '{{ $json.data_ini }}' AND '{{ $json.data_fim }}'\n  GROUP BY l.lote_id, l.data_mov::date, l.historico\n)\n\nSELECT\n  p.id,\n  p.data,\n  p.historico,\n\n  cd.codigo || ' - ' || cd.nome AS conta_debito,\n  p.debito,\n\n  cc.codigo || ' - ' || cc.nome AS conta_credito,\n  p.credito,\n\n  p.lote_id \nFROM partidas p\nLEFT JOIN contab.contas cd ON cd.id = p.conta_debito_id\nLEFT JOIN contab.contas cc ON cc.id = p.conta_credito_id\nORDER BY p.data DESC, p.lote_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2160,
        1440
      ],
      "id": "c9cb1d62-ad41-4761-b0d5-d91c12f733b2",
      "name": "ff_diario_contabil1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_ini",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "2cce7d03-881a-46e7-808d-fd6a9916f752",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            },
            {
              "id": "bbc07985-5eb4-44e4-bd9f-594e807e884e",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        1440
      ],
      "id": "5ac3dff3-497f-467a-acf3-da5d81bc2d4e",
      "name": "EditDiario1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "movimento_contabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1744,
        1440
      ],
      "id": "2efbcb41-749a-4edb-bbb2-26c61b72e3f3",
      "name": "movimento_contabil",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    }
  ],
  "pinData": {
    "Edtranscartao1": [
      {
        "json": {
          "empresa_id": 1,
          "data_ini": "20250501",
          "data_fim": "20251231",
          "filtro": null,
          "tipo": "d"
        }
      }
    ],
    "Edtranscartao2": [
      {
        "json": {
          "empresa_id": 1,
          "data_ini": "20250501",
          "data_fim": "20251231",
          "filtro": null,
          "tipo": "d"
        }
      }
    ],
    "Edtranscartao3": [
      {
        "json": {
          "empresa_id": 1,
          "data_ini": "20250501",
          "data_fim": "20251231",
          "filtro": null,
          "tipo": "d"
        }
      }
    ],
    "EditDiario1": [
      {
        "json": {
          "empresa_id": 1,
          "data_ini": "2026-01-01",
          "data_fim": "2026-01-31",
          "conta_id": null
        }
      }
    ]
  },
  "connections": {
    "Balancete": {
      "main": [
        [
          {
            "node": "Edtranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao": {
      "main": [
        [
          {
            "node": "fn_balancete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fn_balancete": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao1": {
      "main": [
        [
          {
            "node": "ff_relatorio_razao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Razão": {
      "main": [
        [
          {
            "node": "Edtranscartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_relatorio_razao": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "balanco": {
      "main": [
        [
          {
            "node": "EdtBalanco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EdtBalanco": {
      "main": [
        [
          {
            "node": "ff_relatorio_balanco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_relatorio_balanco": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diario_contabil": {
      "main": [
        [
          {
            "node": "EditDiario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_diario_contabil": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditDiario": {
      "main": [
        [
          {
            "node": "ff_diario_contabil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_dre_periodo": {
      "main": [
        [
          {
            "node": "Respond to Webhook21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditDer": {
      "main": [
        [
          {
            "node": "ff_dre_periodo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "der": {
      "main": [
        [
          {
            "node": "EditDer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaldConta": {
      "main": [
        [
          {
            "node": "EditSaldoConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSaldoConta": {
      "main": [
        [
          {
            "node": "Saldo_por_conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saldo_por_conta": {
      "main": [
        [
          {
            "node": "Respond to Webhook22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSaldoConta1": {
      "main": [
        [
          {
            "node": "Balancete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "balancete": {
      "main": [
        [
          {
            "node": "EditSaldoConta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Balancete1": {
      "main": [
        [
          {
            "node": "Respond to Webhook23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditbalancoNivel": {
      "main": [
        [
          {
            "node": "BalancoNivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BalancoNivel": {
      "main": [
        [
          {
            "node": "Respond to Webhook24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BalancoNiveis": {
      "main": [
        [
          {
            "node": "EditbalancoNivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GerencialKpis": {
      "main": [
        [
          {
            "node": "EditKpis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditKpis": {
      "main": [
        [
          {
            "node": "sp_kpi_gerencial_mensal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sp_kpi_gerencial_mensal": {
      "main": [
        [
          {
            "node": "Respond to Webhook25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fluxo_Caixa_Detalhado": {
      "main": [
        [
          {
            "node": "Editflxcaixadetalhado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editflxcaixadetalhado": {
      "main": [
        [
          {
            "node": "sp_fluxo_caixa_detalhado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sp_fluxo_caixa_detalhado": {
      "main": [
        [
          {
            "node": "Respond to Webhook26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fluxo_Caixa_Mensal": {
      "main": [
        [
          {
            "node": "Editflxcaixamensal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editflxcaixamensal": {
      "main": [
        [
          {
            "node": "gera_fluxo_caixa_mensal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gera_fluxo_caixa_mensal": {
      "main": [
        [
          {
            "node": "Respond to Webhook27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao2": {
      "main": [
        [
          {
            "node": "ff_relatorio_razao_diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RazãoDiario": {
      "main": [
        [
          {
            "node": "Edtranscartao2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_relatorio_razao_diario": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao3": {
      "main": [
        [
          {
            "node": "ff_razao_sintetico_mensal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RazãoMensal": {
      "main": [
        [
          {
            "node": "Edtranscartao3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_razao_sintetico_mensal": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editflxcaixamensal1": {
      "main": [
        [
          {
            "node": "sp_fluxo_caixa_consolidado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sp_fluxo_caixa_consolidado": {
      "main": [
        [
          {
            "node": "Respond to Webhook28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fluxo_Caixa_consolidado": {
      "main": [
        [
          {
            "node": "Editflxcaixamensal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HistoricoApuracao": {
      "main": [
        [
          {
            "node": "EditHistorico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_historico_apuracao": {
      "main": [
        [
          {
            "node": "Respond to Apuracao Historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditHistorico": {
      "main": [
        [
          {
            "node": "ff_historico_apuracao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_diario_contabil1": {
      "main": [
        [
          {
            "node": "Respond to Webhook29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditDiario1": {
      "main": [
        [
          {
            "node": "ff_diario_contabil1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "movimento_contabil": {
      "main": [
        [
          {
            "node": "EditDiario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "888a4bbd-ce6d-4241-b77e-6d5430c78cdd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "LIxmFrZY45Qecm0l",
  "tags": []
}