n8n_files/FinanceFlowContaReceber.json
{
  "name": "FinanceFlowContaReceber",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        752,
        240
      ],
      "id": "5752085d-d244-41ad-b62b-c35fd5e28649",
      "name": "Respond to Webhook32"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        64
      ],
      "id": "f58c0fc8-6a4b-442c-84b9-935e7c3a65ae",
      "name": "Respond to Webhook41"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        416
      ],
      "id": "e4ee6114-3322-4209-82ee-ea7121a69f10",
      "name": "Respond to Webhook42"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        784,
        608
      ],
      "id": "7918ff1c-5fee-4aac-91a8-14313b9f1df9",
      "name": "Respond to Webhook43"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        784,
        800
      ],
      "id": "91df3862-e49f-41a2-9086-80d631798003",
      "name": "Respond to Webhook44"
    },
    {
      "parameters": {
        "content": "##  Modulo Conta Receber\n Controla Contas a receber do sistema Financeflow",
        "height": 1484,
        "width": 1328,
        "color": 7
      },
      "id": "3b9e52a5-3394-42ba-b0d3-8f4c17d4c09c",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontareceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        64
      ],
      "id": "27f1f95f-29ae-410d-a7e5-0f83bc741e0b",
      "name": "InsereContaReber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "de393231-6bc4-46b1-a9fb-fa878f154e3a",
              "name": "parcelas",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "58665a1f-d9d9-4896-91e5-23bbefc945fc",
              "name": "doc_ref",
              "value": "={{ $json.body.doc_ref}}",
              "type": "string"
            },
            {
              "id": "db9fc3a7-0351-4a9a-aab8-b1a72dea8115",
              "name": "contabil_id",
              "value": "={{ $json.body.contabil_id}}",
              "type": "string"
            },
            {
              "id": "e0435548-c62a-412e-8f8c-25feb81faa27",
              "name": "=classificacao",
              "value": "={{ $json.body.classificacao}}",
              "type": "string"
            },
            {
              "id": "62ea54ea-a3df-4f43-ae02-27fe0a6e4da3",
              "name": "conta_id",
              "value": "={{ $json.body.conta}}",
              "type": "string"
            },
            {
              "id": "fa3dc129-33df-4aa1-95e2-f0eff47a7200",
              "name": "canal",
              "value": "={{ $json.body.canal}}",
              "type": "string"
            },
            {
              "id": "c4fd3c0a-6a6c-4cbb-b65a-70297084cf3e",
              "name": "modelo_codigo",
              "value": "={{ $json.body.modelo_codigo}}",
              "type": "string"
            },
            {
              "id": "86bbc006-d869-4498-b699-792689b07c19",
              "name": "categoria",
              "value": "",
              "type": "string"
            },
            {
              "id": "541e251a-cad7-4573-90f4-a0cca331634f",
              "name": "forma_recebimento",
              "value": "={{ $json.body.forma_recebimento}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        64
      ],
      "id": "0f66077f-3c86-4716-ace1-3961a8c01026",
      "name": "EditContaReceber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  select  * from ff_registrar_conta_receber_com_parcelas(\n  {{ $json.empresa_id }} ,\n  '{{ $json.descricao}}',\n   {{ $json.valor}} , \n   '{{ $json.vencimento }}',\n   '{{ $json.categoria }}' , \n   {{ $json.parcelas}},\n   {{ $json.fornecedor_id }},\n   {{ $json.categoria_id}} ,\n   '{{ $json.doc_ref }}', \n      {{ $json.conta_id }},\n   '{{ $json.classificacao }}',\n   '{{ $json.canal }}',\n   '{{ $json.modelo_codigo }}',\n  '{{ $json.forma_recebimento }}'\n)\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        64
      ],
      "id": "51fe6cdb-8432-4e93-ae2f-c0332ac9c8e7",
      "name": "ff_registrar_conta_receber_com_parcelas",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contas_a_receber \n  where id = {{ $json.ff_registrar_conta_receber_com_parcelas }}\n  and empresa_id = {{ $('EditContaReceber').item.json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        144
      ],
      "id": "02f94e41-dd2b-4508-b9de-3bbdfba3989f",
      "name": "ResultContaReceber",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "consultarcontareceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        240
      ],
      "id": "0155c1ba-521b-4aae-94e1-99e1e822ae8a",
      "name": "ConsultarContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "status",
              "value": "={{ $json.query.status}}",
              "type": "string"
            },
            {
              "id": "dd1713ed-c8bf-488e-bf5f-64f5aee16daa",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "dc098c67-1af5-44ef-ae1d-3992855f7fde",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "80e0ae6a-d205-478d-bb01-118324bbe421",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "96d2f2a9-035b-4118-bdee-0a5bc0abc724",
              "name": "somente_vencidas",
              "value": "={{ $json.query.somente_vencidas}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        240
      ],
      "id": "51cdcba1-39a2-4ee7-89b6-5ffb4458faf0",
      "name": "EdContareceber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom ff_consultar_contas_receber(\n  {{ $json.id_empresa }},\n  '{{ $json.status }}',\n  '{{ $json.data_ini}}', \n  '{{ $json.data_fim}}',\n   {{ $json.fornecedor_id }},\n   {{ $json.somente_vencidas }}\n)\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        240
      ],
      "id": "da1fb638-a469-4710-b05e-3fd85e23ff59",
      "name": "ff_consultar_contas_receber",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exclui_conta_receber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        416
      ],
      "id": "17169198-95d6-4279-8ccb-0fe8bc06d302",
      "name": "ExcluiContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        416
      ],
      "id": "cdb1c305-8cd9-404f-89b7-c1c694a788a9",
      "name": "ExcluircontaReceber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_receber  \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        416
      ],
      "id": "87ff4ebf-9d3c-479b-89c5-efa19e8a832d",
      "name": "ExcluiConta_a_receber",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvarcontareceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        608
      ],
      "id": "6d546ea2-2621-42d1-8897-59a27e2e6eb1",
      "name": "SalvaContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "de393231-6bc4-46b1-a9fb-fa878f154e3a",
              "name": "parcelas",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "b97f031a-5075-4f75-a5a7-7b46fe82da37",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            },
            {
              "id": "688271a5-a1e8-4ea6-a52f-ff4df0178cec",
              "name": "doc_ref",
              "value": "={{ $json.body.doc_ref}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        608
      ],
      "id": "e6e95eb6-9b2b-429a-a37f-3e0a8d5a13e0",
      "name": "EditaaContaReceberr"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contas_a_receber",
        "filterType": "=manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.empresa_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.empresa_id }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.descricao }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $json.vencimento }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.categoria_id }}"
            },
            {
              "fieldId": "fornecedor_id",
              "fieldValue": "={{ $json.fornecedor_id }}"
            },
            {
              "fieldId": "parcelas",
              "fieldValue": "={{ $json.parcelas }}"
            },
            {
              "fieldId": "doc_ref",
              "fieldValue": "={{ $json.doc_ref }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        608
      ],
      "id": "24aabf06-a366-4dc4-964d-f5139381e17e",
      "name": "SalvaContaReceber1",
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "conta_receber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        800
      ],
      "id": "e28f4f54-d6c7-4456-8013-19896f96e088",
      "name": "ContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        800
      ],
      "id": "4e13ae2c-6411-49b8-b8b3-a845a57c414c",
      "name": "EditarContaRecebe"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * \nFROM  contas_a_receber  \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        800
      ],
      "id": "8d80245c-57c6-4b27-9773-64819a3412e2",
      "name": "ConsulaConaReceber",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        752,
        992
      ],
      "id": "4d99e6c4-a691-4c93-86de-bd20b6457695",
      "name": "Respond to Webhook50"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n    cp.lote_id,\n    cp.descricao,\n    p.nome AS fornecedor_nome,\n    c.nome AS categoria_nome,\n    cp.parcelas,\n    cp.status,\n    SUM(cp.valor) AS valor_total\nFROM contas_a_receber cp\nLEFT JOIN pessoa p \n       ON p.id = cp.fornecedor_id\nLEFT JOIN categorias_gerenciais c \n       ON c.id = cp.categoria_id\nWHERE cp.empresa_id =  {{ $json.empresa_id }}\n  AND ( {{ $json.lote_id }} =0   OR cp.lote_id IS NULL OR cp.lote_id = {{ $json.lote_id }}  )\n  AND (cp.fornecedor_id = {{ $json.fornecedor_id }} OR {{ $json.fornecedor_id }} = 0)\n  AND (cp.categoria_id = {{ $json.categoria_id }} OR {{ $json.categoria_id }} = 0)\n  AND  cp.parcelas > 1  \nGROUP BY \n    cp.lote_id,\n    cp.descricao,\n    p.nome,\n    c.nome,\n    cp.parcelas,\n    cp.status\nORDER BY cp.lote_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        992
      ],
      "id": "65af102b-312c-4962-9321-6a2defa9c2db",
      "name": "Parcelamento1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        752,
        1168
      ],
      "id": "1d292e42-ab33-4721-862b-8e988367b347",
      "name": "Respond to Webhook51"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "lote_id",
              "value": "={{ $json.query.lote_id}}",
              "type": "string"
            },
            {
              "id": "e79af6bd-1ef9-45c4-a838-9edb25beedc4",
              "name": "categoria_id",
              "value": "={{ $json.query.categoria_id}}",
              "type": "string"
            },
            {
              "id": "7b59b655-0aa7-4bf1-a3d5-f054ebdbbfca",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        992
      ],
      "id": "6cd7fd76-d709-4375-85dc-02bf5ce33c73",
      "name": "EditarContaRece_parce"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "lote_id",
              "value": "={{ $json.body.lote_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        1168
      ],
      "id": "109d29ad-9a0f-4c34-9c35-24602b115de9",
      "name": "Excluircontareceberparce"
    },
    {
      "parameters": {
        "path": "conta_receber_parcelado",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        992
      ],
      "id": "b1a9ed04-942a-4837-b9c0-4bf1b31b823e",
      "name": "ReceberParcelado",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirparcelasreceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        1168
      ],
      "id": "c0848910-d7d9-4a56-96a6-8e3d84d53d2f",
      "name": "ExcluiParcelaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_receber   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    lote_id = {{ $json.lote_id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        1168
      ],
      "id": "68fedbe2-b5b0-488f-847a-6cbb28e5a11c",
      "name": "ExcluiConta_a_receber1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        64
      ],
      "id": "0076d78e-4bcd-43a3-867b-47ccd14d4571",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "InsereContaReber": {
      "main": [
        [
          {
            "node": "EditContaReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditContaReceber": {
      "main": [
        [
          {
            "node": "ff_registrar_conta_receber_com_parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_conta_receber_com_parcelas": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarContaReceber": {
      "main": [
        [
          {
            "node": "EdContareceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EdContareceber": {
      "main": [
        [
          {
            "node": "ff_consultar_contas_receber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_consultar_contas_receber": {
      "main": [
        [
          {
            "node": "Respond to Webhook32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiContaReceber": {
      "main": [
        [
          {
            "node": "ExcluircontaReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluircontaReceber": {
      "main": [
        [
          {
            "node": "ExcluiConta_a_receber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiConta_a_receber": {
      "main": [
        [
          {
            "node": "Respond to Webhook42",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaReceber": {
      "main": [
        [
          {
            "node": "EditaaContaReceberr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaaContaReceberr": {
      "main": [
        [
          {
            "node": "SalvaContaReceber1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaReceber1": {
      "main": [
        [
          {
            "node": "Respond to Webhook43",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContaReceber": {
      "main": [
        [
          {
            "node": "EditarContaRecebe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaRecebe": {
      "main": [
        [
          {
            "node": "ConsulaConaReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsulaConaReceber": {
      "main": [
        [
          {
            "node": "Respond to Webhook44",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parcelamento1": {
      "main": [
        [
          {
            "node": "Respond to Webhook50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaRece_parce": {
      "main": [
        [
          {
            "node": "Parcelamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluircontareceberparce": {
      "main": [
        [
          {
            "node": "ExcluiConta_a_receber1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReceberParcelado": {
      "main": [
        [
          {
            "node": "EditarContaRece_parce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiParcelaReceber": {
      "main": [
        [
          {
            "node": "Excluircontareceberparce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiConta_a_receber1": {
      "main": [
        [
          {
            "node": "Respond to Webhook51",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook41",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e07214b3-e2c3-47bf-b880-ee15e75bb495",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "Y7h5kLw0DDEos2q3",
  "tags": []
}