n8n_files/FinanceFlowTributos.json
{
  "name": "FinanceFlowTributos",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        256,
        -16
      ],
      "id": "012d7b0d-8631-48b1-a803-d4c04543c11f",
      "name": "Respond to Webhook28"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "0666945b-bf29-4e01-96fd-c576bbb33f80",
              "name": "data_inicio",
              "value": "={{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "be293112-684a-4018-8725-f24be9beedf3",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -16
      ],
      "id": "9992e58e-c01b-43de-9e13-137f199601e4",
      "name": "Editflxcaixamensal1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apurar_tributos_periodo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -16
      ],
      "id": "69f0bf99-6f55-4830-b556-434abac53339",
      "name": "ApuracaoTributos",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "content": "## Apuração de Triputos\nRelativo a processo de apuração de tributos.",
        "height": 1164,
        "width": 1328,
        "color": 3
      },
      "id": "5487063f-06f9-492a-8405-8d27ea8277d6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n\nSELECT * \nFROM   contab.apurar_tributos_periodo (\n  {{ $json.empresa_id }},\n  '{{ $json.data_inicio }}',\n  '{{ $json.data_fim }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        -16
      ],
      "id": "89a567e5-bc01-46d6-999e-c696936ad17c",
      "name": "apurar_tributos_periodo",
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Editflxcaixamensal1": {
      "main": [
        [
          {
            "node": "apurar_tributos_periodo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ApuracaoTributos": {
      "main": [
        [
          {
            "node": "Editflxcaixamensal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apurar_tributos_periodo": {
      "main": [
        [
          {
            "node": "Respond to Webhook28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9e35b61-16ce-4e2c-8730-961714d9f5b0",
  "meta": {
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "Lh9JS6zoHwDwtRmy",
  "tags": []
}