n8n_files/FinanceFlowFornecedorCliente.json
{
  "name": "FinanceFlowFornecedorCliente",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        112
      ],
      "id": "9dc5836c-f359-4104-9c59-76edc8520753",
      "name": "Respond to Webhook35"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        288
      ],
      "id": "500495d5-5bf7-442f-863c-412bba17ed29",
      "name": "Respond to Webhook36"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        432
      ],
      "id": "f6db28e6-312b-433c-89e8-7666ca9c7c5c",
      "name": "Respond to Webhook38"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        432
      ],
      "id": "c789aed2-d737-453f-845f-610a051e4f1f",
      "name": "EditarTranscartao5"
    },
    {
      "parameters": {
        "content": "## Pessao Forncedor Cliente\nWebhook s relacionados a pewsssoa cliente fornecedor",
        "height": 1036,
        "width": 1232,
        "color": 4
      },
      "id": "1364b083-e677-4b5f-b198-8edeb6cb11de",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "path": "fornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        112
      ],
      "id": "85fe3def-ff5e-4a33-a9b7-63a8a02d784f",
      "name": "ForncededorCliente",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "b0e434d4-9925-47e2-acb2-0d645c9ca347",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        112
      ],
      "id": "b40a457e-dad0-4a8c-90a2-5a96b1d1555e",
      "name": "EditForneCliente"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom pessoa where empresa_id = \n  {{ $json.id_empresa }}  \nand ( tipo = \n  '{{ $json.tipo }}' or '{{ $json.tipo }}' ='ambos');\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        112
      ],
      "id": "46e26043-eab4-4d2a-90de-c36937552eae",
      "name": "ForneceClientePessoa",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "editfornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        288
      ],
      "id": "d01728e6-51f5-414a-b828-fb2925c7a133",
      "name": "EditForneCliente1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        288
      ],
      "id": "a34a64d0-a524-4a2a-80e2-0420f9eaac7d",
      "name": "EditarFroCli1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  \nSELECT \n     *\nFROM pessoa  \nWHERE id = {{ $json.id }}\n  AND empresa_id = {{ $json.id_empresa }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        288
      ],
      "id": "f969bff1-14f8-4cf3-bf1a-c337a241d493",
      "name": "FormFornecedorCliente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        592
      ],
      "id": "740d9846-58c7-4d35-b10f-7364a3d459f2",
      "name": "Respond to Webhook30"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        736
      ],
      "id": "380b4b49-a8c6-40a2-9f97-bde7ed0c4273",
      "name": "Respond to Webhook39"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvafornecedor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        592
      ],
      "id": "4d4c9082-a7a9-4967-a0a7-5b41fa2fad10",
      "name": "SalvaForCli",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pessoa",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_empresa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "cpf_cnpj",
              "fieldValue": "={{ $json.cpf_cnpj }}"
            },
            {
              "fieldId": "rg_ie",
              "fieldValue": "={{ $json.rg_ie }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $json.whatsapp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "endereco",
              "fieldValue": "={{ $json.endereco }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $json.bairro }}"
            },
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $json.cidade }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $json.cep }}"
            },
            {
              "fieldId": "obs",
              "fieldValue": "={{ $json.obs }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        592
      ],
      "id": "8e201a53-bc8e-4ddb-994d-d707e5928571",
      "name": "SalvaForneceClien",
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "cpf_cnpj",
              "value": "={{ $json.body.cpf_cnpj}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "rg_ie",
              "value": "={{ $json.body.rg_ie}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "telefone",
              "value": "={{ $json.body.telefone}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "email",
              "value": "={{ $json.body.email}}",
              "type": "string"
            },
            {
              "id": "f27b116b-79e3-4115-b020-19282f1d0301",
              "name": "endereco",
              "value": "={{ $json.body.endereco}}",
              "type": "string"
            },
            {
              "id": "5b6967a2-a8af-4dd4-bbf1-e979c55b0bc3",
              "name": "bairro",
              "value": "={{ $json.body.bairro}}",
              "type": "string"
            },
            {
              "id": "e7d195ea-f64c-4f92-ac7c-9247afeb7a63",
              "name": "cidade",
              "value": "={{ $json.body.cidade}}",
              "type": "string"
            },
            {
              "id": "1eaf0ca6-ca2b-494a-81dc-9a3e08964f4b",
              "name": "estado",
              "value": "={{ $json.body.estado}}",
              "type": "string"
            },
            {
              "id": "d1d6c68e-b1eb-40fd-8f58-40e75a04bb89",
              "name": "cep",
              "value": "={{ $json.body.cep}}",
              "type": "string"
            },
            {
              "id": "7e056b54-da25-4be0-941d-824af711e0d4",
              "name": "obs",
              "value": "={{ $json.body.obs}}",
              "type": "string"
            },
            {
              "id": "a4f0dceb-7ad8-47a3-bce1-5f687d584030",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        592
      ],
      "id": "9717d6fc-0548-4168-9ed2-3bc3ffbaebca",
      "name": "EditSalvaForneceClien"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "cpf_cnpj",
              "value": "={{ $json.body.cpf_cnpj}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "rg_ie",
              "value": "={{ $json.body.rg_ie}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "telefone",
              "value": "={{ $json.body.telefone}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "email",
              "value": "={{ $json.body.email}}",
              "type": "string"
            },
            {
              "id": "f27b116b-79e3-4115-b020-19282f1d0301",
              "name": "endereco",
              "value": "={{ $json.body.endereco}}",
              "type": "string"
            },
            {
              "id": "5b6967a2-a8af-4dd4-bbf1-e979c55b0bc3",
              "name": "bairro",
              "value": "={{ $json.body.bairro}}",
              "type": "string"
            },
            {
              "id": "e7d195ea-f64c-4f92-ac7c-9247afeb7a63",
              "name": "cidade",
              "value": "={{ $json.body.cidade}}",
              "type": "string"
            },
            {
              "id": "1eaf0ca6-ca2b-494a-81dc-9a3e08964f4b",
              "name": "estado",
              "value": "={{ $json.body.estado}}",
              "type": "string"
            },
            {
              "id": "d1d6c68e-b1eb-40fd-8f58-40e75a04bb89",
              "name": "cep",
              "value": "={{ $json.body.cep}}",
              "type": "string"
            },
            {
              "id": "7e056b54-da25-4be0-941d-824af711e0d4",
              "name": "obs",
              "value": "={{ $json.body.obs}}",
              "type": "string"
            },
            {
              "id": "a4f0dceb-7ad8-47a3-bce1-5f687d584030",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        736
      ],
      "id": "42dcbd18-0dbe-44af-9ee5-b3938cc79da6",
      "name": "EditSalvaForneceClien1"
    },
    {
      "parameters": {
        "tableId": "pessoa",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "cpf_cnpj",
              "fieldValue": "={{ $json.cpf_cnpj }}"
            },
            {
              "fieldId": "rg_ie",
              "fieldValue": "={{ $json.rg_ie }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $json.whatsapp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "endereco",
              "fieldValue": "={{ $json.endereco }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $json.bairro }}"
            },
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $json.cidade }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $json.cep }}"
            },
            {
              "fieldId": "obs",
              "fieldValue": "={{ $json.obs }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        736
      ],
      "id": "bae8d54a-c86d-4083-bee2-6ded7ccaeffa",
      "name": "InsereForneceClien",
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirfornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        432
      ],
      "id": "fef9b2e7-fded-4747-894d-0e84692a65d8",
      "name": "ExcluiForneClie",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \n      \nFROM  pessoa where empresa_id = {{ $json.id_empresa }} and id =   {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        432
      ],
      "id": "811b50ad-3a5b-46b6-a8ba-5989cbe43ecc",
      "name": "ExcluiFornecedorCliente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inserefornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        736
      ],
      "id": "2432e69a-6d76-4c74-b46c-950b1e4b13fb",
      "name": "InsereForCli",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    }
  ],
  "pinData": {},
  "connections": {
    "EditarTranscartao5": {
      "main": [
        [
          {
            "node": "ExcluiFornecedorCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForncededorCliente": {
      "main": [
        [
          {
            "node": "EditForneCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditForneCliente": {
      "main": [
        [
          {
            "node": "ForneceClientePessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForneceClientePessoa": {
      "main": [
        [
          {
            "node": "Respond to Webhook35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditForneCliente1": {
      "main": [
        [
          {
            "node": "EditarFroCli1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarFroCli1": {
      "main": [
        [
          {
            "node": "FormFornecedorCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormFornecedorCliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaForCli": {
      "main": [
        [
          {
            "node": "EditSalvaForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaForneceClien": {
      "main": [
        [
          {
            "node": "Respond to Webhook30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSalvaForneceClien": {
      "main": [
        [
          {
            "node": "SalvaForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSalvaForneceClien1": {
      "main": [
        [
          {
            "node": "InsereForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereForneceClien": {
      "main": [
        [
          {
            "node": "Respond to Webhook39",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiForneClie": {
      "main": [
        [
          {
            "node": "EditarTranscartao5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiFornecedorCliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereForCli": {
      "main": [
        [
          {
            "node": "EditSalvaForneceClien1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e9d2b5ba-4d10-4d51-b8bf-2b980d9816fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "DmjyO837w8bG42qs",
  "tags": []
}