n8n_files/FinanceFlowCategoria.json
{
  "name": "FinanceFlowCategoria",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        160
      ],
      "id": "29f944e8-094d-439a-994c-d3d8f6710f17",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "path": "listacategorias",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        160
      ],
      "id": "538e46b0-56cb-4ad2-826a-96a9727a9281",
      "name": "ListaCategoria",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT *\nFROM categorias_gerenciais\nWHERE empresa_id = {{ $json.id_empresa }}\n  AND (\n        '{{ $json.tipo }}' IS NULL\n        OR  '{{ $json.tipo }}'  = ''\n        OR tipo =  '{{ $json.tipo }}' \n      ) order by nome asc;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        160
      ],
      "id": "5f49244b-d986-4b32-85d1-8824899605ef",
      "name": "categorias_gerenciais",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "9760a669-db8f-4f88-9e81-5242f0e6736c",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        160
      ],
      "id": "8f207de7-01b8-4920-a537-b5b51fc05c0e",
      "name": "categoriaEdit"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 940,
        "width": 1248,
        "color": 5
      },
      "id": "e7e23fb5-5b8b-4d45-ab08-77bbea91622c",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        352
      ],
      "id": "ef8bfa4e-1400-4ca9-9444-4371633e47f1",
      "name": "Respond to Webhook47"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacategoriagerencial",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        352
      ],
      "id": "8a3b90f4-4a4d-4bb5-8f16-9a042d1dd6ec",
      "name": "NovaCategoria",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "b97f031a-5075-4f75-a5a7-7b46fe82da37",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "9fc2c42a-e239-4164-a4be-17228f780432",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        352
      ],
      "id": "a9db7b6f-2d79-4095-9d61-a332ce042993",
      "name": "EditCategoria"
    },
    {
      "parameters": {
        "tableId": "categorias_gerenciais",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.empresa_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "grupo_contabil",
              "fieldValue": "={{ $json.grupo_contabil }}"
            },
            {
              "fieldId": "meu_negocio",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        336
      ],
      "id": "1a079e1c-f0ac-4485-bcca-e55004758784",
      "name": "InsertCategoria",
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        544
      ],
      "id": "10193a32-ff54-440e-ab70-7306d16125ac",
      "name": "Respond to Webhook48"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "b97f031a-5075-4f75-a5a7-7b46fe82da37",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "9fc2c42a-e239-4164-a4be-17228f780432",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "ec18828a-aaac-49cf-8221-7b911808b4fc",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            },
            {
              "id": "c6d68f78-ae12-4be4-9b50-cbab29e8a699",
              "name": "classificacao",
              "value": "={{ $json.body.classificacao }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        544
      ],
      "id": "a5214d76-e69f-429e-9ec0-84a0f9a6fc91",
      "name": "EditSalvaCategoria"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "categorias_gerenciais",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.empresa_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.empresa_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "classificacao",
              "fieldValue": "={{ $json.classificacao }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        544
      ],
      "id": "b0b9a45f-0689-46b5-94fe-662a9cb5ae6c",
      "name": "SalvaCategoria",
      "credentials": {
        "supabaseApi": {
          "id": "rC5LgeRcKghHCrKW",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SalvaCatetoria",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        544
      ],
      "id": "02d1d229-86bd-4550-8228-e301d10d59ff",
      "name": "SalvaCategoria1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        720
      ],
      "id": "64c14ac8-da50-476b-8dc1-4fc8a6e61443",
      "name": "Respond to Webhook49"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from   categorias_gerenciais   where empresa_id = \n  {{ $json.empresa_id }} and id =  {{ $json.id }}  ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        720
      ],
      "id": "417030d1-697a-4790-aa53-4e41e845f661",
      "name": "ListaContas1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "e7da97e7-0b74-40d7-9c04-2c23d167b4c8",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        720
      ],
      "id": "272bc809-b0b5-4b3a-92b4-aba6eb385a41",
      "name": "ListaEdit1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluicontagerencial",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        720
      ],
      "id": "a3140da0-24c1-4d97-a2f8-6c6419bd0251",
      "name": "ExcluiContaGerencial",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  public.ff_insere_categoria_gerencial({{ $json.empresa_id }}, '{{ $json.nome }}','{{ $json.tipo }}' )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        352
      ],
      "id": "c6c4b5d5-6e79-4379-a1a2-405080d16cdc",
      "name": "ff_insere_categoria_gerencial",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "ListaCategoria": {
      "main": [
        [
          {
            "node": "categoriaEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categorias_gerenciais": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categoriaEdit": {
      "main": [
        [
          {
            "node": "categorias_gerenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovaCategoria": {
      "main": [
        [
          {
            "node": "EditCategoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditCategoria": {
      "main": [
        [
          {
            "node": "ff_insere_categoria_gerencial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertCategoria": {
      "main": [
        []
      ]
    },
    "EditSalvaCategoria": {
      "main": [
        [
          {
            "node": "SalvaCategoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCategoria": {
      "main": [
        [
          {
            "node": "Respond to Webhook48",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCategoria1": {
      "main": [
        [
          {
            "node": "EditSalvaCategoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaContas1": {
      "main": [
        [
          {
            "node": "Respond to Webhook49",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaEdit1": {
      "main": [
        [
          {
            "node": "ListaContas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiContaGerencial": {
      "main": [
        [
          {
            "node": "ListaEdit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_insere_categoria_gerencial": {
      "main": [
        [
          {
            "node": "Respond to Webhook47",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d03be958-3aeb-451b-984e-c8d882139d0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "RypbJEjeImV4wrnf",
  "tags": []
}