n8n_files/FinanceFlowTransacoes.json
{
  "name": "FinanceFlowTransacoes",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1232,
        -80
      ],
      "id": "661363b6-ffd7-413c-809f-e0d7594d3c39",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "path": "listalancamentos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        -80
      ],
      "id": "bfd0fd0d-e0ab-4d1a-b9fb-198804746dcd",
      "name": "Lancamento",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4845e432-43eb-497a-9a5b-fdffa48d0ee7",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "091771f1-f61a-4ea5-8e1b-cd26a9810971",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "dc56d54c-e41f-44da-a328-7e9abb3df615",
              "name": "conta_id",
              "value": "={{ $json.query.conta_id}}",
              "type": "string"
            },
            {
              "id": "1f9606bd-e55e-475e-acf0-4a7c0ce08a21",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "619af174-7803-4f51-beba-b814ccf69fb4",
              "name": "categoria_id",
              "value": "={{ $json.query.categoria_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -80
      ],
      "id": "aa1075a0-377b-4a67-818b-f8c01c157100",
      "name": "TransacaoEdit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n  t.id,\n  t.descricao,\n  c.nome AS categoria_nome,\n  f.nome AS conta_nome,\n  t.tipo,\n  t.data_movimento,\n  t.origem,\n  t.valor,\n   t.origem_id,\n   t.evento_codigo\nFROM transacoes t\nLEFT JOIN categorias_gerenciais c \n       ON c.id = t.categoria_id \n      AND c.empresa_id = t.empresa_id\nLEFT JOIN contas_financeiras f \n       ON f.id = t.conta_id\n      AND f.empresa_id = t.empresa_id\nWHERE t.empresa_id = {{ $json.id_empresa }}\n  AND t.data_movimento >= '{{ $json.data_ini }}'\n  AND t.data_movimento <= '{{ $json.data_fim }}' \n  and ( t.conta_id = {{ $json.conta_id }} or {{ $json.conta_id }} = 0)    \n   and  ( categoria_id =  {{ $json.categoria_id }}  or  {{ $json.categoria_id }}  =0 ) \nand    t.origem_id is null \nORDER BY t.data_movimento asc, t.id asc;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        -80
      ],
      "id": "96ab1268-1bb1-45f9-994b-26f1a2c3c96a",
      "name": "Lancamentos",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2CNjdfsJzrRLFqHu",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1264,
        800
      ],
      "id": "28425a6f-7000-486a-a3b4-6abec9c6abd7",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "path": "consultasaldo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        800
      ],
      "id": "038a097c-8b0c-4157-b4e5-ec1259145b02",
      "name": "consultaSaldo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "data_ini",
              "value": "={{ $json.query.inicio}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "data_fim",
              "value": "={{ $json.query.fim}}",
              "type": "string"
            },
            {
              "id": "6eaba913-882f-46c6-9675-66a4c22b3224",
              "name": "conta_id",
              "value": "={{ $json.query.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        800
      ],
      "id": "7a4f5083-12ff-4bd7-b775-0c2fbf07fe9c",
      "name": "SaldoEdit"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1264,
        640
      ],
      "id": "c28af53c-9128-4ba6-9869-6e482fe792a1",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "df442724-bf40-472c-8dec-7478bc410e58",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        640
      ],
      "id": "11f92ed3-6cb6-4835-bdda-7e7cdac9f3b9",
      "name": "SaldoEdit3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contas_financeiras where  empresa_id = {{ $json.id_empresa }} and  id = {{ $json.id }};\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        640
      ],
      "id": "c4af0a06-f4f3-4205-8a94-6e03856831d9",
      "name": "ContasFinanceiras",
      "credentials": {
        "postgres": {
          "id": "2CNjdfsJzrRLFqHu",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  ff_consultar_saldo_periodo(\n  {{ $json.id_empresa }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}',\n  {{ $json.conta_id }}\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        800
      ],
      "id": "5f09e04e-8a38-4175-8363-ba3117566a86",
      "name": "consultar_saldo_periodo",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2CNjdfsJzrRLFqHu",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "retrieveontafinanceira",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        640
      ],
      "id": "48ae86d3-e58b-4a8d-8b29-4f22dd0f9526",
      "name": "RetrieveContaFInanc",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1248,
        464
      ],
      "id": "f7d53b6e-9df3-4e59-a5ad-9bf564d777d9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n  t.id,\n  t.conta_id, \n  t.categoria_id,\n   t.descricao, \n  t.tipo,\n  t.data_movimento,\n  t.origem,\n  t.valor\nFROM transacoes t\n \nWHERE t.empresa_id = {{ $json.id_empresa }}\n  AND t.id = {{ $json.id }} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        464
      ],
      "id": "49f9c93b-f3c0-463b-92b4-171c125b01bd",
      "name": "Lancamentos1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2CNjdfsJzrRLFqHu",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "path": "editlancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        560,
        464
      ],
      "id": "73cb2f15-870e-4214-adfa-b88d34bd5228",
      "name": "EditarLancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        464
      ],
      "id": "e31d96c0-0aa4-4a92-820d-e428c11399d7",
      "name": "EditLancto"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1232,
        288
      ],
      "id": "61efdff5-ceca-417b-bf7e-f4f21502e6ce",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "path": "deleteancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        288
      ],
      "id": "82de4a8f-5f89-4b91-9ead-75271d375a63",
      "name": "DeliteLancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        288
      ],
      "id": "a7099197-e866-4f99-8379-a75447113d10",
      "name": "Deletelancto"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1232,
        128
      ],
      "id": "92e7426a-3bc7-4bf5-8b43-c96258b78fe9",
      "name": "Respond to Webhook15"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "updatelancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        128
      ],
      "id": "8deb0497-5fa2-4743-ad1d-d2dee6f46626",
      "name": "UpdateLancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "transacoes",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id}} "
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_empresa}} "
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conta_id",
              "fieldValue": "={{ $json.conta_id }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.categoria_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": "data_movimento",
              "fieldValue": "={{ $json.data_movimento }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.descricao }}"
            },
            {
              "fieldId": "origem",
              "fieldValue": "={{ $json.origem }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        128
      ],
      "id": "d45637bc-d467-418f-811b-b82604126f7b",
      "name": "UpdateLancto1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GfCFzcpZSxkxWy1M",
          "name": "FinanceFlow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            },
            {
              "id": "49a5a239-cb38-4ead-8965-5ea655900d3c",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "dd4a2a9b-76e3-4e82-a3e3-d8d9a6b3b0f3",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "a2e92c4c-9f4d-434d-9b88-03ac77969ff6",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "37f90cdc-fd8e-4e63-93f4-965f853e64e5",
              "name": "data_movimento",
              "value": "={{ $json.body.data_movimento}}",
              "type": "string"
            },
            {
              "id": "965a678e-d4e3-4126-a08b-65193391b3a5",
              "name": "origem",
              "value": "={{ $json.body.origem}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        128
      ],
      "id": "dd5886bb-dc39-4099-bbe5-0c0fa0f2fab8",
      "name": "Editlanct"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1196,
        "width": 1312,
        "color": 3
      },
      "id": "7644eaea-6a0d-4883-b322-6ea30afcbcd8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " delete \nFROM transacoes   \nWHERE empresa_id = {{ $json.id_empresa }}\n  AND id = {{ $json.id }} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        288
      ],
      "id": "7e1da45a-0043-42c9-9aad-46f37f2161f2",
      "name": "DeleteLancto",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2CNjdfsJzrRLFqHu",
          "name": "FinanceFlow"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lancamento": {
      "main": [
        [
          {
            "node": "TransacaoEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransacaoEdit": {
      "main": [
        [
          {
            "node": "Lancamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lancamentos": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultaSaldo": {
      "main": [
        [
          {
            "node": "SaldoEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaldoEdit": {
      "main": [
        [
          {
            "node": "consultar_saldo_periodo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaldoEdit3": {
      "main": [
        [
          {
            "node": "ContasFinanceiras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasFinanceiras": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_saldo_periodo": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetrieveContaFInanc": {
      "main": [
        [
          {
            "node": "SaldoEdit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lancamentos1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarLancto": {
      "main": [
        [
          {
            "node": "EditLancto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditLancto": {
      "main": [
        [
          {
            "node": "Lancamentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeliteLancto": {
      "main": [
        [
          {
            "node": "Deletelancto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletelancto": {
      "main": [
        [
          {
            "node": "DeleteLancto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLancto": {
      "main": [
        [
          {
            "node": "Editlanct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLancto1": {
      "main": [
        [
          {
            "node": "Respond to Webhook15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editlanct": {
      "main": [
        [
          {
            "node": "UpdateLancto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeleteLancto": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b23e585-2041-4171-900a-f000101df1c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "EZHn2ZAaICpQcvj5",
  "tags": []
}