n8n_files/FlowTransacao.json
{
  "name": "FlowTransacao",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "string"
            },
            {
              "id": "03e9c46a-0444-41d9-97af-93245605fe79",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "a60a91bf-26b8-4a5e-89f3-9b9a88261afe",
              "name": "conta",
              "value": "={{ $json.body.conta}}",
              "type": "string"
            },
            {
              "id": "089dd36c-f804-400a-9ad4-6bdb0e824caf",
              "name": "categoria",
              "value": "={{ $json.body.categoria}}",
              "type": "string"
            },
            {
              "id": "d1d7d5e0-4756-4001-a87b-b026c482568e",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "99d8e470-89a7-4ca9-851d-e660846a6f8f",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "1785aef6-9777-492f-a1c4-bbf34872bd03",
              "name": "data",
              "value": "={{ $json.body.data}}",
              "type": "string"
            },
            {
              "id": "b41051f0-d6e3-408b-8a63-bf3debcce6b2",
              "name": "origem",
              "value": "={{ $json.body.origem}}",
              "type": "string"
            },
            {
              "id": "7f15c97f-9b29-4d9e-bb17-8a48048d3caf",
              "name": "classificacao",
              "value": "={{ $json.body.classificacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        304
      ],
      "id": "0eb6c09f-1262-4c2c-b592-089259bf2cc1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1dd2b61-d8dc-477c-97e5-0eda8863c8e6",
              "leftValue": "={{ $('Edit Fields').item.json.tipo }}",
              "rightValue": "saida",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        304
      ],
      "id": "308e19d4-59a9-4eea-9dcc-67d507e6ba07",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novolancamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        304
      ],
      "id": "9b6e4e4a-f918-4d18-8676-d9bce169b8bd",
      "name": "NovoLancamento",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  select * from ff_registrar_despesa(\n   {{ $('Edit Fields').item.json.id_empresa }},\n  {{ $('Edit Fields').item.json.conta }},\n   {{ $json.categoria }},null, null,\n    {{ $('Edit Fields').item.json.valor }},\n  '{{ $('Edit Fields').item.json.descricao }}'\n  ,'{{ $('Edit Fields').item.json.data }}' ,\n    '{{ $json.origem }}', '{{ $json.classificacao }}'\n   \n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        144
      ],
      "id": "9834a904-c399-4084-bfd8-80df8747c8ce",
      "name": "registrar_despesa",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  select * from ff_registrar_receita (\n   {{ $('Edit Fields').item.json.id_empresa }},\n  {{ $('Edit Fields').item.json.conta }},\n   {{ $json.categoria }},null, null,\n    {{ $('Edit Fields').item.json.valor }},\n  '{{ $('Edit Fields').item.json.descricao }}'\n  ,'{{ $('Edit Fields').item.json.data }}' ,\n    '{{ $json.origem }}', '{{ $json.classificacao }}'\n   \n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        416
      ],
      "id": "b2802f08-32e1-4a34-85a7-cef21a6cb23c",
      "name": "registrar_receita",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1184,
        256
      ],
      "id": "6238f6fb-c8a3-4be3-8e95-3eebba7e3e5b",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "content": "## Carregar c칩pia de seguran칞a\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no reposit칩rio antes. Se sim (true), carregue a nova vers칚o do arquivo. Caso contr치rio (false) crie o arquivo no reposit칩rio.",
        "height": 732,
        "width": 1472,
        "color": 5
      },
      "id": "1b80dfd5-14a9-4f74-9975-06cb57ee3c0d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 游댠 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 游댠 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Opera칞칚o realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        144
      ],
      "id": "9e881456-22d2-4518-be95-0ea5927ce434",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 游댠 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 游댠 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Opera칞칚o realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        416
      ],
      "id": "c5a2faf7-f993-430c-b456-daf8a6f92582",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "id_empresa": null,
          "tipo": "saida",
          "conta": null,
          "categoria": null,
          "valor": null,
          "descricao": null,
          "data": null,
          "origem": null,
          "classificacao": null
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "registrar_despesa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "registrar_receita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovoLancamento": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_despesa": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_receita": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cd99ff5b-59e7-4fb0-91eb-a52998a303cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "jaCOUUgt6hlpnWB7",
  "tags": []
}