n8n_files/FlowTransacao.json
{
  "name": "FlowTransacao",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "string"
            },
            {
              "id": "03e9c46a-0444-41d9-97af-93245605fe79",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "a60a91bf-26b8-4a5e-89f3-9b9a88261afe",
              "name": "conta",
              "value": "={{ $json.body.conta}}",
              "type": "string"
            },
            {
              "id": "089dd36c-f804-400a-9ad4-6bdb0e824caf",
              "name": "categoria",
              "value": "={{ $json.body.categoria}}",
              "type": "string"
            },
            {
              "id": "d1d7d5e0-4756-4001-a87b-b026c482568e",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "99d8e470-89a7-4ca9-851d-e660846a6f8f",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "1785aef6-9777-492f-a1c4-bbf34872bd03",
              "name": "data",
              "value": "={{ $json.body.data}}",
              "type": "string"
            },
            {
              "id": "b41051f0-d6e3-408b-8a63-bf3debcce6b2",
              "name": "origem",
              "value": "={{ $json.body.origem}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        304
      ],
      "id": "ad99be65-1f0a-478f-be35-70a3f57710b9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1dd2b61-d8dc-477c-97e5-0eda8863c8e6",
              "leftValue": "={{ $('Edit Fields').item.json.tipo }}",
              "rightValue": "saida",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        304
      ],
      "id": "f3221227-e5c7-428d-a789-c1e6aa9d4ad4",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novolancamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        304
      ],
      "id": "b98ce4b4-0adc-488f-9f03-1a997b0aab33",
      "name": "NovoLancamento",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  select * from ff_registrar_despesa(\n   {{ $('Edit Fields').item.json.id_empresa }},\n  {{ $('Edit Fields').item.json.conta }},\n   {{ $json.categoria }},null, null,\n    {{ $('Edit Fields').item.json.valor }},\n  '{{ $('Edit Fields').item.json.descricao }}'\n  ,'{{ $('Edit Fields').item.json.data }}' ,\n    '{{ $json.origem }}'\n   \n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        144
      ],
      "id": "b8797356-7f1f-4e15-ae63-d915fcb83b0c",
      "name": "registrar_despesa",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  select * from ff_registrar_receita (\n   {{ $('Edit Fields').item.json.id_empresa }},\n  {{ $('Edit Fields').item.json.conta }},\n   {{ $json.categoria }},null, null,\n    {{ $('Edit Fields').item.json.valor }},\n  '{{ $('Edit Fields').item.json.descricao }}'\n  ,'{{ $('Edit Fields').item.json.data }}' ,\n    '{{ $json.origem }}'\n   \n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        416
      ],
      "id": "8a104590-3be9-4f94-9872-2e6dfdeb696a",
      "name": "registrar_receita",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1184,
        256
      ],
      "id": "482f5e34-d549-4912-9e84-520cbadec44f",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "content": "## Carregar c칩pia de seguran칞a\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no reposit칩rio antes. Se sim (true), carregue a nova vers칚o do arquivo. Caso contr치rio (false) crie o arquivo no reposit칩rio.",
        "height": 732,
        "width": 1472,
        "color": 5
      },
      "id": "b3f0a945-8f93-4c82-926d-7c1eec405370",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 游댠 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 游댠 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Opera칞칚o realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        144
      ],
      "id": "d7608e54-fd0a-45de-b44a-68197b7e567c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 游댠 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 游댠 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Opera칞칚o realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        416
      ],
      "id": "b8c62fa1-f3b0-40e1-8598-9d2cd6696989",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "registrar_despesa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "registrar_receita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovoLancamento": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_despesa": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_receita": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4df4e8f1-14b4-4710-8eb2-95698b350a81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "uaWS1lWi8UFJTaj2",
  "tags": []
}