n8n_files/ProcessaDIarioContabil.json
{
  "name": "ProcessaDIarioContabil",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        240
      ],
      "id": "e6cc82dc-5a02-4c37-add1-f6b88cfff482",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        64
      ],
      "id": "e865886d-4247-49f2-843b-5d29b23891cb",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "## Diário",
        "height": 1516,
        "width": 1280,
        "color": 3
      },
      "id": "861eac6f-b063-4cf6-843b-7e19ba8a8c0b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar_staging",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        64
      ],
      "id": "ad04cdec-7c47-4765-ae51-b12ebbaa258e",
      "name": "GeraStaging",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            },
            {
              "id": "84d4691f-07a7-48da-85b9-ad6557a565a7",
              "name": "data_ini",
              "value": "= {{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "e652a562-a4ac-4eba-ae02-bef31ce39227",
              "name": "data_fim",
              "value": "= {{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        64
      ],
      "id": "ac471cef-8b08-47df-ab13-2c58e71c1d75",
      "name": "EditStaging"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from  contab.ff_gerar_diario_tudo ( {{ $json.empresa_id }},'{{ $json.data_ini }}','{{ $json.data_fim }}') ;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        64
      ],
      "id": "091814be-fe79-45c7-844b-80eb284aaeb4",
      "name": "ff_gerar_diario_tudo",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consolidar_diario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        240
      ],
      "id": "e6522479-14e0-49af-abf4-c13e26df5327",
      "name": "ConsolidaDiario",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        240
      ],
      "id": "0f590bf6-6202-4435-84d6-ca689757ae05",
      "name": "EditDelLote1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  contab.ff_consolidar_diario_staging({{ $json.empresa_id }});\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        240
      ],
      "id": "c6607975-044f-4676-9db1-0adcfb61861f",
      "name": "ff_consolidar_diario_staging",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        592
      ],
      "id": "8be64d8d-f85e-4d4e-8385-7e39c65f1842",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "path": "ultimo_processamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        592
      ],
      "id": "4fc14c1d-37f0-45f7-a292-4bbe29734750",
      "name": "Ultimo_process",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        592
      ],
      "id": "eb0f9b79-eed6-4296-893f-9595f3ab6148",
      "name": "EditUltimo_process"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from contab.controle_fechamento  where empresa_id =  {{ $json.empresa_id }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        592
      ],
      "id": "66404e92-79b2-4ac1-a23a-871afd95d276",
      "name": "Ultimo_processamento",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        416
      ],
      "id": "291a3f0b-e171-4ccb-b8b2-f54b63049f9f",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            },
            {
              "id": "84d4691f-07a7-48da-85b9-ad6557a565a7",
              "name": "data_ini",
              "value": "= {{ $json.body.data_ini}}",
              "type": "string"
            },
            {
              "id": "e652a562-a4ac-4eba-ae02-bef31ce39227",
              "name": "data_fim",
              "value": "= {{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        416
      ],
      "id": "25640ef1-a0ce-43d9-a9a6-0de890df003f",
      "name": "EditStaging1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  contab.ff_gerar_contabil_final ( {{ $json.empresa_id }},'{{ $json.data_ini }}','{{ $json.data_fim }}') ;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        416
      ],
      "id": "06f62815-1c88-49ac-970c-43c7fa57fc4b",
      "name": "ff_gerar_contabil_final",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        784
      ],
      "id": "d650f846-5d5d-4c42-a46b-c0eb11ba568d",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        784
      ],
      "id": "9643c94a-5f8c-4612-aaa0-81cbf3e3016b",
      "name": "EditUltimo_process1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \nCALL contab.sp_reset_contabil_desde_data(1);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        784
      ],
      "id": "71220654-f483-4ad0-8b38-2b95465072d5",
      "name": "Ultimo_processamento1",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voltadata",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        784
      ],
      "id": "40f4d7ef-6492-4af9-ba91-37e2ffd3eb21",
      "name": "voltadiaroo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar_contabil",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        416
      ],
      "id": "a15a8e7f-c7d2-4a55-a313-378bb6deec48",
      "name": "geractbfinal",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1072,
        960
      ],
      "id": "1b1f32a1-9a4a-460c-9c78-e2b51b56e678",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            },
            {
              "id": "e9b5eb72-5abd-4439-a777-7a9bd194dab8",
              "name": "lote_id",
              "value": "={{ $json.body.lote_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        960
      ],
      "id": "942f7ba2-e743-4b56-9868-de1cf7ab098a",
      "name": "EditUltimo_process2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  contab.ff_excluir_lancamentos_lote( \n {{ $json.empresa_id }}, {{ $json.lote_id }})",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        960
      ],
      "id": "ac0e4b58-92d3-4bd2-a5f1-c634a05ccf76",
      "name": "Ultimo_processamento2",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluilanctolote",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        960
      ],
      "id": "9c3b89c4-b009-4caf-a01d-dfe61fa7ee19",
      "name": "ExcluiLanctoLote",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        960
      ],
      "id": "d05b9c8b-33fd-4daa-ab9f-160f732a88f0",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1072,
        1184
      ],
      "id": "2f503b0d-8d9e-4312-bdb5-2863c8ca7e0e",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1184
      ],
      "id": "c3391758-28eb-4241-bc57-004a64b74ac6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            },
            {
              "id": "e9b5eb72-5abd-4439-a777-7a9bd194dab8",
              "name": "ano",
              "value": "={{ $json.body.ano}}",
              "type": "string"
            },
            {
              "id": "bdbb44c8-dbc8-4161-be77-cfa6dfc5220f",
              "name": "mes",
              "value": "={{ $json.body.mes}}",
              "type": "string"
            },
            {
              "id": "68201ad3-ee37-444d-98ef-55ba2922ae60",
              "name": "usuario",
              "value": "={{ $json.body.usuario}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1184
      ],
      "id": "03de38e1-d940-466e-bfa2-f355f0b12ec1",
      "name": "Edit_Aputracao"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  contab.ff_fechar_mes( \n {{ $json.empresa_id }}, {{ $json.ano }} ,  {{ $json.mes }}, {{ $json.usuario }}  )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        1184
      ],
      "id": "773908f0-5a08-4e22-90d7-330bd8b8158d",
      "name": "ff_fechar_mes",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apuracao_resultado",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        1184
      ],
      "id": "bf6d6fa3-3dfa-417d-a570-262bfaf49a8e",
      "name": "Apura Resultado DRE contabil",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1072,
        1376
      ],
      "id": "42e10467-66ce-4b2d-acb3-ff75d675ba93",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1376
      ],
      "id": "69df3092-132e-4d31-8b7d-45a1df9d032b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9979082e-9a0e-48c7-a643-b189cf149b01",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1376
      ],
      "id": "2b3d9588-7a61-4386-8f7c-f288ea4a989e",
      "name": "Edit_Aputracao1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ultima_apuracao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        1376
      ],
      "id": "a7d9dea8-ca92-4503-8649-3f8faf7937b5",
      "name": "Apura Resultado DRE contabil1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT\n  EXTRACT(YEAR FROM l.data_mov)::int  AS ano,\n  EXTRACT(MONTH FROM l.data_mov)::int AS mes,\n  l.data_mov                           AS data_apuracao,\n  (l.debito - l.credito)::numeric(14,2) AS resultado\nFROM contab.lancamentos l\nJOIN contab.contas c ON c.id = l.conta_id\nWHERE l.empresa_id =  {{ $json.empresa_id }}\n  AND c.codigo = '3.2.1.01'\n  AND l.historico ILIKE 'Fechamento do mês%'\nORDER BY l.data_mov DESC\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        1376
      ],
      "id": "caa9e245-51c0-4af0-bf0d-42eb6bbbc976",
      "name": "UltimoResultado",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "XLdUjmOBeD6MkxJ4",
          "name": "FinanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "EditUltimo_process2": [
      {
        "json": {
          "empresa_id": 1,
          "lote_id": 22
        }
      }
    ]
  },
  "connections": {
    "GeraStaging": {
      "main": [
        [
          {
            "node": "EditStaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditStaging": {
      "main": [
        [
          {
            "node": "ff_gerar_diario_tudo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_gerar_diario_tudo": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsolidaDiario": {
      "main": [
        [
          {
            "node": "EditDelLote1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditDelLote1": {
      "main": [
        [
          {
            "node": "ff_consolidar_diario_staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_consolidar_diario_staging": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ultimo_process": {
      "main": [
        [
          {
            "node": "EditUltimo_process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditUltimo_process": {
      "main": [
        [
          {
            "node": "Ultimo_processamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ultimo_processamento": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditStaging1": {
      "main": [
        [
          {
            "node": "ff_gerar_contabil_final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_gerar_contabil_final": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditUltimo_process1": {
      "main": [
        [
          {
            "node": "Ultimo_processamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ultimo_processamento1": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "voltadiaroo": {
      "main": [
        [
          {
            "node": "EditUltimo_process1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "geractbfinal": {
      "main": [
        [
          {
            "node": "EditStaging1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditUltimo_process2": {
      "main": [
        [
          {
            "node": "Ultimo_processamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ultimo_processamento2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiLanctoLote": {
      "main": [
        [
          {
            "node": "EditUltimo_process2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_Aputracao": {
      "main": [
        [
          {
            "node": "ff_fechar_mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_fechar_mes": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apura Resultado DRE contabil": {
      "main": [
        [
          {
            "node": "Edit_Aputracao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_Aputracao1": {
      "main": [
        [
          {
            "node": "UltimoResultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apura Resultado DRE contabil1": {
      "main": [
        [
          {
            "node": "Edit_Aputracao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UltimoResultado": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1d8ea88-3437-465a-bb8e-b33302fb52f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ad269e5ed8d3b4685167408bbbe03e6a154b6945c16284e8864807e278e62f"
  },
  "id": "4DJye6W7us2cmEQu",
  "tags": []
}