n8n_files/Saas_vendas.json
{
  "name": "Saas_vendas",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2560,
        80
      ],
      "id": "d15f99f8-3a75-4eca-9fbb-6c3ad7e61fda",
      "name": "Respond to Webhook16"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check_assinatura",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1888,
        80
      ],
      "id": "a37b8a6a-d47e-4558-88c5-491093129a36",
      "name": "ChecaAssinatura",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        80
      ],
      "id": "fbd6675c-3553-4ff0-9cf1-9df851610b86",
      "name": "Editproc_check_acesso"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   saas_vendas.proc_check_assinatura ({{ $json.empresa_id }})",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2336,
        80
      ],
      "id": "f21d48a7-3280-41b6-adb3-b8f031548e6d",
      "name": "proc_check_assinatura",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "content": "##DadosAssinatura\n**  Verifica assinatura e cria assinaturas",
        "height": 640,
        "width": 1584,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1648,
        16
      ],
      "id": "56a8dbed-87d9-479a-9b07-03e72fea281f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2752,
        272
      ],
      "id": "6e0ca11d-6342-44f2-becc-9094d05b12d1",
      "name": "Respond to Webhook17"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fechar_assinatura",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1888,
        272
      ],
      "id": "3a92b3b5-560a-43fc-89ea-2943ef112687",
      "name": "FechaAssinatura",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            },
            {
              "id": "41a8ad23-3579-4074-9f21-c6047b9e130a",
              "name": "plano_id",
              "value": "={{ $json.body.plano_id}}",
              "type": "string"
            },
            {
              "id": "07184290-a79d-40a1-b7be-d50234a8dcde",
              "name": "forma_pagamento",
              "value": "={{ $json.body.forma_pagamento}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        272
      ],
      "id": "7cd8f216-5731-4f4a-a8d1-154319446e82",
      "name": "Edit_FechaAssinatura"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from    saas_vendas.proc_fechar_assinatura ({{ $json.empresa_id }}, {{ $json.plano_id }},  '{{ $json.forma_pagamento }}'  )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2352,
        272
      ],
      "id": "c1d659d4-0724-4202-9512-831d319b6d8a",
      "name": "proc_fechar_assinatura",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2560,
        464
      ],
      "id": "d0f1e3d4-c691-489c-804f-1d5dddb7b99a",
      "name": "Respond to Webhook18"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "historico_assinatura",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1888,
        464
      ],
      "id": "acbbdca1-3288-4887-9515-56386ae78d21",
      "name": "minhas assinaturas",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        464
      ],
      "id": "cbf6d49e-ad95-45d6-bbbb-2971efe7270c",
      "name": "Edit_historico_assinatura"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n// 🔥 1) DETECTA ERRO (Postgres mandou objeto com error)\nif (item?.error) {\n  return [\n    {\n      json: { \n      \n        ok: false,\n        message: $input.first().json.message|| \"Erro desconhecido\",\n        details:$input.first().json.error.description || null,\n        responseCode: 400\n    \n      }\n    }\n  ];\n}\n\n// 🔥 2) DETECTA SUCESSO (Postgres retornou array normal)\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"Operação realizada com sucesso\",\n      responseCode: 200,\n      data: item || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        272
      ],
      "id": "27c629a0-9217-4da5-91b6-282546ef2579",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        32
      ],
      "id": "9db79648-4c02-4f4a-971e-17078c1d64f2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta_empresas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        32
      ],
      "id": "22f32ef5-3961-4658-b1cf-6811b90621dd",
      "name": "ConsultaEmpresa",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from    public.empresas",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        32
      ],
      "id": "e22a77e1-017d-4c3a-acaa-e63414fdae4c",
      "name": "Empresas",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from    saas_vendas.assinaturas as a inner join saas_vendas.planos as p on p.id =a.plano_id  where empresa_id = {{ $json.empresa_id }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2336,
        464
      ],
      "id": "4dec8536-997f-41c5-a007-82912c32867f",
      "name": "Historico_Assinaturas",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        224
      ],
      "id": "586bf353-fcdc-45df-afc9-0b655cda6bbf",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            },
            {
              "id": "491bc54b-c92d-48a2-a262-b34c9f6e5210",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            },
            {
              "id": "ce052aca-bb7b-4ecf-9858-5d86f049c6dc",
              "name": "forma",
              "value": "={{ $json.body.forma}}",
              "type": "string"
            },
            {
              "id": "0a7caf4f-0177-4448-ad64-61e26cb66c9d",
              "name": "data_inicio",
              "value": "={{ $json.body.data_inicio}}",
              "type": "string"
            },
            {
              "id": "640b9d03-5211-44fa-b882-f48947273071",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        224
      ],
      "id": "8ae44907-9ce7-48f0-b3d0-1be5a708dd12",
      "name": "Edit_historico_assinatura1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta_assinaturas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        336,
        224
      ],
      "id": "63b166f3-a98e-4d41-b4d2-6e313e74e62e",
      "name": "AssinaturaAdmin",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        384
      ],
      "id": "464ea763-0a5a-4535-8891-31f4eab5e3ef",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  saas_vendas.consulta_assinaturas (\n {{ $json.empresa_id }} ,\n '{{ $json.status }}',\n '{{ $json.forma }}',\n   '{{ $json.data_inicio }}',\n  '{{ $json.data_fim }}'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        224
      ],
      "id": "f597a961-c5e5-42b7-bc35-f814dabfd4d5",
      "name": "AssinaturasAdmin",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta_cobrancas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        336,
        384
      ],
      "id": "f10b91bd-affe-40b5-8994-235fe70efb3b",
      "name": "CobrançaAdmin",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            },
            {
              "id": "491bc54b-c92d-48a2-a262-b34c9f6e5210",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            },
            {
              "id": "ce052aca-bb7b-4ecf-9858-5d86f049c6dc",
              "name": "forma",
              "value": "={{ $json.body.forma}}",
              "type": "string"
            },
            {
              "id": "0a7caf4f-0177-4448-ad64-61e26cb66c9d",
              "name": "data_inicio",
              "value": "={{ $json.body.data_inicio}}",
              "type": "string"
            },
            {
              "id": "640b9d03-5211-44fa-b882-f48947273071",
              "name": "data_fim",
              "value": "={{ $json.body.data_fim}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        384
      ],
      "id": "9b6e53c4-8672-4b68-94ae-993e5f659498",
      "name": "Edit_Cobranca"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.id, c.competencia, c.valor, c.data_vencimento, a.status, c.status status_cobranca, p.nome, e.nome as empresa_nome, e.tipo, forma_pagamento,descricao, valor_mensal   from  saas_vendas.cobrancas AS c  \n  inner join public.empresas as e on e.id = c.empresa_id \n  inner join  saas_vendas.assinaturas as a \n  on e.id = a.empresa_id AND\n     a.id = c.assinatura_id \n\n inner join  saas_vendas.planos as p\n  on p.id = a.plano_id  \n   ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        384
      ],
      "id": "c0a24b01-313b-439d-b80a-c3189e5a98cd",
      "name": "Cobranca",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "##Administracao SAAS_VENDAS\n** Assinaturas,  cobranças e pagamentos",
        "height": 672,
        "width": 1584,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b9e00711-29ff-453b-9475-2d1588ba7d71",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        544
      ],
      "id": "595e7081-8917-43a4-8eac-d75762a935d7",
      "name": "Respond to Webhook21"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagamentos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        352,
        544
      ],
      "id": "17cb1b69-3fce-4756-853b-15821dffc2e8",
      "name": "Pagamentos",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "string"
            },
            {
              "id": "ce052aca-bb7b-4ecf-9858-5d86f049c6dc",
              "name": "meio_pagamento",
              "value": "={{ $json.body.meio_pagamento}}",
              "type": "string"
            },
            {
              "id": "0a7caf4f-0177-4448-ad64-61e26cb66c9d",
              "name": "data_pagamento",
              "value": "={{ $json.body.data_pagamento}}",
              "type": "string"
            },
            {
              "id": "518a0ad0-1dac-4527-a902-ef66e756c8e3",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        544
      ],
      "id": "78b37ae9-4072-4e7c-b8b6-c44456ddc3b5",
      "name": "Edit_pagamentos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT *\nFROM saas_vendas.pagamentos p\nINNER JOIN public.empresas e\n  ON e.id = p.empresa_id\nWHERE\n  (\n    '{{ $json.empresa_id }}' = ''\n    OR p.empresa_id = {{ $json.empresa_id }}\n  )\n\n  AND (\n    '{{ $json.meio_pagamento }}' = ''\n    OR p.meio_pagamento = '{{ $json.meio_pagamento }}'\n  )\n\n  AND (\n  '{{ $json.data_pagamento }}' = ''\n  OR p.data_pagamento::date <= '{{ $json.data_pagamento }}'::date\n)  AND (\n    '{{ $json.status}}' = ''\n    OR p.status_gateway= '{{ $json.status}}'\n  )          ;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        544
      ],
      "id": "54c35722-7f37-4bc8-b9b3-2b91c76fa9c1",
      "name": "Sqlpagamentos",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "##Administracao SAAS_VENDAS\n** DashBoard\n",
        "height": 672,
        "width": 1584,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        816
      ],
      "id": "9820e89c-3874-43a5-abdc-b788316e1fa3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        880
      ],
      "id": "24fad949-ccf3-43d9-8102-618fcb9a5b7f",
      "name": "Respond to Webhook22"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashbord_card",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        432,
        880
      ],
      "id": "d2d90187-ddb0-4b1b-8221-94991755d519",
      "name": "DashBoard",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * FROM saas_vendas.dashboard_cards   ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        880
      ],
      "id": "b18e2c1c-35d3-49d8-affb-599415b30167",
      "name": "DashBoarCarsSql",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        1088
      ],
      "id": "a22bfe38-8af0-4f5a-9e45-3c8a8e6f982a",
      "name": "Respond to Webhook23"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        1296
      ],
      "id": "be8f2eaf-5d1d-4d11-b979-ac2f45e93767",
      "name": "Respond to Webhook24"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT * FROM saas_vendas.dashboard_alertas;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        1296
      ],
      "id": "14f6e943-d48f-49b0-850d-ff3e5f05dee7",
      "name": "DashBoardVencendo",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard_vencendo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        416,
        1296
      ],
      "id": "13a583c1-d78a-4ec4-9a74-8e08a5bd5f9e",
      "name": "DashVecendo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard_graficos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        400,
        1088
      ],
      "id": "77608b25-a57d-42cd-8910-fc6d954b619f",
      "name": "DashGraficos",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT\n  (SELECT json_agg(t) FROM saas_vendas.dashboard_grafico_faturamento_mensal t)      AS faturamento_mensal,\n  (SELECT json_agg(t) FROM saas_vendas.dashboard_grafico_assinaturas_mes t)          AS assinaturas_mes,\n  (SELECT json_agg(t) FROM saas_vendas.dashboard_grafico_cobrancas_status t)         AS cobrancas_status,\n  (SELECT json_agg(t) FROM saas_vendas.dashboard_grafico_inadimplencia_mes t)        AS inadimplencia_mes;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        1088
      ],
      "id": "46ba3873-d54a-44b9-9f49-43d39b0950cd",
      "name": "DashBoarGrafico",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "##Administracao SAAS_VENDAS\n** DashBoard\n",
        "height": 672,
        "width": 1584,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1696,
        800
      ],
      "id": "00c1f8f2-acff-4318-ac36-84867eb6f7ce",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2448,
        896
      ],
      "id": "67acbac8-8c89-48b2-9a5c-a477aee8463f",
      "name": "Respond to Webhook25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alertas_pendentes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1936,
        896
      ],
      "id": "3d95e809-2d21-421d-ae70-8c20bd75b452",
      "name": "Alerta_pendente",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \nSELECT * FROM saas_vendas.dashboard_alertas_pendentes;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2208,
        896
      ],
      "id": "341e8ab7-95ed-4ce4-b705-04e9ea938b12",
      "name": "SELECT * FROM saas_vendas.dashboard_alertas_pendentes",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2416,
        1136
      ],
      "id": "69364bfc-2882-4583-bf02-a63eb6e53a3d",
      "name": "Respond to Webhook26"
    },
    {
      "parameters": {
        "path": "modelos_temp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1920,
        1136
      ],
      "id": "c5596fda-14e4-4a81-9641-ec65af6d745e",
      "name": "modelos_temp",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n SELECT *\nFROM contab.template_eventos_contabeis\nORDER BY id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2192,
        1136
      ],
      "id": "3bd44164-8f35-45e5-b67c-6e6a1b6ac688",
      "name": "modelos_temp1",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2432,
        1312
      ],
      "id": "14b8fe99-8dc7-4730-8dfb-3ab20b3f97a6",
      "name": "Respond to Webhook27"
    },
    {
      "parameters": {
        "path": "categoria_modelo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1936,
        1312
      ],
      "id": "10581d33-e65d-418d-85f6-18affc3f880d",
      "name": "Categoria Modelo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " \n SELECT *\nFROM public.vw_categorias_modelos\nORDER BY 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2208,
        1312
      ],
      "id": "8bb075e9-f96c-4242-a960-87ea06a56c74",
      "name": "public.vw_categorias_modelos",
      "credentials": {
        "postgres": {
          "id": "wvOAuqaHViEwm60r",
          "name": "FInanceFlow"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Edit_historico_assinatura": [
      {
        "json": {
          "empresa_id": 1
        }
      }
    ],
    "Edit_historico_assinatura1": [
      {
        "json": {
          "empresa_id": 1,
          "status": null,
          "forma": null,
          "data_inicio": "20260101",
          "data_fim": "20260208"
        }
      }
    ],
    "Edit_Cobranca": [
      {
        "json": {
          "empresa_id": 1,
          "status": null,
          "forma": null,
          "data_inicio": "20260101",
          "data_fim": "20260208"
        }
      }
    ],
    "Edit_pagamentos": [
      {
        "json": {
          "empresa_id": 1,
          "meio_pagamento": "",
          "data_pagamento": "20260202",
          "status": ""
        }
      }
    ]
  },
  "connections": {
    "ChecaAssinatura": {
      "main": [
        [
          {
            "node": "Editproc_check_acesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editproc_check_acesso": {
      "main": [
        [
          {
            "node": "proc_check_assinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proc_check_assinatura": {
      "main": [
        [
          {
            "node": "Respond to Webhook16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FechaAssinatura": {
      "main": [
        [
          {
            "node": "Edit_FechaAssinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_FechaAssinatura": {
      "main": [
        [
          {
            "node": "proc_fechar_assinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proc_fechar_assinatura": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "minhas assinaturas": {
      "main": [
        [
          {
            "node": "Edit_historico_assinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_historico_assinatura": {
      "main": [
        [
          {
            "node": "Historico_Assinaturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Respond to Webhook17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaEmpresa": {
      "main": [
        [
          {
            "node": "Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empresas": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historico_Assinaturas": {
      "main": [
        [
          {
            "node": "Respond to Webhook18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_historico_assinatura1": {
      "main": [
        [
          {
            "node": "AssinaturasAdmin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AssinaturaAdmin": {
      "main": [
        [
          {
            "node": "Edit_historico_assinatura1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AssinaturasAdmin": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CobrançaAdmin": {
      "main": [
        [
          {
            "node": "Edit_Cobranca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_Cobranca": {
      "main": [
        [
          {
            "node": "Cobranca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cobranca": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagamentos": {
      "main": [
        [
          {
            "node": "Edit_pagamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_pagamentos": {
      "main": [
        [
          {
            "node": "Sqlpagamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sqlpagamentos": {
      "main": [
        [
          {
            "node": "Respond to Webhook21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DashBoard": {
      "main": [
        [
          {
            "node": "DashBoarCarsSql",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DashBoarCarsSql": {
      "main": [
        [
          {
            "node": "Respond to Webhook22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DashBoardVencendo": {
      "main": [
        [
          {
            "node": "Respond to Webhook24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DashVecendo": {
      "main": [
        [
          {
            "node": "DashBoardVencendo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DashGraficos": {
      "main": [
        [
          {
            "node": "DashBoarGrafico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DashBoarGrafico": {
      "main": [
        [
          {
            "node": "Respond to Webhook23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta_pendente": {
      "main": [
        [
          {
            "node": "SELECT * FROM saas_vendas.dashboard_alertas_pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT * FROM saas_vendas.dashboard_alertas_pendentes": {
      "main": [
        [
          {
            "node": "Respond to Webhook25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelos_temp": {
      "main": [
        [
          {
            "node": "modelos_temp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelos_temp1": {
      "main": [
        [
          {
            "node": "Respond to Webhook26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categoria Modelo": {
      "main": [
        [
          {
            "node": "public.vw_categorias_modelos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "public.vw_categorias_modelos": {
      "main": [
        [
          {
            "node": "Respond to Webhook27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "984bee58-57b2-49e7-8dff-1945717f0078",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "CsRz933ggEtQXnFu",
  "tags": []
}